@media only screen and (max-width: 767px),
only screen and (max-device-width: 767px) {


  .common-review-card-shadow .dish-heart-fill-image{
    left: 1vw;
    top: 1.5vw;
    width: 4.5vw;
  }
    .dish-heart-fill-image {
        position: absolute;
        top: 15px;
        right: 25px;
        left: auto !important;
        width: 22px;
        cursor: pointer;
        z-index: 10;
    }
    input.text-uppercase.font-bold.width60 {
        width: 90%;
        border-radius: 0px;
        padding:  3.5vw 3vw 3.5vw 3vw !important;
    }
    .signup-form {
        padding: 3vh 30px 0 !important;
    }
    .signup-box {
        height: 190% !important;
    }

    .review-rating-container
{min-height: auto;}
    /* common style */
    .mobilenopadding {
        padding: 0px !important;
    }

    .profile-img {
        width: 135px;
        margin-right: -8px;
    }
    .mobilemargin0 {
        margin: 0px;
    }

    .mobilemargintop0 {
        margin-top: 0px;
    }
    /* Add IB*/
    .rating-review-restaurant-service {
        font-size: 3.5vw !important;
        margin-bottom: 1vw;
        margin-top: 12px !important;
    }

    /* Add Date:07.11.2019 */


    .mobilepaddingleft7 {
        padding-left: 7px;
    }

    .mobilemarginleft15 {
        margin-left: 15px;
    }

    /* common style ends */

    /*signup page */
    .signup-page .modal-backdrop.in {
        background-color: #fff;
    }

    .signup-page {
        background-image: none;
    }

    .signup-line-throuh-text {
        margin-bottom: 4vw;
    }

    .custom-modal-dialog {
        width: 100%;
    }

    .restaurant-name {
        font-size: 5.2vw;
    }

    .restaurant-rating {
        font-size: 5.2vw;
    }

    .rating-icon {
        width: 5.2vw;
    }

    /*signup page ends*/

    /* restaurant search results */
    .mobile-restaurant-search-dropdown .restaurant-dish-tabs li a {
        font-size: 6vw;
        line-height: normal;
        padding-bottom: 0;
        padding-right: 0;
    }
    .mobile-restaurant-search-dropdown .restaurant-dish-tabs li:first-child a {
        padding-left: 0;
    }
    .padding30pixel
    {
        padding: 0 30px;
    }

    .body {
        overflow-y: hidden;
    }

    /* restaurant search results ends */
    /* google map  css */
    #google-tag {
        width: 100%;
        height: 250px;
    }

    #map {
        width: 100%;
        height: 250px;
        background-color: grey;
    }

    /*filter view*/
    .filter-head-content {
        padding: 40px 0px 25px 0px;
    }

    .mobile-filter-main {
        right: 0px;
        padding-right: 0px;
        width: 100%;
    }

    /*filter ends */
    /* resturant error msg */
    .restaurant-error-message {
        position: absolute;
        top: 20px;
        z-index: 5;
        padding-right: 30px;
    }

    .restaurant-error-message span {
        font-size: 2.8vw;
        width: auto;
    }

    .restaurant-error-message img {
        width: 2.5vw;
        cursor: pointer;
        margin-right: 15px;
    }

    .left-rectangle-shape {
        /* width: 31vw; */
        width: 100%;
        height: 20px;
        /* font-size: 3.3vw; */
        font-size: 11px;
        padding-top: 2px;
    }

    .left-rectangle-shape:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-right: 13px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .dish-name-shading-color {
        font-size: 6.7vw;
        font-family: "OpenSans-SemiBold";
    }

    .dish-mobile-rate {
        font-size: 3.4vw;
        color: #eee;
        margin-bottom: 0px;
    }

    .dysh-details ul li img {
        width: 4.2vw;
        margin-right: 1.5vw;
    }

    .dysh-details .title-head a {
        font-size: 0vw;
        float: left;
        width: 100%;
    }

    .dysh-details ul li {
        line-height: 1.3;
    }

    .mobile-common-dish-name {
        font-size: 3.3vw;
        color: #eee;
    }

    .dysh-details ul .title-head {
        margin-bottom: 0px;
    }

    .amount-display {
        font-size: 4.3vw;
    }

    .showToggle .mobile-common-dish-name {
        font-size: 2.1vw;
    }

    .showToggle .viewportwidth {
        width: 35.7vw;
    }

    .showToggle .dish-name-shading-color {
        font-size: 4.5vw;
    }

    .showToggle .dish-mobile-rate {
        /*font-size: 4.3vw;*/
    }

    /* splash page start */
    .splash-page {
        background-size: auto;
        background-repeat: no-repeat;
        /*    background-attachment: fixed;*/
        background-position: center;
    }

    .splash-logo {
        width: auto;
        height: auto;
    }

    .splash-header {
        font-size: 7vw;
    }
    .rating-review-fill-heart {
        position: absolute;
        left: auto !important;
        top: 15px;
        right: 25px;
        width: 22px;
        z-index: 10;
    }
    .restaurant-dish-tabs li {
        width: 49%;
        color: #ccc;
    }

    .tab-con {
        font-size: 17px;
    }

    .primary-loc-image-1 {
        width: 21px;
    }

    .input-lg-tag {
        padding: 6px 34px;
        height: 30px;
        font-size: 0.9vw;
    }

    .btn-splash-submit {
        position: absolute;
        width: 48px;
        height: 31px;
    }

    .btn-splash-submit img {
        width: 3vw;
    }

    .splash-ser li {
        padding: 6px 12px;
    }

    .splash-ser-tag li {
        padding: 6px 15px;
    }

    .splash-ser-tag {
        width: 116%;
        top: 30px;
    }

    .img-icon-splash {
        width: 20px;
    }

    .restaurant-dish-tabs li {
        width: auto;
    }

    .viewportwidth {
        width: 55.7vw;
    }

    /*splash page ends*/
    /*forgot password starts*/
    .common-card-width {
        margin: 0px;
    }

    .common-card-head-title {
        font-size: 8.6vw;
        margin-top: 40px;
        /*text-shadow: unset;*/
    }

    .forgot-pwd-card-main {
        border: 0px;
    }

    /*forgot password ends*/

    /* card management list*/
    .cardmanage-form-main {
        padding: 40px 20px;
    }

    .card-number-img {
        width: 8vw;
        top: -6px;
        right: 15px;
    }

    .common-rightside-card-main {
        border: 0px;
    }

    .common-card-width {
        box-shadow: unset;
    }

    .delete-card-warning-msg {
        background-size: 53px;
        font-size: 3vw;
    }

    .vertical-align-center {
        width: 90%;
    }
    .common-card-head-title {
        font-size: 22px !important;
        margin-top: 20px;
        text-shadow: unset;
    }
    .order-review-close-modal {
        font-size: 5vw;
        margin-top: 6vw;
        color: #000;
        opacity: 1;
        position: relative;
        right: 16px;
        top: 9px;
    }
    .payment .signup-form1 input {
        border-radius: 0px;
        border-bottom: 2px solid #658258 !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        background-color: transparent !important;
        box-shadow: none;
       height: 37px !important;
        padding-left: 0px;
        /* font-size: 2rem; */
        font-size: 1.5vw;
    }
    .vertical-align-center1 {
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }
    .vertical-align-center {
        display: table-cell;
        pointer-events: none;
    }
    .save-card{margin-top: 0px;}

    .restarant-address-txt {
        display: none;
    }

    /* card management list ends */

    /*.splash-ser{
    top: 30px;
  width: 110%;
  left: 15px;
}*/
    .img-icon-splash {
        width: 5vw;
    }

    .tab-con {
        font-size: 5vw;
    }

    .splash-tab-links {
        width: 95%;
    }

    #res_error,
    #outlet_error {
        position: relative;
        left: -21px;
        bottom: 19px;
    }

    #image-holder1 img,
    #image-holder3 img {
        position: relative;
        left: -38px;
    }

    /****************** edit profile*********************/
    .edit-form {
        padding: 0px 15px;
    }

    .edit-img-icon {
        top: 7%;
        left: 54%;
    }
    .history-count {
        margin: 0px !important;
    }

    .edit-icon-img-png {
        top: 8%;
        left: 56%
    }

    .edit-back-img {
        padding-top: 15px;
    }

    .edit-profile-modal .photo__options .photo__zoom {
        width: 80%;
    }

    .custom-modal-dialog {
        max-width: 100%;
        margin: 0 0px;
        height: 100%;
    }
    .godysh-card-container
    {
        padding-right: 0; width: 100%;
    }
    .modal-content
    {
        border-radius: 0px;
        box-shadow: none; border:0
    }

    .cr-slider[type="range"] {
        display: inline-block;
        width: 100%;
        margin-left: 43px;
    }

    .zoom-img {
        z-index: 9999;
        color: #ffff;
        font-size: 1vw;
        position: relative;
        top: 319px;
        float: left;
        padding-left: 0px;
    }

    .croppie-container .cr-viewport,
    .croppie-container .cr-resizer {
        position: absolute;
        border: 2px solid #d8d0d0;
        margin: auto;
        top: 46px;
        right: 144px;
        left: 0px;
        box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    /* edit profile page */
    .edit-profile-modal {
        margin: 0px !important;
        width: 100% !important;
        padding-right: 0 !important;
    }

    .delet-photo-section {
        float: left;
        width: 100%;
    }

    .delet-photo-section li {
        display: block;
        float: left;
        width: 100%;
        text-align: center;
    }

    .change-photo-block {
        float: left;
        width: 100%;
    }

    .change-photo-block li {
        display: block;
        float: left;
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    .remove {
        display: inline-block;
    }

    .btn-delete {
        float: unset !important;
        margin-bottom: 15px;
        font-size: 5.6vw !important;
    }

    .btn-apply {
        float: unset !important;
        font-size: 5.5vw;
    }

    .unk {
        /*padding-right: 0px !important;*/
    }

    .rightside-form {
        min-height: inherit;
    }

    .custom-modal-tag {
        margin: 0px;
    }

    /* edit profile page ends */

    .signup-form .form-group label {
        font-size: 2.7vw;
    }

    .form-submit-main .submit-button {
        /*padding: 2vh 4vw;*/
        padding: 1.5vw 8vw;
        font-size: 2.5vw;
    }

    .signup-form input {
        font-size: 2.7vw;
    }

    .signup-form .form-control:focus+.form-control-placeholder,
    .signup-form .form-control:valid+.form-control-placeholder {
        font-size: 2vw;
    }

    /*dashboard screen responsive*/
    .dashbord-bg-image {
        background-image: none;
        background-color: #000;
    }

    .dashboard-profile-main {
        top: 0px;
        left: 0px;
        right: unset;
        width: 96%;
        position: absolute;
    }

    .dashboard-details-main {
        width: 99%;
        margin-left: 2%;
        margin-top: 14px;
    }

    .dashboard-profile-main::before {
        background-position: center;
    }

    .common-detail-box {
        margin-bottom: 7px;
    }
    .mini-height {
        min-height: auto;
    }

    .rating-reviews-main {
        width: 40%;
        margin-right: 0px;
    }

    .order-history-height {
        min-height: 150px;
    }

    .order-history-active {
        box-shadow: unset;
        transform: unset;
    }

    .order-item-list-container {
        padding: 0 4vw;
        font-size:12px !important;
    }

    .order-history-collapse {
        pointer-events: all;
    }

    .rating-reviews-main span {
        width: 100%;
        display: block;
        text-align: center;
    }

    .rating-reviews-main small {
        text-align: center;
        display: block;
    }

    .profile-img-cell li a {
        padding: 10px;
        text-align: center;
        opacity: 1;
    }

    .profile-content-cell {
        float: left;
        width: 15%;
        /*display: none;*/
        background-color: rgba(0, 0, 0, 0.2);
        /*transition: width 10s;*/
    }

    .profile-content-cell li a {
        font-size: 28px;
        padding: 10px;
    }

    .order-pash-month {
        display: block;
    }

    .dashboard-profile-options {
        transition: width 0.2s;
    }

    .textcenter {
        text-align: center;
    }

    .profile-list-img {
        width: 27px;
        margin-right: 0px;
        pointer-events: all;
    }

    .profile-list-content {
        display: none;
        padding-left: 30px;
    }

    .profile-img-section {
        pointer-events: all;
    }

    .profile-list-panel-main {
        /*background-color: #000;*/
    }
    .choice-of-bread-options
    {
        padding-left: 20px;
        padding-top: 10px;
    }
    ul.list-unstyled.active-restaurant-details-main.mobile-pull-right.mobile-right-list-details {
        width: 53%;
    }
    .godysh-card-design .card-details .name
    {
        font-size: 5vw;
    }
    .search-filter-text {font-size: 12px; padding:10px 0}
    .godysh-card-design .card-details .address
    {
        font-size: 3vw;
    }
    .godysh-card-design .card-bottom .regular-text {

        font-size: 3vw;
    }
    .godysh-card-design .card-details .rating-star-right
    {
        font-size: 4vw;
    }
    .specila-inst-box
    {
        margin-left: 30px;
    }
    .all-day-menu.custom-alm{
        margin-left: 18px;
    }

    .floatleft {
        float: left !important;
    }

    .floatright {
        float: right !important;
    }

    .profile-img-cell {
        float: left;
        width: 17%;
        background-color: rgba(0, 0, 0, 0.2);
        transition: width 1s;
    }

    .profile-img-cell li a {
        font-size: 28px;
    }

    .dashboard-main {
        top: 120px;
        width: 85%;
        margin-left: 11%;
    }

    .zindexlow {
        z-index: -1;
    }

    .earning-total {
        font-size: 4vw;
    }

    /*dashboard screen responsive ends*/

    /*favorite page starts*/
    .favorite-card-title {
        font-size: 5vw;
        margin-bottom: 4vw;
    }

    .favorit-rating-icon {
        width: 3.8vw;
    }

    .mobile-waittime-icon-right {
        float: right;
        margin-left: 10px;
    }

    .favorite-rating-number {
        font-size: 3.3vw;
    }

    .favorite-reviews {
        font-size: 3vw;
    }

    .favorite-reviews-price {
        font-size: 4vw;
    }

    .favorite-fill-heart {
        width: 5vw;
        top:1px;
    }

    .favorite-main {
        margin-top: 0px;
    }

    .favorite-card-sup-container {
        padding: 0 30px;
    }

    .favoritetabs {
        /*padding: 0px 30px;*/
    }

    .user-favorite-reviews-main {
        margin-top: 7vw;
    }

    .favorite-rating-number {
        margin-left: 2.8vw;
    }

    /*favorite page ends*/

    /*restaurant details view starts*/
    #rating-review-error {
        background-color: rgba(0, 0, 0, 0.7);
        left: 0px;
        top: 0px;
        right: 0px;
    }

    .restaurant-detail-view-main {
        margin-top: -20px;
        min-height: inherit;
        background-size: 100%;
        background-position: inherit;
    }

    .restarant-detail-content-view {
        margin-left: 7px;
        font-size: 3vw;
    }
    img.favorit-rating-icon.mobile-waittime-icon-right {
        display: none;
    }
    .popular-items-box-shadow {
        box-shadow: 0px 0px 7px 13px #e7e4e4;
    }

    .restaurantdetail-address-container {
        margin-top: 0px;
        padding-left: 0px;
        position: absolute;
        left: 0px;
        bottom: 28px;
        padding: 0px;
    }
    .moreIlink {
        font-family: "SourceSansPro-ExtraLight";
        font-size: 3vw;
        color: #eeeeee;
        cursor: pointer;
        margin-bottom: 0px;
        font-weight: 300;
        text-align: right;
        width: auto;

    }

    .detail-view-items-list {
        padding: 15px 30px 0px 15px;
        border-bottom: 0px;
        padding-right: 10px;
        /*position: inherit;*/
        top: 0px;
        /*background-color: unset;*/
    }

    .restaurantdetail-view-title-des {
        font-size: 6vw;
        margin-bottom: 8px;
    }

    .mobile-pull-left {
        float: left; width: 40%;
    }

    .mobile-pull-right {
        float: right;
    }

    .active-restaurant-details-main li {
        font-size: 3vw;
        margin-bottom: 2px;
    }

    .mobile-right-list-details li {
        text-align: right;
    }
    .empty-cart-left-container .common-popular-item-width{width: 100%;}
    .common-popular-item-width {
        width: 100%;
        margin-bottom: 15px;
    }
    .restaurant-search-dropdown
    {
        width: 100%;
    }
    input.input-lg.form-control.primary-location.autosearch {
        height: 32px;
        font-size: 3.5vw;
    }
    input.form-control.input-lg.secondary-location-input.autosearch
    {
        font-size: 3.5vw;
        height: 32px;
    }
    input.form-control.input-lg.secondary-location-input.autosearch {

        background-size: 23px;
    }
    .mobile-restaurant-search-dropdown .restaurant-dish-tabs .active-restaurant-details-main{
        color: #000;
    }
    .MobileTabview
    {
        padding: 0 30px;
    }

    .restaurantdetail-title {
               line-height: normal;
    }
    #boxscroll .item{padding-top:10px}
    .all-day-menu-select-filter {
        width: 30%;
    }
    .item {
        padding: 10px 0;
    }
    .adc-Count .increment-value
    {
        font-size: 4.2vw;
    }
    .increment-value
    {
        font-size: 4.5vw;
    }

    .popular-item-rating-icon {
        width: 6vw;
    }

    .popular-item-rating-total {
        font-size: 3vw;
        padding-top: 0.8vw;
    }

    .popular-item-reviews {
        /* font-size: 2.5vw; */
    }

    .popular-item-price {
        /* font-size: 3vw; */ margin-top: 5px;
    }

    .popular-item-heart {
        right: inherit;
        top: 10px;
        width: 7vw;
        left: 10px;
    }

    .popular-items-card-main {
        padding: 0px 15px 10px 15px;
    }

    .popular-list-card-img {
        border-radius: 5px;
        height: 106px;
    }
    .common-review-card-shadow
    {
        height: 106px;
    }

    .text-image-protection {
        border-radius: 5px;
    }

    .popular-item-heart-hover {
        right: inherit;
        top: 10px;
        width: 7vw;
        left: 10px;
    }

    .popular-item-details {
        min-height: 100%;
        position: relative;
        left: 0;
        padding: 2vw;
    }
    .ipaddisplay {
        min-height: 90px !important;
    }
    .col-xs-12.nopadding.scrollbar-inner.scroll-main
    {
        padding-bottom: 40px;
    }
    .rating-review-submit {
        width: 100%;
        font-size: 4.1vw;
        margin-top: 9vw;
        padding: 0vw 3vw 0.3vw 3vw !important;
        box-shadow: none !important;
        border-radius: 4px;
    }
    .padding10{  padding: 3.5vw 3vw 3.5vw 3vw !important;}
    .stickBtn {position: fixed; bottom:0; width: 90%;}
    .stickBtn input{width: 100% !important; margin-bottom: 0;}
    .closeHours
{
    margin-left: 62px;
    width: 100%;
}
.w-100-a
{
    width: 100%;
}
    .orderSummaryscrollMob
    {
    height: 85vh;
    overflow-y: auto;
    padding-bottom: 50px;
}

    .popular-rating-reviews {
        position: absolute;
        bottom: 0px ;
        width: 100%;
        padding: 12px 20px 7px 0px;
    }

    .popup-cancel-btn,
    .popup-delete-btn {
        font-size: 3.3vw;
    }

    /*see review modal starts*/
    .review-rating-title {
        font-size: 6vw;
    }

    .review-rating-icon {
        width: 4.4vw;
    }

    .review-rating-total {
        font-size: 4vw;
    }

    .see-rating-review-detail {
        background-color: inherit;
        min-height: inherit;
        box-shadow: inherit;
        background-image: inherit;
        z-index: 1;

        bottom: 0px;
    }

    .custon-back-drop {
        background-color: inherit;
    }

    .restaurant-review-details {

        top: 100px;
        left: 30px;
        right: 20px;
    }
    .review-rating-contentwrao {
        height: 40vh;
        position: absolute;
        z-index: 10;
        width: 100%;
    }

    .see-review-modal-dialog {
        width: 100%;
        margin: 0% auto;
        height: 100vh;
    }

    .see-review-rating-list-main li:last-child {
        /* background-image: linear-gradient(rgb(247, 248, 252), rgb(124, 127, 134));
        margin-bottom: 0px;
        box-shadow: 0px 0px 25px 19px rgb(247, 248, 252); */
    }
    .see-review-rating-list-main li {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        padding: 0 40px 0 40px;
    }

    .seereview-back-button-img {
        left: 30px;
    }

    .seerevie-fillheart-img {
        right: 15px;
        top: 12px;
    }

    .rating-review-container {
        width: 13vw;
    }

    .mobile-rating-review-number {
        width: 25vw;
        position: absolute;
        right: 0px;
        top: -11vw;
    }

    .rating-review-list-content {
        font-size: 3.5vw;
        width: 75vw;
        padding-left: 3vw;
    }

    .mobile-rating-review-list {
        margin-left: 9vw;
    }

    .profile-review-title {
        margin-top: 1vh;
        font-size: 5.5vw;
    }

    .review-rating-time {
        font-size: 3vw;
    }

    .custom-scroll-main {
        /*min-height: inherit;*/
        margin-top: 40px;
        height: 100% !important;
        position: inherit;
        overflow: scroll;
        padding: 0 0;
    }

    .review-rating-modal-number {
        font-size: 3vw;
    }

    .review-rating-container {
        box-shadow: 5px 0px 10px 0px rgb(124, 127, 134);
        width: 100%;
    }

    .bottom-box-shadow {
        position: absolute;
        top: 0px;
        box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
        height: 0px;
        width: 100%;
    }
    /* Add IB*/
    .choice-bread-title {
        font-size: 2.5vw !important;
        margin-right: 10px;
    }
    .increment-value {
        margin-top:0.9vw;
        color: #454545; line-height: 20px;
    }
  /* Add Date:07.11.2019*/
    .restaurant-mobile-bottom-shadow {
        box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        width: 100%;
        height: 0px;
        position: absolute;
    }
    input.text-uppercase.font-bold.order-summary-checkout-btn {
        width: 100%;
        border-radius: 2px;
        padding: 4px 0px !important;
        position: relative;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        margin-top: 5px !important;
    }
    .mobile-ratingreview-button {

        width: unset !important;
        display: inline-block !important;
        margin-right: 3vw !important;

    }

    .popular-items-container {
        margin-top: 0px;
    }
    .no-review
    {
        text-align: center;
        width: 100%;
        padding:  0 40px;
    }
    .empty-cart-right-container
    {
            width: 100%;
    padding: 0px 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 0!important;
    display: none;
    }
    .adcClosebtn
{
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
    width: 15px;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}
    .custom-detail-modal-content {
        width: 100%;
        padding-bottom: 50px;
    }
    .review-content-list-right-main {
        width: 100%;
        position: relative;
        left: inherit;
        height: 60vh;
        padding-bottom: 70px;
        border-left: 0px solid #EEEEEE
    }
    .addto-cart-bottom-total {
        background-color: #4f7942;
        /* padding: 15px 15px; */
        border: 0px;
        color: #fff;
        bottom: 0;
        left: 0;

        font-size: 1.2vw;
    }
    .modal-content.custom-detail-modal-content.adcPopup {
        height: 100%;
    }
    .rating-review-restaurant-service {
        font-size: 3vw;
        margin-bottom: 1vw;
        margin-top: 12px !important;
    }

    .addtocart-content-list-mobile {
        min-height: auto;
    }
    .errorpopup{
        padding-bottom:15px !important;
    }
    .small, small {
        font-size: 90%;
    }
    .popupmsg{
        width: 77%;
        word-break: break-all;
        margin-left:53px;
    }

    .addto-cart-bottom-total {
        font-size: 17px;
        margin-top: 0;
        padding:12px 24px;
        /* word-break: break-all; */
    }
    .increment-decrement-main {
        font-size: 1.6vw;
        float: inherit !important;
        text-align: center;
        margin: 0 auto;
        /* width: 200px;  */
        padding-top:0px;
        display: inline-block;
        overflow: hidden;
        padding-left: 0px !important;
    }

    .increment-decrement-main li {
        margin-bottom: 5px;
    }

    .addto-cart-section-bar {
        padding: 5px 10px;
        position: fixed;
        bottom: 0;
        /* height: 51px; */
        border-top: none;
        z-index: 9999;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(77,77,77,0.44);
        -moz-box-shadow: 0px -2px 5px 0px rgba(77,77,77,0.44);
        box-shadow: 0px -2px 5px 0px rgba(77,77,77,0.44);
    }
    .addto-cart-bottom-total .addto-cart-bottom-total{border-radius: 0; padding:13px 5px;}
    .addto-cart-section-bar ul.list-inline{ margin-left: 0; padding-left: 15px;}
    .review-rating-container::after {

        content: '';
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.57) , rgba(253, 253, 253, 0.28));
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .modal-lg.motreInfo-modal-dialog.modal-dialog {
        width: 100%;
        height: 538px;
        /* float: left; */
        position: absolute;
        top: 10%;
        left: 0;
        padding: 0 20px;
        margin: 0;
    }
    .mInfoimg-wrap {
        width: 100%;
        height: 192px;
    }
    .mInfoimg-wrap img {
        width: 100%;
        height: 192px;
    }
    .custom-detail-modal-content.moreInfoSecs {
        width: 100%;
    }


    .incre-decre-card-main {
        display: block;
        float: none !important;
        text-align: center;
    }

    .common-inc-dec {
        width: 30px;
        height: 30px;
    }

    .common-inc-dec img {
        width: 19px;
        margin: 0 auto;
    }

    /*see review modal ends*/

    /*restaurant details view ends*/

    /*restaurant detail empty cart*/
    select {
        background-size: 4.3vw;
    }

    .common-cart-box {
        margin-bottom: 15px;
    }

    .empty-cart-left-container {
        width: 100%;
    }

    .empty-cart-right-container {
        width: 100%;
        padding: 0px 15px;
        height: 100%;
    }
    .place-order-button
    {
        position: fixed;
        bottom: 0;
    }
    .custompaddingAP
{
    margin-bottom: 50px !important;
}
.rating-review-submit
{
    border-radius: 0;
}

    .order-summary-heading {
        font-size: 5vw;
    }
    .order-summary
    {
        height: 100%;
    }

    .cart-empty-text {
        font-size: 5vw;
    }

    .empty-cart-image {
        width: 40vw;
    }

    .order-summary-restaurant-name {
        font-size: 3vw;
    }

    .order-restaurant-list-count {
        width: 6vw;
    }

    .order-summary-edit-main {
        font-size: 2.8vw;
    }

    .order-summary-edit-image {
        width: 3.2vw;
    }

    .order-summary-delete-image {
        width: 3.2vw;
    }

    .popular-items-list {
        display: flex;
        position: relative;
        padding-left: 0px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .popular-items-list li {
        font-size: 4.5vw;
        flex: 1;
        margin: 0rem 4px 2rem 4px;
        white-space: nowrap;
    }

    .all-day-menu {
        font-size: 10px;
    }

    .order-summary-note {
        font-size: 2vw;
        margin-left: 6vw;
    }

    .common-item-size {
        font-size: 3vw;
    }
   .ipad-lan .common-item-size-right2 {
        font-size: 13px;
    }
    .ipad-lan .common-item-size{
        font-size: 14px;
    }
    .ipad-lan .common-item-size-right1{
        font-size: 14px;
    }


    .common-item-size-right1 {
        font-size: 2.8vw;
    }

    .common-item-size-right2 {
        font-size: 2.7vw;
    }

    .order-summary-checkout-btn {
        font-size: 3.2vw;
    }

    .choice-bread-title {
        font-size: 4.2vw;
    }

    .choose-text {
        font-size: 3vw;
    }
    .m-l-r-15{
        margin-left:15px;
        margin-right: 15px;
    }

    .choose-required {
        font-size: 3vw;
    }

    .specila-inst-box {
        font-size: 3vw;
    }

    .common-radio-button {
        font-size: 4vw;
    }

    .common-checkbox {
        font-size: 3vw !important;
    }

    .tickmark {
        height: 20px;
        width: 20px;
    }

    .common-checkbox .tickmark::after {
        width: 15px;
        height: 15px;
    }

    .choice-of-breed {
        padding: 2.8vw 8vw 2.8vw 8vw;
    }

    .choose-required {
        padding: 0.7vh 5vw 0.7vh 5vw;
    }

    .common-cart-box {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    /*restaurant detail empty cart*/

    /*order history default starts*/
    .order-history-card:hover {
        -moz-transform: unset;
        -webkit-transform: unset;
        transform: unset;
    }

    .order-history-rest-name {
        font-size: 6.4vw;
    }

    .order-history-date-price {
        font-size: 12px;
    }

    .order-history-ref-no {
        font-size: 2.5vw !important;
    }

    .order-history-list-main {
        background-color: #fff;
        padding: 0 15px;
    }

    .order-history-main {
        top: 0px;
    }

    .order-history-total-price {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 5vw;
        margin-top: 1vh;
        padding: 2vw 4vw;
    }

    .order-history-collapse {
        cursor: pointer;
    }

    .order-item-list-container {
        font-family: "OpenSans-Regular";
        font-size: 4vw;
        margin-bottom: 1vh;
    }

    .mobile-order-sub-address {
        font-size: 3.4vw;
    }

    .order-history-pickup-badge {
        padding: 1.3vw 6.5vw !important;
        font-size: 2.9vw;
        padding: 4px 28px;
        font-size: 0.9vw;
    }

    .order-history-pickup-badge::before {
        border-right: 0px;
        border-top: 0px;
        border-bottom: 0px;
    }

    .order-history-restaurant-detail {
        position: absolute;
        top: 2.9vw;
        left: 2.9vw;
        right: 2.9vw;
        bottom: 2.9vw;
    }

    .pickup-order-history {
        right: 4vw;
    }

    /*order history default ends*/

    /*rating review starts*/
    .rating-review-sub-main:hover {
        -moz-transform: unset;
        -webkit-transform: unset;
        transform: unset;
        box-shadow: unset;
    }

    .rating-review-main {
        top: 0px;
        background-color: #fff;
    }

    .rating-review-card {
        width: 100%;
    }

    .rating-review-restarant-title {
        font-size: 6.7vw;
        position: absolute;
        bottom: 9vw;
        left: 0vw;
    }

    .rating-review-order-no {
        font-size: 3.4vw;
        position: absolute;
        right: 2.5vw;
        top: 2.5vw;
    }

    .order-pick-up-main {
        top: 0;
        left: 0px;
        position: absolute;
    }
    .rating-review-date {
        font-size: 4.4vw;
        margin: 2vw 0px;
        left: 2.5vw;
    }

    .rating-review-price {
        display: none;
    }

    .rating-review-restarant-name {
        left: 2.5vw;
        right: 2.5vw;
        top: 2.5vw;
        bottom: 2.5vw;
    }

    .rating-now-get-price-green {
        border-bottom: 65vw solid #4f7942;
        border-left: 35vw solid transparent;
    }

    .rating-now-get-price-gray {
        border-bottom: 65vw solid #9f9f9f;
        border-left: 35vw solid transparent;
    }

    .rating-now-text {
        font-size: 4.5vw;
        right: 2.8vw;
        bottom: 2.8vw;
        width: 29vw;
    }

    .rating-review-menu-active::after {
        display: none;
    }

    .rating-review-restaurant-service {
        font-size: 4.2vw !important;
        margin-top: 2vw;
    }

    .food-item-name {
        padding-left: 0px;
        font-size: 3.5vw !important;
    }

    .border-radius10 {
        border-radius: 5px;
    }

    .food-write-review {
        font-size: 3.4vw;
        height: 10vw !important;
        margin-top: 7vw;
    }

    /* .mobile-ratingreview-button {
        padding: 7px 21px 7px 21px !important;
        width: unset !important;
        display: inline-block !important;
        margin-right: 3vw !important;
    } */
    .mobile-rating-review-container {
        cursor: pointer;
    }

    .mobile-review-list-collapse {
        display: none;
    }

    .rating-range-slider .slider .tooltip.top {
        font-size: 2.7vw;
    }

    /*rating review ends*/

    /*order review starts*/
    .order-review-main {
        top: 0px;
        padding: 0px;
        box-shadow: unset;
        border: 0px;
    }

    .order-review-items-total {
        padding-right: 4px;
    }

    .order-review-left-card {
        padding: 0px;
    }

    .order-review-right-card {
        padding: 0px;
    }

    .pickup-address {
        padding: 3.1vw;
        margin-bottom: 2.8vw;
    }

    .pickup-heading {
        font-size: 4.1vw;
        border-bottom: 0;
        cursor: pointer;
        pointer-events: all;
    }

    .order-review-summary {
        font-size: 4.1vw;
    }

    .order-review-list-edit-delete {
        font-size: 4.1vw;
    }

    .order-review-list-edit-delete img {
        width: 4vw;
    }

    .food-type-in-res {
        font-size: 2.3vw;
    }

    .order-review-number {
        width: 8vw;
    }

    .order-review-instructions {
        padding-left: 9.5vw;
    }

    .order-review-total {
        font-size: 4.1vw;
    }

    .order-review-total {
        margin-top: 1.3vw;
        margin-bottom: 1.3vw;
    }

    .order-review-detail-main {
        padding-bottom: 1.5vw;
    }

    .order-review-dish-description {
        padding-bottom: 3vw;
    }

    .order-submit-img {
        width: 11vw;
    }

    .mobile-order-dish-details {
        margin-top: 2vw;
    }

    .pickpup-restaurant-name {
        font-size: 4.1vw;
    }

    .pickup-address-list li span {
        font-size: 3.4vw;
    }

    .pickup-address-list li img {
        width: 3vw;
        margin-right: 1.8vw;
    }

    .pickup-address-list {
        padding-left: 3vw;
        margin-bottom: 1.7vw;
        margin-top: 1.5vw;
    }

    .pickup-address-list li {
        margin-bottom: 1.5vw;
    }

    .saved-cards-list {
        padding-left: 7vw;
    }

    .order-payment-credits {
        font-size: 4.1vw;
    }

    .pending-amount-info {
        font-size: 2.3vw;
        margin-bottom: 2vw;
        margin-top: 1vw;
    }

    .saved-card-title {
        font-size: 3.5vw;
    }

    .saved-cards-list li {
        font-size: 4.1vw;
    }

    .order-review-payament-img {
        width: 4.7vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }

    .visa-name {
        font-size: 2.8vw;
    margin: 5px;
    }

    .add-card-text {
        font-size: 4.1vw;
    }

    .orderview-payment-price {
        font-size: 4.1vw;
    }

    .mobile-expand-order-view {
        display: none;
        margin-top: 2vw;
    }

    .mobile-order-review-border {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: 10px;
        width: 100%;
        float: left;
    }

    .expanded-active {
        display: none;
    }

    .mobile-display-block {
        display: block !important;
    }
    /* Add IB*/

    /* Add Date:07.11.2019*/
    .mt-18{
        margin-top:18px !important;
    }
    .mobile-show-info {
        font-size: 0.9vw;
        font-size: 2.8vw;
    }
    .empty-cart-left-container .common-popular-item-width {
        width: 100%;
    }

    /*order review ends*/

    /*order confirmation page*/
    .common-card-padding {
        padding: 0px 15px;
        padding: 0px 4vw;
    }

    .order-confirmation-container {
        top: 0px;
        border: 0px;
        box-shadow: unset;
        padding: 0px;
    }

    .order-confirm-heading {
        font-size: 5.5vw;
        margin-bottom: 3vw;
        padding-bottom: 1vw;
    }

    .order-confirm-id {
        font-size: 5.5vw;
        float: left;
        width: 100%;
    }

    .order-confirm-status {
        font-size: 5.1vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        float: left;
        width: 100%;
    }

    .order-confirm-price-style {
        font-size: 7.3vw;
    }

    .mobile-order-confirm-card {
        border: 1px solid #979797;
        border-radius: 5px;
        padding: 2.1vw 4.5vw;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.12);
        margin-bottom: 2.8vw;
    }

    .orderconfirmation-main {
        border: 0px;
        border-radius: 0px; box-shadow:unset;
        margin-bottom: 0px;
        padding: 0px;
        box-shadow: unset;
    }

    .order-confirm-pickup-details {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 5.5vw;
    }

    .estimate-pickup-button {
        font-size: 5.5vw;
        width: 100%;
        padding: 2vw;
    }

    .order-confirm-pickup-list li span {
        font-size: 4.4vw;
    }

    .order-confirm-pickup-list li img {
        width: 3.5vw;
        margin-right: 2.8vw;
    }

    .order-confirm-restaurant-name {
        font-size: 5.5vw;
    }

    .orderconfirm-address-card {
        padding: 2vw 5vw;
    }

    .order-confirm-restaurant-name {
        margin: 1.5vw 0px;
    }

    /*order confirmation page ends*/

    /*faq page starts*/
    .faq-container {
        top: 0px;
    }

    .faq-heading-text {
        font-size: 8.2vw;
        margin: 3vw 0vw;
    }

    .faq-dropdown-heading {
        font-size: 6.1vw;
        padding: 3vw 4vw;
    }

    .faq-content-style {
        font-size: 4vw;
    }

    .faq-collapse-icon {
        width: 7vw;
    }

    .faq-collapse-dropdown-main .panel-default {
        margin-bottom: 3vw;
    }

    .faq-collapse-dropdown-main .panel-default>.panel-heading+.panel-collapse>.panel-body {
        padding: 0vw 4vw;
    }

    .faq-collapse-dropdown-main {
        padding-top: 2.2vw;
    }

    /*faq page ends*/


    /* Submit Ticket from order */

    .submit-ticket-content .form-content{
        border:none;
        box-shadow: none;
        padding: 0;
    }

    .submit-ticket-content .form-content h4.title{
        font-weight: 400;
        text-align: center;
    }

    .submit-ticket-content .form-inner{
        margin: 0;
    }

    .submit-ticket-content .form-inner .row{
        margin:0;
    }

    .order-form .form-group .padding-web-left-0{
        padding-left: 15px;
    }

    .order-form .form-group .line-input{
        text-align: left;
    }

    .order-form .control-label {
        font-size: 18px;
    }

    .submit-ticket-content .mobile-back p{
        font-size: 30px;
        font-weight: 800;
        color: #000000;
        margin: 0;
    }


    /* Update Ticket */

    .update-ticket .update-section {
        border: 1px solid #658258;
        border-radius: 8px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
        padding: 16px;
    }

    .update-ticket .update-section p {
        font-size: 18px;
    }

    .update-ticket .update-section h5 {
        font-size:8px;
    }

    .submit-ticket-content .form-content h4 {
        font-size:10px;
        text-align: left;
    }
    .dashbord-bg-image {
        background-image: none;
        background-color: #fff;
    }
    .dashboard-title {
        border-bottom: none;
        /* border-color: rgba(210, 210, 210, 0.8); */
        padding-bottom: 5px;
        font-size: 25px;
        margin-top: 0.8vw;
        color: #000;
    }
    .common-credits-status {
        font-size: 2.5vw;
    }
    .credits-price {
        margin-bottom: 0px;
        font-size: 3vw;
    }
    .order-pash-month {
        font-size: 15px;
    }
    .order-pash-month {
        display: inline-block;
    }
    /* .order-history-height {
        min-height: 153px;
    } */
    h1 span.font-size{
        font-size: 23px;
        text-align: center;
    }
    .order-review-rating {
        font-size: 23px;
    }
    .dashboard-title {
        border-bottom: none;
        /* border-color: rgba(210, 210, 210, 0.8); */
        padding-bottom: 0px;
        font-size: 2.5vw;
       margin-top: 0.8vw;
        color: #000;
        margin-bottom:0px !important;
    }
    .order-history-height {
        min-height: 131px;
    }
    .mini-height {
        min-height: 131px;
    }
    .credit-details-main {
        position: relative;
        /* bottom: 0px; */
    }

  .top-shape {
  display:none;
}
.bottom-shape {
    display:none;
  }
  .order-history-pickup-badge {
    padding: 2.3vw 6.5vw !important;
    font-size: 2.9vw;
    padding: 4px 28px;
    font-size: 11px;
}
.common-brand-color h3{
    font-weight:800 !important;
}
.mobile-order-history-title {
    font-size: 6.4vw;

     margin-bottom: 5px !important;
    font-family: "SourceSansPro-ExtraLight";
}
.order-history-list-main:first-child {
    padding-top: 7px;
}
.padding1vw {
    padding: 7px !important;
   }
    /* Add Date :06/11/2019*/
    /*Add IB*/
    .rating-review-submit-main {
        padding: 1vw 2vw;
        margin-top: 15px;
    }
    /* Add Date :06/11/2019*/
}

/*** Add By:IB  **/
@media (max-width: 740px) and (orientation : landscape) {
.popular-rating-reviews {position: absolute;bottom: -11px;width: 100%;padding: 12px 20px 7px 0px; }
#content-tag {top: 170px;}
.land-view{width: 80%;}
.increment-value { margin-top: 0px; color: #454545;}
}
@media (max-width: 640px) and (orientation : landscape) {
    .popular-rating-reviews { position: absolute; bottom: -14px; margin-bottom: 10px; }
    .restaurantdetail-title {font-size: 2.3vw;line-height: normal; }
    .popular-item-price { font-size: 3vw;}
    /*Add IB*/
    .mobile-order-history-title {
        font-size: 4.5vw;
        margin-bottom: 5px !important;
        font-family: "SourceSansPro-ExtraLight";
    }
    .mobile-no-of-orders {
        font-size: 3.2vw;
        margin-bottom: 2vw;
    }
    .rating-review-restaurant-service {
        font-size: 3vw !important;
        margin-top: 2vw;
    }
    .food-item-name {
        font-size: 12px !important;
    }
    .rating-review-submit {
        width: 100%;
        font-size: 4.1vw;
        margin-top: 4vw;
        padding: 2vw 2vw 3vw 2vw;
        box-shadow: none !important;
    }
    .rating-review-submit {
        width: 100%;
        font-size: 2.8vw;
        margin-top: 3px !important;
        padding: 0.8vw 2vw 0.8vw 2vw !important;
        box-shadow: none !important;
        border-radius: 6px;
    }
    input.text-uppercase.font-bold.order-summary-checkout-btn {
        width: 100%;
        border-radius: 2px;
        padding: 4px 0px !important;
        position: relative;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        margin-top: 5px !important;
    }
    .order-summary-checkout-btn {
        font-size: 2.5vw;
    }
    input.text-uppercase.font-bold.order-summary-checkout-btn {
        width: 44% !important;
        border-radius: 2px;
        padding: 4px 0px !important;
        margin-bottom: 0;
        margin-top: 5px !important;
        float: none !important;
        margin-left: 12px !important;
    }
    .rating-now-text {
        font-size: 2.5vw;
        right: 2.8vw;
        bottom: 2.8vw;
        width: 29vw;
    }
    .rating-review-date {
        font-size: 3vw;
        margin: 2vw 0px;
        left: 2.5vw;
    }
    #content-tag {top: 170px; }
    .land-view{width: 80%;}

   /* Add Date:08.11.2019 */


  }



  /** Add Date:06-11-2019  **/

  /*** Add by:IB  ***/
  @media only screen and (max-width: 768px), only screen and (max-device-width: 768px){
  .landschape-height {
       height: 153px !important;
  }
  .rating-review-restaurant-service {
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-top: 12px !important;
}
}
  /** Add Date:07-11-2019  **/


/*** Add by:IB  ***/
@media only screen and (max-width: 1024px){
.all-day-menu-select-filter{ width: 12%;}
.active-restaurant-details-main{ width: 18%;}

}
/* @media only screen and (max-device-width: 1366px) {
    .ipaddisplay{
        min-height:200px !important;
    }
} */





/*** Add Date:06-11-2019  ***/
/***************** ipad view *************************/
@media only screen and (max-width: 992px){
.all-day-menu-select-filter{ width: 15%;}
.closeHours {    margin-left: 50px;}
.mobile-pull-left { float: left; width: 40%;}
.mobile-right-list-details{float: right; text-align: right;  width: 40%;}
.mobile-right-list-details li{ display: block}
.top-shape {
    display:none;
  }
  .home-content1{padding:100px 0}
  .home-content2 {
    padding: 70px 0;
}
  .bottom-shape {
      display:none;
    }
    .order-history-date-price {
        font-size: 2.8vw;
        opacity: 0.8;
    }
    .order-item-list-container {
        padding: 0 4vw;
        font-size:12px !important;
    }
    .order-history-date-price {
        font-size: 12px !important;
        opacity: 0.8;
    }
    /*Add IB*/
    .favorite-card-title {
        font-size: 14px;
        margin-bottom: 1.5vh;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
        position: relative;
    }
    .food-item-name {
        font-size: 9px;
    }
    .choice-bread-title {
        font-size: 1.5vw;
        margin-right: 10px;
    }

    /*Add Date:07.11.2019*/

}





/***************** Mobile view *************************/

@media only screen and (max-width: 1024px),
only screen and (max-device-width: 1024px)  {
    .order-history-ref-no {
        font-size: 1.5vw;
        opacity: 0.8;
    }
    .top-shape {
        display:none;
      }
      .bottom-shape {
          display:none;
        }
}


@media only screen and (max-width: 450px),
only screen and (max-device-width: 450px) {
    .signup-form .form-group label {
        font-size: 5vw;
    }

    .card-number-img {
        width: 12vw;
    }
    .order-history-height {
        min-height: 150px !important;
    }
      /* Add IB */
    .checkbox label span {
        position: absolute;
        top: 60%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #658258;
        font-size: 3vw !important;
    }
    .paddingright15 {
        padding-right: 8px !important;
    }
    .form-submit-main .submit-button {
        background-color: #658258 !important;
        color: #fff !important;
        border-radius: 10px !important;
        padding: 1vh 6vw !important;
        font-size: 15px !important;
        height: auto !important;
    }
    .signup-form {
        padding: 3vh 19px !important;
    }
    /* Add Date:08.11.2019 */
    /* Add IB */
    .choice-bread-title {
        font-size: 3.8vw !important;
        margin-right: 10px;
    }
    .filter-done {
        font-size: 2.5vw;
        font-weight: 300;
        cursor: pointer;
        margin-top: 10px;
    }
    /* Add Date:07.11.2019 */

    /*Add Id */
    .padding1vw {
     padding: auto !important;
    }
    .top-shape {
        display:none;
      }
      .bottom-shape {
          display:none;
        }
        .order-history-pickup-badge {
            padding: 2.3vw 6.5vw !important;
            font-size: 2.9vw;
            padding: 4px 28px;
            font-size: 11px;
        }
        .order-history-ref-no {
            font-size: 13px !important;
            opacity: 0.8;
            margin-top: 6px;
        }
    .all-day-menu-select-filter{width: 100%;}
    .popular-items-navigation{line-height: 2px;}
    .form-submit-main .submit-button {
        /*padding: 2vh 6vw;*/
        /*padding: 1.5vw 8vw 1.4vw 8vw;*/
        padding: 1.8vw 8vw 1.4vw 8vw;
        font-size: 5vw;
    }
      /*Add date:06.11.2019 */

    /*.common-card-head-title{
  font-size: 10vw;
}*/
    .signup-form input {
        font-size: 5vw;
    }

    .signup-form .form-control:focus+.form-control-placeholder,
    .signup-form .form-control:valid+.form-control-placeholder {
        font-size: 3.5vw;
    }

    /* 13SEP2019 New Styles*/
    .godysh-card-container {
        margin-top: 170px;
    }

    .heart-fill-image {
        width: 20px;
    }

    .btn-filter-outline {
        color: #36522e;
        font-weight: 400;
        border-radius: 30px;
        border: 1px solid #36522e;
        padding: 6px 12px;
        font-size: 3vw;
    }
    .search-filter-text{
        padding: 0px 0px 5px;
    }
    .filter-done {
        font-size: 6vw;
        font-weight: 500;
    }
    #content-tag {

        top:162px;
    }
    /* Add IB */
    .godysh-card-design {
        width: 100%;
        float: left;
        margin: 9px 0 !important;
    }
     /* Add Date:07.11.2019 */
    .godysh-card-design .card-bottom .card-price
    {
        font-size: 4vw;
    }

    .search-filter-error-message{
        padding: 10px 20px;
        font-size: 12px
    }
    .item{
        font-size: 3.5vw;
        text-align: center;
        width:auto !important;
    }
    .all-day-menu-select{
        width: 100%;
    }
    .common-popular-item-width{
        width: 100%;
    }
    .empty-cart-left-container .common-popular-item-width
    {
        width: 100%;
    }
    .openHourstxt
{
    display: none;
    font-weight: normal;
}
.mobile-res-name
{
    font-size: 20px;
}
.mobile-sub-address {
    font-size: 16px;
}
.search-filter-text
{
    font-size: 3.5vw!important;
}
.search-filter-text .small{font-size: 100%;}
.btn-filter-show {
    background: #658258;
    font-size: 3vw;
}
.search-type-custom
{
    padding: 10px 30px;
}
/* Add by :IB*/

.dashboard-title {
    border-bottom: none;
    border-color: rgba(210, 210, 210, 0.8);
   padding-bottom: 5px;
   font-size: 3.8vw;
   margin-top: 0.8vw;
   color: #000;
   margin-bottom: 0px;
   padding-bottom:0px !important;
}
.common-credits-status {
   font-size: 13px;
}
.credits-price {
   margin-bottom: 0px;
   font-size: 13px;
}
h1 span.font-size{
   font-size: 23px;
}
.order-pash-month {
   font-size: 12px;
}
.order-review-rating {
   font-size: 23px;
}
.order-pash-month {
   display: inline-block;
}
.mt-0{
   margin-bottom: 0px !important;
}
.rating-review-details {
   margin-top: 0px !important;
   margin-bottom: 0px !important;
}
.mini-height {
   min-height: 150px;
}
.credit-details-main {
   position: relative;
}
.common-box-height1 {
   min-height: 254px;
}
.payment .signup-form1 input {
   border-radius: 0px;
   border-bottom: 2px solid #658258 !important;
   border-top: none !important;
   border-left: none !important;
   border-right: none !important;
   background-color: transparent !important;
   box-shadow: none;
  height:37px !important;
   padding-left: 0px;
   font-size: 2.5vw;
}
.form-submit-main .submit-button {
   background-color: #658258 !important;
   color: #fff !important;
   border-radius: 10px !important;
   padding: 1.5vh 4vw !important;
   font-size: 4vw !important;
   height: auto !important;
   border: 1px solid #658258;
}
/* Add Date :06/11/2019*/
}

/* Add ID*/
@media only screen and (max-width: 850px),
only screen and (max-device-width: 850px) {
    .scroll{
        overflow-y: scroll
    }
    .form-submit-main .submit-button {
        background-color: #658258 !important;
        color: #fff !important;
        border-radius: 10px !important;
        padding: 0.5vh 2vw !important;
        font-size: 18px !important;
        height: auto !important;
    }

    /* Add ID*/
    .rating-review-submit-main {
        padding: 1vw 2vw;
        margin-top: 10px;
    }
    .landschape-height {
        height: 209px !important;
    }
    .godysh-card-design {
        width: 100%;
        float: left;
        margin: 0 0 !important;
    }
    /* Add Date :07/11/2019*/
}
/* Add Date:06.11.2019*/

@media only screen and (max-width: 350px), only screen and (max-device-width: 350px){
.order-pash-month {
    font-size: 10px !important;
}
.checkbox label span {
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #658258;

    font-size: 3vw !important;
}
.customer-info {
    position: absolute;
    left: 12px;
    top: 82px;
    color: #fff;
    width: 299px;
}
.godysh-card-design {
    width: 100%;
    float: left;
    margin: 10px 0 !important;
}
}
