.container-fluid>.navbar-header{padding: 0;}

/****** sidemenu for particualr resturant *************/


.sidenav-mobile {
    height: 100%;
    position: absolute;
    width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    z-index: 9999;
    background-image: url('../images/goDysh-paymentBG.jpg');
    background-size: cover;
    transition: 0.5s;
    padding-top: 0;

}

.sidenav-mobile a {
    padding: 8px 0px 2px 22px;
    text-decoration: none;
    font-size: 1.1vw;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #ffffff6b;
    font-family: 'Source Sans Pro', sans-serif;
}

.sidenav-mobile a:hover {
    color: #f1f1f1;
}

.sidenav-mobile .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
}

/*#main-mobile {
  transition: margin-right .5s;

}*/

@media screen and (max-height: 450px) {
    .sidenav-mobile {
        padding-top: 15px;
    }

    .sidenav-mobile a {
        font-size: 1.4vw;
    }
}

.street-name {
    font-size: 3vw;
}

.custom-icon-tag {
    color: #fff;
    padding-right: 12px;
    width: 30px;
    padding-bottom: 3px;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.dish-options-button-group {
    padding-left: 0px;
}

.custom-catg {
    overflow: auto;
    margin-top: 5px;
}

.custom-btn {
    list-style-type: none;
    display: inline-flex;
}

.custom-btn li {
    margin-right: 7px;
}

.custom-btn li button.btn.btn-default.btn-border {
    border-radius: 50px;
    color: #333;
    background-color: transparent;
    border-color: $primary-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.09vw;
}


.custom-btn li button.btn.btn-default.btn-border:active {
    background-color: $primary-color;
    color: #fff;
}

.custom-btn li button.btn.btn-default.btn-border:focus {
    outline: transparent;
}

#content-tag {
    display: none;
}

.outlet-name {
    position: absolute;
    bottom: 0;
    color: $white;
    padding-left: 15px;
    width: 100%;
}

.outlet-name h4 {
    font-size: 6vw;
    text-shadow: 0px 0px 14px $black;
}

.rating-icon-tag {
    font-size: 2.3rem;
    color: $white;
    padding-left: 12px;
    text-shadow: 0px 0px 14px $black;
}

.one-line-para {
    font-family: "OpenSans-Regular";
    text-shadow: 0px 0px 14px $black;
    font-size: 0.9vw;
    padding-top: 11px;
    color: #eeeeee;
}

.rating-number {
    font-size: 1vw;
    color: #eee;
}

.custom-dollar {
    position: absolute;
    color: #eeeeee;
    right: 20px;
    font-size: 1.4vw;
    bottom: 0px;
}

.row-resturant {
    margin-top: -5px;
}

/***** search result ******/
/******* sidemenu of the profile ***************/
