.search-dish-fetchList
{
    
}
.radioChecked
{
    &:after{
        // background-color: $light-green !important;
    }
}

.common-mobile-header
{
    top: 0px !important;
} 
.search-type-custom
{
    // padding: 10px 15px 0px 15px; 
}
.common-mobile-header-close
{
    position: absolute;
    right: 18px;
    top: -5px;
}
.common-mobile-header-search
{
    margin-left: 0px !important;
    padding: 10px 15px !important;
}

.header-search-drop-arrow{
    position: relative;
    top: -16px;
    right: -5px;
    transition: all .4s;
}
.addressSearchname
{
    cursor: pointer;
}

.mobile-seach-heading
{
    padding: 12px 5px;
}
.mobile-searchField-container
{
    display: table-cell;
    vertical-align: middle;
    border-right: #D9D9D9 1px solid;
}


.mobile-searchText-top
{
    color: #8C8C8C;
    font-family: $new-font-medium;
    font-size: $base-font - 1;
    @include responsive(xsphone) {
        font-size: $base-font - 3;
        margin-bottom: 2px;
    }
}
.mobile-searchText-address
{
    color: $heading-color;
    font-family: $new-font-medium;
    font-size: $base-font + 2;  
    @include responsive(xsphone) {
        font-size: $base-font;
        max-width: 135px !important;
    }
}
.avatar-circle
{
    @include responsive(xsphone) {
        width: 35px;
        height: 35px;
    }
}
.desktop-cartIcon
{
    a{
        padding-top: 17px !important;
        .restaurant-cart-number
        {
            top: 23px;
        }
    }
}
.header-cart
{
    top: 0px !important;
}

.cart-type-style
{
    border-bottom: 1px solid #ccc;
}
.sideCart-name
{
    padding-left: 0px !important;
}

.avatar-circle__m{
    background: url(../images/user.png) no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px;
    margin-top: 7px;
    .initials{
        display: none;
    }
}

.signin-btn__m{
    background-color: transparent!important;
    padding-top: 0;
}

.track-order.track-order__m{
    background-color: #54cf50;
    span{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
}
.header-search-drop-arrow.header-search-drop-arrow__m{
   top: -22px;
}
.map-pin-place-area.map-pin-place-area__m{
    transform: translateY(-70%);
}
.rsd-bg-custom.rsd-bg-custom__m{
    padding: 15px 30px 20px 30px;
}
.rest-hold {
    width: 27px;
    height: 27px;
    background-color: #ffd542;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    border-radius: 50%;
}
span.filter-list__m{
    border-right: none!important;
    padding: 16px 5px!important;
}

.track-order-search__m{
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 15px 17px !important;
}

.pick-delivery-item__m.pick-only{
    margin-right: 15px;
}

.s-fltr__m{
    margin-bottom: 12px!important;
    .food-item{
        width: 27px;
        height: 27px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        margin-bottom: 5px;
        box-shadow: none;
        img{
            width: 23px;
        }
    }
}
.s-fltr__mw{
    width: auto!important;
}
.s-fltr__mw button.VueCarousel-navigation-button:after{
   display: none!important;
}

.custom-next, .custom-prev{
    top: 33%!important;
}

.search-filter-bar__m{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
     -webkit-box-align: center!important;
         -ms-flex-align: center!important;
             align-items: center!important;
     -ms-flex-wrap:wrap;
         flex-wrap:wrap;
}
.godysh-main-container.godysh-main-container__m{
    margin-top: 75px;
}
.VueCarousel-slide{
    span{
        font-weight:400;
        font-size: 16px;
        font-family:"barlow_semi_condensedlight";
    }
}

.rest-hold__xs{
    display: none;
}
@media(max-width:991px){
    .avatar-circle__m{
        margin-top: 0;
    }
}

@media (min-width:768px) and (max-width:992px){
    span.filter-list__m{
        padding: 0!important;
    }
}
@media(max-width:767px){
    .mobile_xsh{
        width: 0;
        visibility: hidden;
    }
    .mobile-searchField-container{
        border-right: none;
    }
    .mobile-right-nav--border{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 20px;
            top:15px;
            width: 1px;
            height: 30px;
            background-color: #D9D9D9;
        }
    }
    .order-1{
        // border-bottom: 1px solid #dedede;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            left: -7%;
            bottom: 0;
            width: 114%;
            height: 1px;
            background-color:#e3e3e3;
        }
    }
    .track-order-search__m.delivery{
        background: #eaeaea;
    }
    .m-0-xs{
        margin-left: 0!important;
        margin-left: 0!important;
    }
    .p-0-xs{
        padding-left: 0;
        padding-right: 0;
    }
    span.pick-delivery-item{
        border-right:none
    }

}


@media (max-width:640px){
    .mobile_xsh{
        width: 0;
        visibility: hidden;
    }
    .mobile_xsh.padding-right0{
        padding-right: 9px;
    }
    .item-count__xsh{
        display: none!important;
    }
    .rest-hold__xs{
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        top: 2px;
        right: 0
    }
   
    .track-order-search__m{
        padding: 10px !important;
    }
   
    span.pick-delivery-item.pick-delivery-item__m{
        padding: 10px 3px!important;
    }
    // span.filter-list.btn-filter-show.filter-list.filter-list__m{
    //     padding-bottom: 0!important;
    // }

    .avatar-circle__m{
        width: 35px;
        height: 35px;
    }
    
   
}

@media (max-width:575px){
   
}
.search-truncated{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}