/***** side nav bar css ******/
.sidenav {
    background-color: #111;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-image: url('../images/go-Dysh-menu-blur.png');
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav a {
    padding: 6px 7px 0px 6px;
    text-decoration: none;
    font-size: 16px;
    color: #c5b3b3;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -17px;
    right: -7px;
    font-size: 29px;
    font-size: 36px;
    margin-left: 50px;
}

.toggle-bar {
    font-size: 25px;
    cursor: pointer;
    margin: 14px;
    position: relative;
    // top: -12px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 16px;
    }
}

/**** side nav bar ends *****/
