// .btn-filter-outline-active {
//   background: #4f7942;
//   color: $white;
//   border: 1px solid #4f7942;
//   transition: all ease 0.3s;
// }
.preload-content-height
{
  min-height: 100vh;
}
// .godysh-card-container {
//   min-height: 550px;
//   @include responsive(tab) {
//     min-height: 530px;
//   }
//   @include responsive(smtab) {
//     min-height: 640px;
//   }
//   @include responsive(phone) {
//     min-height: 550px;
//   }
//   @include responsive(mediumbreak) {
//     min-height: 700px;
//   }
//   @include responsive(xsphone) {
//     min-height: 630px;
//   }
// }
#app .v--modal-overlay{
    z-index: 99999 !important;
    background: #979797e3;
}

.popup-wrap{
    position: relative;
}

.popup-wrap .card-details{
  position: relative;
  width: 100%;
  height: 60px;
  bottom: 0px;
  color: $white;
  /* background: #000; */
  // background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  // background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  // background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.popup-wrap .card-details .name{
  line-height: normal;
  font-size: 22px;
  text-shadow: 1px 1px 15px #000000f5;
}
.popup-wrap .card-details .rating-star-right{
  font-size: 20px;
  line-height: normal;
  padding-left: 10px;
}
.popup-wrap .card-details .dish-rating-list-img {
    width: 20px;
    vertical-align: sub;
}
.popup-wrap .close-popcard-img{
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 22px;
  color: #454545;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
}
.popup-wrap .close-popcard-img img{
  width: 20px;
  height: auto;
}
.popup-wrap .close-popcard-img:hover{
  color: $white;
}
.popup-wrap .close-popcard-img:hover i{
  text-shadow: 1px 1px 0px #10101082;
}
.popup-wrap .popupFavUnfav{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: auto;
}
/* .popup-wrap {
  cursor: auto;
} */

a.card-image-zoom{
    color: $white;
    position: absolute;
    z-index: 9;
    font-size: 22px;
    bottom: 9px;
    right: 15px;
}
.godysh-card-design .card-details .rating-star-right {
    line-height: 25px;
}
.godysh-card-design .card-details .address{
  height: auto;
  margin-bottom: 5px;
}
.godysh-card-design .card-details .rating-star{
  margin-bottom: 9px;
}
.godysh-card-design .card-details .rating-star img{
  position: relative;
  top: -2px;
}
.godysh-card-design .card-bottom .regular-text img {
    position: relative;
    top: -1px;
}
.godysh-card-design .card-details .name{
  text-overflow: inherit;
}
.godysh-card-design .card-details .name:after{
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 0 55px 55px $white;
}
.godysh-card-design .card-image{
  z-index: 2;
}
.restaurant-list-blur {
  // display: table;
  clear: both;
}
.dish-google-map-view{
  // margin-top: 187px !important;
  // margin-top: 40px !important;
  width: 45%;
  // height: calc(100% - 30px) !important;
  margin-top: 0 !important;
}
.dish-google-map-view.sidebar-collapse{
  // margin-top: 62px !important;
  // margin-top: 0 !important;
  // margin-top: 39px !important;
  // height: calc(100vh - 13%) !important;
  margin-top: 0 !important;
}
.rating-wrap-restaurant{
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 500;
  font-family: $new-font-regular;
}

span.returant-small-name {
    display: block;
    font-family: $new-font-light;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #938f8f;
    line-height: 18px;
    // min-height: 36px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
span.returant-small-name__m{
  max-width: 200px;
}
div.miles-count{
  color: #999696;
  font-family: $new-font-regular;
  font-weight: 100;
}
// .bottom-icons{
//   padding: 0 6px 0 0;
// }
.godysh-card-design .card-details .rating-star-right img{
    margin-right: -1px;
    margin-top: -1px;
}


.godysh-main-container{
  padding: 15px 25px 0px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 180px;
  transition: 0.4s all ease;
}
.restaurant-container{
  width: 100%;
}
.search-filter-list{
  margin-top: 8px;
}
// .custom-round-button.selected-filter-option {
//   background-color: $secondary-color;
//   color: black;
//     // background: #658258;
//     // border-color: #658258;
// }
.custom-mod-button.selected-filter-option {
  background-color: $secondary-color;
  color: black;
    // background: #658258;
    // border-color: #658258;
}
.mobile-filter-main{
  height: 105vh;
}
.filter-blur{
  pointer-events: none;
}
.full-filter-blur{
  position: relative;
  pointer-events: none;
}
.restaurant-list-blur.restaurant-list.full-filter-blur{
  pointer-events: none;
  position: fixed !important;
}
.search-filter-header {
  // z-index: 999 !important;
  background-color: #fff;
}
.restaurant-list-blur.full-filter-blur .search-filter-header{
  filter: blur(80px);
  background: #000000de;
}
.restaurant-list-blur.full-filter-blur .godysh-main-container{
  filter: blur(40px);
  background: #0000007a;
}
.filter-main{
  top: 65px;
}
.filter-inside {
  background-color: rgba(0, 0, 0, 0.32);
}
.filter-left-padding.rangefilter{
  margin: 20px 0;
}
.filter-left-padding.rangefilter .range-slider-row label{
  font-size: 17px;
  color: $black;
  opacity: 1;
  font-family: $new-font-light;
}
.range-slider-main{
  margin-top: 13px;
}
.distance-value,
.rating-value{
  display: inline-block;
  margin-top: 4px;
  font-size: 12px;
}
.range-slider-row{
  padding-left: 0px;
}
.filter-left-padding {
  padding: 0 42px;
}
.range-slider-main .slider{
  box-shadow: none;
  height: 5px;
}
.filter-button-group{
  padding: 19px 30px;
}
.filter-head {
    border-color:  rgba(255, 255, 255, 0.18);
}
.filter-wrap-scroll{
  overflow: auto;
  width: 100%;
  height: fit-content;
  /* height: 450px; */
  /* height: 70vh; */
}
.fav-icon-fav-tab {
  z-index: 100;
  background-color: transparent !important;
  bottom: -18px;
  right: 14px;
  img {
    width: 40px !important;
  }
}
.fav-title {
  margin-top: 15px !important;
}
.ps{
  height: 70vh;
}

.restaurant-map-container {
    width: 64.7%;
}
.error-icon {
    font-size: 17px;
    padding-right: 5px;
    vertical-align: text-top;
}
.search-filter-error-message{
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 20px;
    display: inline-block;
    // padding: 0 16px;
}
.filter-show-text {
  display: none;
}

.s-fltr .VueCarousel-slide{
  text-align: center !important;
  padding: 0 4px !important;
}
span.food-item {
    // width: 86px;
    // height: 86px;
    background-color: $white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    // display: inline-block;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
span.food-item img {
  width: auto;
  margin: 12px 16px;
  text-align: center;
  vertical-align: middle;
  display: block;
}
span.food-item span{
  display: inline-block;
  padding-top: 12px;
  font-size: 16px;
  font-family: $new-font-regular;
}
.userarrow{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.custom-navbar-inverse .avatar-main {
  padding: 0 30px 0 10px !important;
}
.go-bag{
  position: relative;
  top: -9px;
}
.track-order{
  border-radius: 5px;
  background-color: $secondary-color;
  padding: 9px 20px;
  border: 0px;
  line-height: 10px;
  margin: 10px 15px;
  outline: none;
}
.track-order span{
  display: inline-block;
  vertical-align: inherit;
  padding-left: 5px;
  font-weight: 300;
  font-family: $new-font-regular;
  color: $fadedblack;
}
.track-order-search{
  border-radius: 5px;
  background-color: transparent;
  padding: 9px 20px;
  border: 0px;
  line-height: 10px;
  margin: 10px 15px;
  outline: none;
  font-family: "barlow_semi_condensedlight";
  color: #333;
  font-size: 16px;
}
.track-order-search img {
  margin-right: 4px;
}
.track-order-search.no-color{
  background: transparent;
}
.track-order-search.active{
  background: $secondary-color;
}
.search-location{
  // text-align: right;
  // left: auto;
  // right: 330px;
}
.search-text{
  border-bottom: 0px;
  position: relative;
}
.map-pin-place-area{
  position: absolute;
  top: 50%;
  transform: translateY(-58%);
  left: 12px;
}
.place-area-drop-arrow{
  position: absolute;
  top: 25px;
  right: 15px;
  transition: all .4s;
}
.search-text .search-truncated{
  // padding: 0 0 0 12px;
  margin-left: 5px;
}
.search-filter-text{
  padding: 0 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: $white;
  font-weight:400px;
}
span.filter-list {
  display: inline-block;
  padding: 17px 16px;
  border-right: 1px solid #eee;
  font-family: $new-font-light;
  color: $fadedblack;
  font-size: 16px;
  font-weight: 300;
}
span.filter-list.last-child,
span.filter-list.btn-filter-show:last-child{
  border-right: 0px;
}
span.filter-list.btn-filter-show{
  background: transparent;
  border-color: transparent;
  font-family: $new-font-light;
  color: $fadedblack;
  font-size: 16px;
  // border-right: 1px solid #eee;
}
span.pick-delivery-item{
  display: inline-block;
  // border-right: 1px solid #eee;
}
.pick-only{
   button{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 186%;
      right: -16px;
      top: -17px;
      background-color: #f1f1f1;
    }
   }
}
span.pick-delivery-item:last-child{
  border-right: 0px;
}
.filter-bar-right{
  text-align: right;
}
.filter-counter{
  display: inline-block;
  background: #fdd542;
  padding: 2px 10px;
  border-radius: 50%;
  margin-right: 7px;
  width: 27px;
  height: 27px;
}
.btn-filter-show img{
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -5px;
}
.godysh-card-container{
  margin-top: 170px;
  transition: 0.4s all ease;
}
.restaurant-details-block{
  margin-bottom: 30px;
}
.card-inner-wrap{
  box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
  border-radius: 6px;
  background-color: $white;
  height: 100%;
  cursor: pointer;
}
.card-details h3.name {
  margin: 0px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 1.3;
  max-width: 190px;
}



.card-details h3.name:after{
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
    box-shadow: 0 0 55px 55px $white;
}
span.returant-address-small-name {
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #999696;
  font-family: $new-font-regular;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
  max-width: 200px;
  min-height: 21px;
}
.returant-address-small-name:after{
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 0 55px 55px $white;
}
.card-inner-wrap .image-card {
  position: relative;
}
.card-inner-wrap .image-card img{
  width: 100%;
  // border-top-right-radius: 6px !important;
  // border-top-left-radius: 6px !important;
}
.card-inner-wrap .image-card .fav-unfav img{
  width: auto;
}

.card-inner-wrap .image-card{
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
  position: relative;
  padding-bottom: 56%;
    height: 0;
  img.img-responsive{
    border-top-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.address{
  margin: 20px 0px;
}
.bottom:after,
.bottom:before{
  content: '';
  display: block;
  clear: both;
}
.bottom .dishes{
  margin: 5px 0 0 0;
}
.bottom .min-wait{
  color: #999696;
  font-family: $new-font-regular;
  font-weight: 500;
  line-height: 20px;
}
.bottom .right-price{
  position: absolute;
  right: 35px;
  text-align: end;
  color: #f78d28;
  font-family: $new-font-regular;
  font-size: 30px;
  line-height: 33px;
}
.rating-number-restaurant{
  font-size: 15px !important;
}
.rating-number-dish{
  color: black;
}
.rating-number {
  font-size: 16px;
  color: #656565;
  display: inline-block;
  padding-left: 6px;
}
.fav-unfav{
  position: absolute;
  top: auto;
  bottom: -9px;
  right: 5px;
  z-index: 9;
  width: 53px;
}
.fav-unfav img{
  position: relative;
  top: auto;
  right: auto;
  width: auto;
  cursor: pointer;
  // border-top-right-radius: 0px !important;
  // border-top-left-radius: 0px !important;
}
.fav-icon{
  height: 48px;
}
// .bottom .right-price.min-wait span{
//   font-size: 19px;
// }
.rating-number-first{
  font-size: 16px;
  color: black;
  font-family: $new-font-medium;
}
.rating-wrap{
  padding: 6px 0 4px 0;
}
span.rating-number{
  color: #999696;
  font-family: $new-font-regular;
}
span.miles-count{
  // color: #7676769c;
  // font-family: $new-font-light;
  // font-weight: 100;
  // font-size: 17px;
  position: relative;
  color: #7676769c;
  font-family: "barlow_semi_condensedlight";
  font-weight: 100;
  font-size: 17px;
  display: inline-block;
  margin-top: 9px;
  margin-left: 14px;
  margin-left: 10px;
  padding-left: 13px;
}
span.miles-count:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: #ddd;
    left: 0;
    top: -5px;
    bottom: 0;
    height: 20px;
    position: absolute;
}
.address {
  margin: 9px 0px 12px !important;
  position: relative;
}
.restaurant-discount{
  position: absolute;
    top: 8%;
    // top: 50%;
    right: 24px;
    -webkit-transform: translateY(-34px);
        -ms-transform: translateY(-34px);
            transform: translateY(-34px);
  // position: absolute;
  // top: 7px;
  // right: 24px;
}
.restaurant-discount-img{
  height: 69px;
}
.restaurant-discount-second {
  position: absolute;
  top: -34px;
  right: 0;
}
.rest-cont-reduced {
  margin-top: 115px;
  top: 0;
}
p.discounted-text {
  font-size: 14px;
  position: absolute;
  line-height: 15px;
  top: 6px;
  width: 43px;
  text-align: center;
  left: 15px;
  color: $white;
  font-weight: 100;
  font-family: $new-font-light;
}
.discounted-text-cashback{
  margin: -7px;
}
span.discounted-text-percentage{
  font-family: $new-font-bold!important;
  font-size: 19px;
  line-height: 20px;
  display: block;
  
  @media(max-width:767px){
    font-size: 18px!important;
  }
}
.discounted-text{
  br{
    display: none;
  }
}
.line-break{
  margin: 0 0 20px 0;
  border-color: #f3f3f3;
}
.dish-bottom{
  display: flex;
  border-top: 1px solid #dedede;
  padding-top: 5px;
  // justify-content: space-between;
  // margin: 0 -32px 0 -35px;
}
.rest-bottom{
  display: flex;
  justify-content: start;
}
.bind-values{
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-around;
  align-items: center;
}
.rating-wrap img{
  width: 19px;
}
.card-details .address {
  margin: 9px 0px 33px !important;
  line-height: 12px;
  .rating-number{
    font-family: $new-font-regular;
  }
}
.card-details .address.dish {
  padding: 14px 12px 0 24px !important;
  // background-color: #fcfcfc;
  margin: 0px -21px 5px -21px !important;
  // min-height: 106px;
  display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    // -webkit-box-pack: center;
    //     -ms-flex-pack: center;
    //         justify-content: center;
    flex-wrap: wrap;
}
.small_desc{
  font-size: 17px;
  font-weight: 400;
  font-family: $new-font-medium;
  color: #938f8f
}
.dish-google-map-view.google-tag{
  // width: 43%;
  // right: 6vw;
  width: 48%;
  right: 1vw;
}
  /* r */
  .address {
      margin: 14px 0px 12px !important;
  }
  .card-details {
      padding: 18px 21px 12px;
  }
  .card-details h3.name {
      margin: 0px;
      font-size: 20px !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      font-family: $new-font-medium;
  }
  .left-time span {
      display: inline-block;
      padding-left: 5px;
      vertical-align: bottom;
      font-size: 14px;
      line-height: 20px;
      color: #999696;
      font-family: $new-font-regular;
  }
  .godysh-card-container {
      // margin-top: 195px !important;
      // margin-top: 180px !important;
      margin-top: 0 !important;
      transition: 0.4s all ease;
  }



  .s-fltr .VueCarousel-navigation-prev
  {
    top: 30% !important;
  }
  .s-fltr .VueCarousel-navigation-next
  {
    top: 30% !important;
  }




/*09.12.19*/

.filter-inside {
  font-family: $new-font-medium;
  font-size: 20px;
  font-weight: 500;
  background-color: $white;
  .rangefilter, .filter-clear-all, .filter-head-content, .filter-left-padding{
    color: $black;
  }
  .custom-mod-button {
    color: $black !important;
    border-radius: 2px;
    width: auto;
    padding: 8px 15px;
    background-color: #f7f7f7;
    font-size: 13px;
    font-weight: 400;
    font-family: $new-font-regular;
    text-align: center;
    border: none;
    &:hover {
      color: $black !important;
      border: none;
    }
    // &:focus {
    //   background-color: $secondary-color;
    //   border: none;
    //   color: $black !important;
    // }
  }
  .filter-close {
    display: inline-block;
    line-height: normal;
    height: 10px;
    margin-top: 7px;
    svg {
      vertical-align: top;
    }
  }
  .search-filter-heading {
    font-size: 20px;
  }
  .filter-button-apply {
    width: 350px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding-bottom: 20px;
  }
  .filter-wrap-scroll {
    .ps__rail-x {
      display: none;
    }
  }
  .filter-head {
    padding: 0 42px;
  }
  .filter-button-group {
    padding: 19px 0;
  }
}
.filter-inside .custom-mod-button.selected-filter-option {
  background-color: #FFD542;
  border: none;
  color: #000 !important;
}
// .filter-left-padding {
//   .rangefilter{
//     .range-slider-row label {
//       color: $black;
//     }
//   }
// }

.rngslider {
  -webkit-appearance: none;
  height: 6px;
  background: $white;
  outline: none;
  opacity: 1;
  /*-webkit-transition:0.2s;
transition: opacity 0.2s;*/
  border-radius: 12px;
  box-shadow: 0px 0px 2px 0px grey !important;
  margin-top: 9px;
  &:focus {
    box-shadow: 0px 0px 2px 0px grey !important;
  }
}

/*chrome and opera*/
.rngslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: $primary-color;
  border: 3px solid $white;
  border-radius: 50%;
  cursor: pointer;
}

/*mozilla*/
.rngslider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: $primary-color;
  border: 3px solid $white;
  border-radius: 50%;
  cursor: pointer;
}

/*edge and ie*/
.rngslider::-ms-track {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: $primary-color;
  border: 3px solid $white;
  border-radius: 50%;
  cursor: pointer;
}
 .filter-head{
  background-color: #f7f7f7;
 }
.sorting{
  color: $black;
  margin: -18px 0 33px;
}
.filter-head-content{
  padding: 13px 0 13px 0 !important;
  font-size: 21px;
}
.clearnew{
  margin: 15px !important;
  font-family: $new-font-light;
  font-weight: 300;
  color: $black;
  font-size: 15px;
}
.filter-main{
  padding: 8px 10px !important;
  right: -1% !important;
  z-index: 8;
}
.border-above{
  width: 125%;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  margin: 20px 0 0 -41px;
}
.apply-filter-button{
  color: $white;
  height: 40px;
  line-height: 33px;
  border-radius: 4px;
  background-color: #54cf50;
  text-align: center;
  cursor: pointer;
}

/*10.12.19*/

.dish-card-iner {
  transition: 0.3s all;
}
.dish-card-iner:hover {
  margin-top: -3px;
  transition: all .3s;
}
.dish-hover {
  transition: transform .4s;
}
.dish-hover:hover {
  transform: scale(1.07);
  transition: all .4s;
}
span.filter-list .small {
  font-size: 100%;
}
.filter-dish {
  max-width: 370px;
}

.panel-toggle {
  // background-color: $secondary-color !important;
  border-radius: 0;
  position: relative;
}
.panel-toggle-img.rotated {
  transform: rotate(180deg);
}
.map-toggle {
  border-right: none !important;
}
.panel-toggle img {
  margin-left: auto !important;
}
.panel-toggle-img {
  margin-right: 3px;
  vertical-align: middle;
  // transform: rotate(360deg);
  position: absolute;
  top: -13px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.godysh-card-container.reduced {
  margin-top: 0px !important;
  transition: 0.4s all ease;
}

.godysh-card-container.grow {
  margin-top: 195px !important;
  transition: 0.4s all ease;
}

.s-fltr.closed {
  display: none;
  transition: 0.4s all ease;
}
.search-filter-bar.closed {
  display: none;
  transition: 0.4s all ease;
}
.hide-show-btn-align
{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}
.hide-icon-closed{
  // z-index: 1031 !important;
  z-index: 10px !important;
  background-color: transparent;
  padding-top: 0 !important;
  top: 66px;
}
// .hide-icon-align
// {
//   top: -5px;
// }
.mobile-navbar {
  box-shadow: 0px 6px 7px rgba(0,0,0,0.04);
  border: 0px solid;
}
.zoom-modal{
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 99;
  width: 33px;
  background: rgba(51, 51, 51, 0.7);
  height: 33px;
  border-radius: 50%;
  padding: 5px 9px;
  transition: 0.4s all ease-in-out;
  opacity: 0;
}
.zoom-icon {
  width: 15px;
  height: auto;
  position: relative;
}
.dish-listing-hover:hover .zoom-modal{
  opacity: 1;
  transition: 0.4s all ease-in-out;
}
.dish-listing-hover:hover{
   transform: scale(1.04);
   transition: 0.4s all ease;
}
.mob-filter {
  display: block;
}

.filter-text-mob-show {
  display: none;
}

.dish-modal.v--modal-overlay {
  background: #1d1d1de3 !important;
}
.dish-modal .v--modal {
  background-color: transparent !important;
  box-shadow: none !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
  position: absolute !important;
}
.dish-modal .popup-wrap .card-details {
  height: 80px !important;
  padding: 10px 0 !important;
}
.dish-modal .popup-wrap .card-details .name {
  font-weight: 500;
  font-family: $new-font-medium;
}
.dish-modal .popup-wrap .card-details .rating-star-right {
  font-weight: 500;
  font-family: $new-font-medium;
  font-size: 19px;
  padding-right: 0 !important;
  padding-top: 5px;
  padding-left: 0 !important;
}
.dish-modal .popup-wrap .card-details .dish-rating-list-img {
  width: auto;
  vertical-align: baseline;
  height: auto;
}
.dish-modal .popup-wrap .close-icon{
  height: 50px !important;
}
.dish-modal .v--modal-overlay .v--modal-box {
  position: absolute !important;
}
.modal-fav {
  top: 40px !important;
}
.s-fltr .VueCarousel-navigation-next {
  background-color: transparent !important;
  right: -20px !important;
}
.s-fltr .VueCarousel-navigation-prev {
  background-color: transparent !important;
  left: -20px !important;
}

.map-sticky {
  display: table !important;
  position: fixed !important;
  z-index: 22 !important;
  height: auto !important;
  top: 137px !important;
}
.map-sticky#map {
  height: 150px !important;
}

.restaurant-map-tag {
  right: 6vw !important;
}
.dishes span {
  font-size: 16px !important;
}

/*14.01.20*/ before responsive
.filter-show-text {
  display: none;
}

.panel-toggle {
  margin: 0;
}

.mob-filter-middle {
  z-index: 9999;
  padding: 0;
}

.cont-reduce-height {
  padding-top: 0;
  margin-top: 0;
}

/* r */

@media only screen and (max-width: 1200px) {
  .left-time span {
    font-size: 12px;
  }
  .bind-values {
    font-size: 12px;
  }
  .bottom .right-price {
    right: 20px;
    bottom: 8px;
    font-size: 21px;
  }
  // .restaurant-discount {
  //   right: 10px;
  //   top: 20px;
  // }
  .filter-text-mob-show {
    display: none;
  }
  .dish-google-map-view.google-tag {
    // width: 47% !important;
    // right: 6vw;
    right: 1vw;
    width: 44%;
  }
  .dish-map-container {
    width: 54.7%;
  }
  .dish-map-cont-tag {
    right: 6vw;
    width: 40%;
  }
  /*13.01.20*/

  .left-time img {
    width: 15px;
  }
  .miles-count img {
    width: 15px;
  }
  .min-wait img {
    width: 12px;
  }

  .dishes span {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .left-time span {
    font-size: 12px;
  }
  .restaurant-map-tag {
    right: 2vw !important;
  }
  .dish-google-map-view.google-tag {
    right: 2vw;
    width: 43%;
  }
  .restaurant-map-container {
    width: 68.7% !important;
  }
}

@media only screen and (max-width: 991px) {
  .godysh-main-container {
    margin-top: 150px;
  }
  .cont-reduce-height {
    margin-top: 0 !important;
  }
  .hide-show-btn-align {
    transform: translate(-50%, -7px);
  }
  .rest-cont-reduced {
    // top: 105px;
    top: 0;
  }
  .search-filter-header {
    padding-top: 5px !important;
  }
  .dish-google-map-view{
    // margin-top: 160px !important;
    // margin-top: 40px !important;
    margin-top: 0 !important;
  }
  .left-time span {
    font-size: 14px;
  }
  .bind-values {
    font-size: 14px;
  }
  .restaurant-list-blur.restaurant-list.full-filter-blur {
    pointer-events: none;
    position: fixed !important;
  }
  .dish-google-map-view.google-tag {
    width: 47%;
    right: 2vw;
  }
  .filter-bar-right .track-order-search {
    margin: 6px 15px;
    font-size: 14px;
  }
  span.filter-list.btn-filter-show {
    font-size: 14px;
  }
  span.filter-list {
    padding: 12px 5px;
    font-size: 14px;
  }
  .filter-bar-right .track-order {
    margin: 3px 5px;
    padding: 9px 10px;
  }
  // .restaurant-discount {
  //   right: 10px;
  //   top: 20px;
  // }
  .bottom .right-price {
    right: 26px;
    bottom: 8px;
    font-size: 21px;
  }
  .godysh-card-container {
    // margin-top: 155px !important;
    margin-top: 0 !important;
  }
  .godysh-card-container.reduced {
    // margin-top: 80px !important;
    margin-top: 0 !important;
  }
  // .restaurant-list-blur.restaurant-list.full-filter-blur {
  //   position: relative !important;
  // }
  .custom-toggle .godysh-card-container {
    margin-top: 80px !important;
    filter: blur(40px);
    background: #0000001a;
    position: fixed;
  }
  .filter-main {
    z-index: 101 !important;
    padding-top: 40px !important;
  }
  .dish-map-container {
    width: 51.7% !important;
  }
  .restaurant-map-tag {
    right: 2vw !important;
  }
  .hide-icon-closed {
    z-index: 1034 !important;
  }
  .search-filter-error-message {
    font-size: 13px;
  }
}
.item-count{
  position: relative;
  top: 4px;
}
@media only screen and (max-width: 767px){
  .returant-small-name{
    font-size: 17px!important;
  }
  span.miles-count, .rating-number{
    font-size: 16px!important;
    color: #9d9999;
    span{
      font-size: 16px!important;
    }
  }
  .right-price{
    span{
      font-weight: 500;
      color: #f78d28;
      font-size: 25px!important;
      font-family:"barlow_semi_condensedmedium"
    }
  }
  .rating-wrap {
    img{
      width: auto;
    }
  }
  .order-1{
    order:1;
  }
  .order-2{
    order:2;
  }
  .search-filter-error-message {
    font-size: 10px;
  }
  .map-open-dish-list .godysh-card-container {
    margin-top: 25px !important;
  }
  .mobile-navbar {
    z-index: 1033 !important;
  }
  .zoom-modal {
    opacity: 1;
    display: none;
  }

  .card-details {
    padding: 16px 21px 18px;
  }
  .rating-wrap{
    padding-bottom: 14px;
  }
  // .search-filter-header {
  //   z-index: 1030 !important;
  // }
  .hide-show-btn-align {
    transform: translate(-50%, -5px);
  }
  .bottom .right-price {
    font-size: 25px;
    bottom: 15px;
  }

  .miles-count {
    font-size: 16px;
  }

  // .restaurant-discount {
  //   top: 10px;
  // }
  .search-filter-text {
    padding: 0 0 !important;
    box-shadow: none;
  }
  .dish-listing-hover:hover {
    transform: none;
  }
  .filter-bar-right .track-order-search {
    font-size: 14px;
    margin: 2px 10px;
    padding: 9px 13px;
  }
  .search-type-custom{
    padding: 10px 30px;
  }
  .godysh-card-design .card-bottom .regular-text {
    font-size: 11px;
  }
  .godysh-card-design .card-bottom .regular-text.resturant-open-time {
    text-align: right;
  }
  .distance-value,
  .rating-value{
    font-size: 12px;
  }
  .filter-head-content {
    padding: 40px 0px 26px;
  }
  .mobile-filter-main .range-slider-row label {
    font-size: 20px;
    color: $white;
    opacity: 1;
  }
  .range-wrap {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .range-wrap .font-bold{
    font-size: 20px;
  }
  .search-filter-text {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
 
  /*responsive filter*/
  .mob-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-filter-header {
    top: 54px;
    // z-index: 9999 !important;
    padding-top: 15px;
  }
  span.filter-list {
    padding: 10px 4px;
  }
  .filter-text-mob-show {
    display: none;
  }
  .s-fltr .VueCarousel-slide {
    margin: 0 5px;
  }
  .dish-google-map-view.google-tag {
    width: 95% !important;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: relative;
  }
  span.food-item {
    margin: 10px auto;
  }
  .filter-bar-left {
    display: flex;
    align-items: center;
  }
  .dish-google-map-view {
    // margin-top: 134px !important;
    // margin-top: 40px !important;
    margin-top: 0 !important;
  }
  .dish-map-container {
    margin-top: 35px !important;
  }
  .map-sticky {
    display: table !important;
    position: fixed !important;
    z-index: 22 !important;
    height: auto !important;
    top: 137px !important;
  }
  .map-sticky #map {
    height: 120px !important;
  }
  .dish-google-map-view.sidebar-collapse {
    height: auto !important;
    margin-top: 32px !important;
  }
  .filter-main {
    padding: 8px 0 !important;
    right: 0 !important;
    z-index: 9999 !important;
    padding-top: 0 !important;
  }
  .restaurant-list-blur.restaurant-list.full-filter-blur {
    position: fixed !important;
  }
  .filter-main {
    z-index: 101 !important;
    padding-top: 40px !important;
  }
  .map-width {
    width: 50% !important;
  }

  .dish-google-map-view.sidebar-collapse{
    position: fixed !important;
    left: 0 !important;
    z-index: 99;
    top: 200px;
    margin-top: 0 !important;
  }
  .godysh-card-container {
    // margin-top: 135px !important;
    margin-top: 0 !important;
}
  .godysh-card-container.dish-map-container.reduced {
    // margin-top: 230px !important;
    margin-top: 300px !important;
  }
  .godysh-card-container.restaurant-map-container.reduced {
    margin-top: 230px !important;
  }
  /*13.01.20*/

  .dish-map-container {
    width: 100% !important;
    margin-top: 45px !important;
  }
  .dish-listing-hover {
    width: 50% !important;
  }
  .dish-listing-hover__m {
    width: 100% !important;
  }
  .restaurant-map-container {
    width: 100% !important;
  }
  .restaurant-hover {
    // width: 50% !important;
  }
  .left-time img {
    width: 15px;
  }
  .miles-count img {
    width: 15px;
  }
  .min-wait img {
    width: 12px;
  }
  .miles-count, .left-time span, .min-wait {
    font-size: 12px;
  }
  .dishes span {
    font-size: 16px !important;
    font-weight: 500;
    color: #999696;
  }
  /*14.01.20*/

  span.filter-list {
      padding: 10px 6px;
  }
  .mob-filter-left {
    display: flex;
    justify-content: flex-start;
  }
  .mob-filter-right {
    display: flex;
    justify-content: flex-end;
  }
  .pr-0{
    padding-right: 0;
  }
  .s-fltr__m {
    .food-item{
      display:none;
    }
  }
  .s-fltr__top{
    .VueCarousel-navigation-next, .VueCarousel-navigation-prev{
          top: 38%!important;
          transform: translateY(-7px)!important;
          height: auto
    }
  }
  .pick-delivery-item__m.pick-only{
    margin-right: 5px;
  }
  .pick-only{
    button{
      &::after{
        display: none;
      }
    }
  }
  .dflex__m.align-items-center{
    align-items: flex-start;
  }
  .godysh-card-container{
    .h2, h2 {
        margin-top: 0;
    }
  }
}
@media only screen and (max-width: 991px){
  .search-filter-bar__m{
       flex-wrap: wrap;
  }
 
  .mob-filter-flex{
   
    .col-md-12{
      width:100%;
      padding: 0;
    }
    .col-6{
      width:50%;
    }
  }
  .mob-filter-left{
     align-items:center!important;
  }
  .VueCarousel-slide span{
        font-size: 13px;
  }
  
}

@media only screen and (max-width: 639px){
  // .filter-bar-right .track-order-search {
  //   font-size: 13px;
  //   padding: 8px 6px;
  //   margin: 2px 8px;
  // }
  .dish-google-map-view.sidebar-collapse{
    top: 203px;
  }
  .btn-filter-show img {
    margin-left: 0;
  }
  .btn-filter-show {
    margin-left: 2px;
    margin-right: 2px;
  }
  span.filter-list {
    padding: 10px 15px;
  }
  .filter-text-mob-none {
    display: none;
  }
  .filter-text-mob-show {
    display: inline;
  }
  .mob-filter-flex {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
  }
  .mob-filter {
    display: flex;
    justify-content: space-between;
  }
  .pick-delivery-item .track-order img {
    display: none;
  }
  .s-fltr .VueCarousel-slide {
    margin: 0 5px;
  }
  .dish-google-map-view.google-tag {
    width: 95%;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: relative;
  }
  span.food-item {
    margin: 10px auto;
  }
  .dish-google-map-view {
    // margin-top: 134px !important;
    // margin-top: 40px !important;
    margin-top: 0 !important;
  }
  .map-sticky {
    display: table !important;
    position: fixed !important;
    z-index: 22 !important;
    height: auto !important;
    top: 105px !important;
  }
  .dish-map-container {
    margin-top: 35px !important;
  }
  .map-sticky #map {
    height: 120px !important;
  }
  .dish-google-map-view.sidebar-collapse {
    height: auto !important;
  }
  .filter-main {
    padding: 8px 0 !important;
    right: 0 !important;
    z-index: 9999 !important;
    padding-top: 0 !important;
  }
  .restaurant-list-blur.restaurant-list.full-filter-blur {
    position: fixed !important;
  }
  .filter-main {
    z-index: 99 !important;
    padding-top: 40px !important;
  }
  .map-width {
    width: 100% !important;
  }
  /*13.01.20*/
  .dish-listing-hover {
    width: 100% !important;
  }
  .restaurant-hover {
    width: 100% !important;
  }
  .left-time img {
    width: auto;
  }
  .miles-count img {
    width: auto;
  }
  .min-wait img {
    width: auto;
  }
  .miles-count, .left-time span, .min-wait {
    font-size: 15px;
  }
  // .godysh-card-container.dish-map-container.reduced {
  //   // margin-top: 230px !important;
  //   margin-top: 200px !important;
  // }
  // .godysh-card-container.restaurant-map-container.reduced {
  //   margin-top: 230px !important;
  // }
  .VueCarousel-navigation-next,  .VueCarousel-navigation-prev{
    display:block!important
  }
 
  .s-fltr__m{
    margin-top:10px!important;
  }
  .mobile-width-auto{
    width: 50%!important;
  }
  .filter-bar-right .track-order-search {
    margin: 3px 3px;
    padding: 9px 6px;
    font-size: 12px;
  }
  span.filter-list, span.pick-delivery-item, span.filter-list.btn-filter-show {
    border-right: none;
    padding: 5px 9px !important;
  }
 

}
.s-fltr button.VueCarousel-navigation-button:after,  .s-fltr button.VueCarousel-navigation-button:after{
  box-shadow: none!important;
}

@media only screen and (max-width: 575px){
  .godysh-card-container{
    .h2, h2 {
        font-size: 22px;
    }
    .small_desc{
      font-size: 15px;
    }
  }
  .dish-google-map-view.sidebar-collapse{
    top: 164px;
  }
  .godysh-card-container.dish-map-container.reduced{
    margin-top: 275px !important;
  }
  .mobile-width-auto{
    width: 100%!important;
  }

.s-fltr__top{
    .VueCarousel-navigation-next, .VueCarousel-navigation-prev{
          top: 45% !important;
          transform: translateY(-12px)!important;
          img{
            width:8px;
          }
    }
    button.VueCarousel-navigation-button.VueCarousel-navigation-prev .custom-prev{
      left:0 !important;
    }
    button.VueCarousel-navigation-button.VueCarousel-navigation-next .custom-next{
      right:0 !important;
    }
    //  .VueCarousel-navigation-next{
    //       right:0 !important;
    //  }
    //   .VueCarousel-navigation-prev{
    //       left:0 !important;
    // }
  }
}
@media only screen and (max-width: 480px){
  
  .dish-google-map-view.sidebar-collapse{
    top: 161px;
  }
  .rest-cont-reduced {
    top: 0;
    margin-top: 95px;
  }
  .bottom .right-price {
    right: 20px;
  }
  .godysh-card-container {
      margin-top: 200px;
      transition: 0.4s all ease;
  }
  .filter-dish {
    max-width: 100%;
  }
  .filter-main {
    padding: 8px 0 !important;
    right: 0 !important;
    z-index: 9999 !important;
    padding-top: 0 !important;
  }
  .filter-inside .filter-button-apply {
    width: 100%;
  }
  .search-filter-text {
    margin-right: 0;
    margin-left: 0;
  }
  .godysh-card-container
  {
    // margin-top: 148px !important;
    margin-top: 0 !important;
  }
  .godysh-card-container.reduced
  {
    margin-top: 0px !important;
  }
  .filter-bar-right {
    text-align: left;
  }
  .filter-text-mob-none {
    display: none;
  }
  .filter-text-mob-show {
    display: inline;
    font-size: 12px;
  }
  .mob-filter-flex {
    display: flex;
    align-items: center;
  }
  .mob-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pick-delivery-item .track-order img {
    display: none;
  }
  .mob-filter-middle {
    padding: 0;
  }
 
  .filter-bar-right .track-order {
    margin: 3px 3px;
    padding: 9px 5px;
    font-size: 12px;
  }
  
  .btn-filter-show img {
    width: 13px;
  }
  .filter-bar-right .no-color{
    background-color: #eeeeee;
  }
  .panel-toggle-img {
    top: -15px;
    width: 15px;
  }
  .track-order-search img {
    width: 15px;
    display: none;
  }
  .panel-toggle-img {
    width: 20px !important;
    top: -11px;
  }
  .s-fltr .VueCarousel-slide {
    margin: 0 !important;
  }
  .godysh-main-container {
    padding: inherit;
  }
 
  .track-order span {
    font-size: 12px;
    padding-left: 0;
  }
  .filter-show-text {
    font-size: 12px;
  }
  .search-filter-header {
    padding-bottom: 0 !important;
    top: 53px;
  }
  span.filter-list {
    position: relative;
    padding: 10px 2px;
  }
  .filter-counter {
    display: inline-block;
    background: #fdd542;
    padding: 0 6px;
    border-radius: 50%;
    margin-right: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: -8px;
  }
  .dish-modal .v--modal {
    padding: 0 10px !important;
  }
  
  .dish-google-map-view.google-tag {
    width: 95% !important;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: relative;
  }
  .map-open-dish-list .godysh-card-container {
    margin-top: 25px !important;
  }
  span.food-item {
    margin: 10px auto;
  }
  .dish-google-map-view {
    // margin-top: 144px !important;
    // margin-top: 51px !important;
    margin-top: 0 !important;
  }
  .map-sticky {
    display: table !important;
    position: fixed !important;
    z-index: 22 !important;
    height: auto !important;
    top: 137px !important;
  }
  .map-sticky #map {
    height: 120px !important;
  }
  .dish-google-map-view.sidebar-collapse {
    height: auto !important;
  }
  .restaurant-list-blur.restaurant-list.full-filter-blur {
    position: relative !important;
  }
  .filter-main {
    z-index: 99999 !important;
  }
  .map-width {
    width: 100% !important;
  }
  /*13.01.20*/

  .miles-count, .left-time span, .min-wait {
    font-size: 13px;
  }
}


// Dish listing images

.media_desk, .media_tab, .media_ret{
     display:none
}


// Responsive for dish listing image

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .media_tab{
    display: block;
  }
  .media_mob{
    display: none;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .media_desk{
    display: block;
  }
  .media_tab, .media_mob{
    display: none;
  }
 }

 @media (max-width:480px){
  .restaurant-discount-second{
      top: -70px;
  }
  .card-details .address{
      margin-bottom: 0!important;
  }
  .line-break{
    margin-bottom: 6px!important;
    border: none;
  }
  .card-details .address.dish{
    padding-top: 0!important;
  }
  span.miles-count{
    margin-top: 3px;
  }
  .dish-bottom{
    position: relative;
   }
  .bottom .dishes{
    margin-top: 0;
  }
  .bottom .right-price {
    right: 0;
    bottom: 0;
    line-height: 17px;
}
}

@media (max-width:360px){
  .card-details {
      padding: 16px 11px 18px;
  }
  .miles-count, .left-time span, .min-wait {
      font-size: 12px;
  }
}

// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) { 
  
// .media_desk, .media_tab, .media_mob{
//     display:none
// }
// .media_ret{
//   display:block
// }


// }