/***  RADIO BUTTONS  ***/
.common-radio-button {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    /* font-size: 1.1vw; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    font-weight: normal;
    font-size: 16px;
    font-family: $new-font-medium;
}

.common-radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid rgb(162, 166, 171);
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.common-radio-button input:checked~.checkmark:after {
    display: block;
}

.common-radio-button .checkmark:after {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: $light-green;
    // margin: 3px 3px;
}

/*** RADIO BUTTON ENDS***/


/* Customize the label (the common-checkbox) */
.common-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-top: 1px;
    font-weight: normal;
    margin-bottom: 10px;
}

.common-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.tickmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 1.5vw;
    width: 1.5vw;
    display: inline-block;
    border: 1px solid #C2C6C9;
}

.tickmark:after {
    content: "";
    position: absolute;
    display: none;
}

.common-checkbox input:checked~.tickmark:after {
    display: block;
}

.common-checkbox .tickmark:after {
    left: 1px;
    top: 0px;
    width: 1.2vw;
    height: 1.2vw;
    background-image: url("../images/tick.png");
    background-size: 100%;
}

/*** CHECKBOX ENDS ***/

/**** Select  *****/
select {
    background-image: url(../images/icons/pull-down/pull-down-arrow.png) !important;
    background-repeat: no-repeat;
    background-size: 1.3vw;
    background-position: right 10px bottom 10px ;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #5c8356;
    padding: 1px;
    padding-right: 1px;
    padding-right: 20px;
    background-color: transparent
}

select::-ms-expand {
    display: none;
}

/***** Out of Stock Box Shadow *****/
.ofs-shadow
{
  
//   background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.22) 40%, rgba(0,0,0,1) 87%, rgba(0,0,0,1) 100%);
//   background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.22) 40%,rgba(0,0,0,1) 87%,rgba(0,0,0,1) 100%);
//   background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.22) 40%,rgba(0,0,0,1) 87%,rgba(0,0,0,1) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
//   @include responsive(phone){
//     z-index: 2;
//     background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,1) 100%);
//     background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,1) 100%);
//     background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,1) 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
//   }

}
/***** Out of Stock Box Shadow End *****/

.cmn-btn-radius
{
  @include border-radius(4px);
}
/* White shadow Start */
.white-shadow
{
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
}
/* White shadow End */
.no-padding
{
    padding: 0px;
}
.common-shadow
{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
} 

.svg-close
{
    transition: all .4s;
    &:hover{
        #new-close
        {
            fill: $light-green;
            transition: all .4s;
        }
    }
}
.svg-modal-close
{
    transition: all .4s;
    &:hover{
        #new-closewhite
        {
            fill: $light-green;
            transition: all .4s;
        }
    }
}



/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  
  /*
    WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
    Need to override the 3.3 new styles for modern browsers & apply opacity
  */
  @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-fade .carousel-inner > .item.next,
      .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.prev,
      .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.next.left,
      .carousel-fade .carousel-inner > .item.prev.right,
      .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
  }


  /* Radio button style start */
  
  .style-radio {
    margin: 0.5rem;
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      + .radio-label {
        font-size: 16px;
        font-family: $new-font-medium;
        line-height: 20px;
        &:before {
          content: '';
          background: $white;
          border-radius: 100%;
          border: 2px solid #a2a6ab;
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
        //   top: -0.2em;
          margin-right: 1em; 
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      } 
      &:checked {
        + .radio-label {
          &:before {
            background-color: $light-green;
            box-shadow: inset 0 0 0 0px $white;
            border: none;
          }
        }
      }
      &:focus {
        + .radio-label {
          &:before {
            outline: none;
            border-color: $light-green;
          }
        }
      }
      &:disabled {
        + .radio-label {
          &:before {
            box-shadow: inset 0 0 0 4px $white;
            border-color: darken($white, 25%);
            background: darken($white, 25%);
          }
        }
      }
      + .radio-label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }
  /* Radio button style end */

  .padding-right0
  {
    padding-right: 0px;
  }
  .padding-left0 
  {
    padding-left: 0px;
  }


  // Google Search

  .pac-container{
    z-index: 111111;
  }

  // card error
  .card-error{
    font-size: 13px;
    color: #c34033;
    padding-top: 5px;
  }