.fav-card-sup-cont {
    padding: 0;
    margin-top: 20px;
}
.fav-card-sup-cont-2 {
    padding: 0;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 20px;
}
.detail-view-fav:last-child .popular-list-card-img {
    z-index: 0;
}
.fav-tab {
    margin-left: 1%;
}
.resto-fav {
    width: 33.33%;
}
.favorite-tabs-main .restaurant-dish-tabs li {
    width: inherit;
}
.favorite-tabs-main .restaurant-dish-tabs li a {
    border-radius: 5px;
    font-weight: 300;
    font-family: "barlow_semi_condensedregular";
    color: #333 !important;
    font-size: 16px;
    text-shadow: none;
    padding: 9px 20px;
    background-color: #eeeeee !important;
    margin-right: 20px;
    display: inline-block;
    min-width: 220px;
}
.favorite-tabs-main .restaurant-dish-tabs .active a,
.favorite-tabs-main .restaurant-dish-tabs .active a:focus,
.favorite-tabs-main .restaurant-dish-tabs .active a:hover {
    border-radius: 5px;
    background-color: #FFD542 !important;
    padding: 9px 20px;
    border: 0px;
    outline: none;
    font-weight: 300;
    font-family: "barlow_semi_condensedregular";
    color: #333 !important;
    font-size: 16px;
    text-shadow: none;
}
.fav-tab .tab-border {
    border-bottom: none;
    height: 0;
    background-color: transparent;
}
.border-tab-list-mod {
    height: 0 !important;
}
.pop-item-fav-title {
    padding-left: 8px;
    margin-bottom: 25px;
}
.fav-img-protection {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.detail-view-fav .popular-list-card-img {
    width: 100%;
    height: auto;
}
.fav-card-details {
    padding: 18px 21px 12px;
}
.fav-left-time span{
    font-size: 14px;
}
.favorite-icon {
    padding: 0vw 1.8vw;
}

.fav-card-flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    .common-review-card-shadow{
       height: 100%;
    }
}
.rest-card-list-slider__flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}

@media only screen and (max-width: 1127px){
    .fav-card-details {
        padding: 18px 12px 12px;
    }
    .fav-left-time span{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 991px){
    .resto-fav {
        width: 50% !important;
    }
}

@media only screen and (max-width: 767px){
    .detail-view-fav .popular-list-card-img {
        border-radius: 0 !important;
    }
    .fav-left-time span{
        font-size: 14px;
    }
    .fav-card-sup-cont {
        padding: 0 !important;
    }
    .resto-fav {
        width: 100% !important;
    }
    // .d-r-f-mod-cont {
    //     display: none;
    // }
    // .restaurant-dish-tabs {
    //     margin-top: 90px;
    // } 
    .favorite-tabs-main .restaurant-dish-tabs li a {
        font-size: 15px !important;
        padding: 9px 5px !important;
        min-width: 160px;
        margin-right: 10px;
    }
}
.favorite-icon {
    padding: 0vw 2vw;
}

@media only screen and (max-width: 639px){
    .favorite-icon {
        padding: 0vw 4vw;
    }
}

@media only screen and (max-width: 480px){
    .favorite-icon {
        padding: 0vw 4.5vw;
    }
}
