.order-history-holder {
    position: relative;
    margin-top: 170px;
    &-empty {
        text-align: center;
        margin: 0 auto;
        display: table;
        img {
            width: 90px;
            height: auto;
            display: inline-block;
        }
        .order-help-text {
            margin: 20px 0;
            font-size: 29px;
            font-family: $new-font-regular;
        }
        
        .order-empty-btn {
            display: inline-block;
            border-radius: 5px;
            background-color: #FFD542;
            padding: 15px 20px;
            border: 0px;
            outline: none;
            font-family: $new-font-medium;
            color: #333;
            font-size: 25px;
            font-weight: 400;
        }
    }
    .empty-arrow-icon {
        position: absolute;
        top: -60px;
        display: none;
    }
}

.history-dropdown {
    width: 100%;
}
.history-dropdown .dropdown-arrow {
    border-right: none !important;
    padding: 0 !important;
    position: absolute;
    top: 5px;
    right: 10px;
}
.history-dropdown .dropdown-arrow img {
    width: 15px;
}
.history-dropdown .dropdown-menu {
    min-width: 0;
    width: 100% !important;
    padding: 0 !important;
    margin-top: 6px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.history-dropdown .dropdown-menu li a:hover {
    background-color: #eeeeee;
    border-radius: 0;
}
.history-dropdown .dropdown-menu .menu-sort-title {
    border-right: none !important;
    padding: 0;
}
.history-menu {
    height: auto;
}
.history-menu::after {
    background: none;
}
.month-list.active {
    font-weight: bold;
    color: #3b3a3a;
}
.order-timeline .sidebar_list li{
    color: #878787;
}
.order-timeline .sidebar_list li.user-order-year-active {
    color: #333333;
}



/*order rating*/
.order-rating-title {
    font-size: 25px;
    font-family: $new-font-medium;
    font-weight: 400;
}
.rating-header {
    display: none;
}


.order-history-noitem {
    margin-top: 50px;
}

.order-history-main__fe{
    margin-top: 105px;
    top: auto;
}
.history-holder {
    margin-bottom: 60px;
}

.order-history-rest-name__sm{
    font-size: 20px;
    line-height: 20px;
}

.order-error-msg{
    position: relative;
    top: 70px;
}

.month-list.inactive {
    pointer-events:none;
    opacity:0.6; 
}

.order-history-year.inactive {
    pointer-events:none;
    opacity:0.6; 
}

.order-history-mobile-year.inactive {
    pointer-events:none;
    opacity:0.6; 
}

.user-order-mobile-month-active .inactives {
    pointer-events:none;
    opacity:0.6; 
}


/*responsive*/


@media only screen and (max-width: 767px){
    .order-history-holder-empty {
        padding: 0 50px;
    }
    .order-history-holder-empty .order-help-text {
        font-size: 27px;
    }
    .order-history-holder-empty .order-empty-btn {
        font-size: 23px;
    }
    .empty-arrow-icon {
        display: inline-block !important;
    }
    .review-img{
        width: 100% !important;
        height: auto !important;
    }
    .review-modal-top-img {
        width: 100% !important;
    }
}
@media only screen and (max-width: 639px){
    .order-history-holder-empty .order-help-text {
        font-size: 22px;
    }
    .order-history-holder-empty .order-empty-btn {
        font-size: 19px;
    }
}
@media only screen and (max-width: 480px){
    .rating-header {
        display: block;
    }
    .order-history-holder-empty {
        padding: 0;
    }
    .order-empty-btn {
        width: 100%;
        font-family: $new-font-medium;
    }
    .order-history-title {
        margin-top: 0;
        // margin-top: 60px;
    }

    .history-wrap {
        display: flex;
        justify-content: space-between;
    }
    .history-wrap .sel_bx {
        height: 45px;
    }
    .history-wrap .sel_bx:last-child{
        margin-right: 0;
    }
    .date-toggler {
        border-radius: 5px;
    }
    .history-wrap .sel_bx .mobile-year, .history-wrap .sel_bx .mobile-month{
        border-right: none;
        padding-left: 0;
        padding-right: 35px;
        color: #333;
        font-weight: bold;
    }
    .order-history-noitem .order-empty-btn {
        font-size: 16px;
    }
    .order-history-noitem .order-help-text {
        font-size: 20px;
    }
}