/* Submit Ticket from Order */

.submit-ticket-content{
    padding: 0 15px;
}


.submit-ticket-content .form-content{
    border: 1px solid #c5c1c1;
    box-shadow: 6px 5px 3px 5px rgba(0, 0, 0, 0.13);
    padding: 10px 25px;
}

.submit-ticket-content .form-content h4.title{
    color: #454545;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.submit-ticket-content .form-inner{
    border: 1px solid #979797;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    padding: 60px 10px 40px;
    margin: 30px 190px 40px 55px;
}

.order-form .control-label{
    font-size: 16px;
}

.order-form .form-group .padding-web-left-0{
    padding-left: 0px;
}

.order-form .form-control{
    border: 2px solid #658258;
    box-shadow: none;
    border-radius: 0;
}

.order-form .form-group .line-input{
    border: none;
    border-bottom: 2px solid #658258;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    font-size: 18px;
    color: #000000;
}


/* Update ticket */

.update-ticket .update-section{
    padding: 40px 70px 20px 15px;
}

.update-ticket .update-section p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 34px;
}

.update-ticket .update-section p span{
    font-weight: 400;
}

.update-ticket .update-section h5{
    color: #898383;
    font-size: 16px;
    font-weight: 400;
}

.update-ticket .update-section h4{
    color: #000000;
    text-shadow: none;
    font-size: 20px;
}


.goDysh-restaurant-web-table {
    font-size: 1rem;
    color: #333333;
    background: #f7f7f7;
    border: 0;
    text-align: center;
    margin-top: 25px;
}

.goDysh-restaurant-web-table thead {
    background: #555252;
    position: relative;
}
.goDysh-restaurant-web-table thead tr{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.44);
}

.goDysh-restaurant-web-table thead th {
    color: #fff;
    border-color: transparent;
    vertical-align: middle;
    padding: .5rem;
}

.goDysh-restaurant-web-table tbody tr:nth-child(odd) {
    background: transparent;
}
.goDysh-restaurant-web-table tbody tr:nth-child(even) {
    background: #fff;
}

.goDysh-restaurant-web-table tbody td {
    border-top: 0;
    padding: .80rem;
}
.rest-card-inner-wrap {
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.2) !important;
}
.goDysh-restaurant-web-table tbody td .go-Dysh-restaurant-order-view {
    color: #5e1914;
}
.goDysh-restaurant-web-table tbody td .go-Dysh-restaurant-order-id {
    color: #5e1914;
}

.font-size-20{
    font-size: 35px;

}

.v--modal-overlay .v--modal-box{
    height: auto!important;
}
.restaurant-hover:hover {
    transform: none !important;
    transition: transform 0.4s;
}

