.home-search {
    // background-image: url(../images/intro-1.png);
    // background-size: 45%;
    // background-position: 0px -63px;
    // background-repeat: no-repeat;
    // padding: 20px 0 90px;
}
.full-width-section
{
    position: relative;
}
.container-fullwidth
{
    width: 100%;
}
.home-sec{
    display: flex;
    align-items: center;
}
.container-nopadding
{
    padding-left: 0px;
    padding-right: 0px;
}
.adstruct-section
{
    position: relative; 
}
.adstruct-section {
    overflow: hidden;
}
.bg-light-gray {
    background-color: #F6F6F6;
}
.left-image-section {
    width: 50%;
}
.no-padding-right {
    padding-right: 0; 
}
.right-content-section {
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    right: 0;
    z-index: 3;
}
.right-content-section .right-content-area{
    max-width: 50%;
    padding: 0 0 0 86px;
}
.right-content-section--left .right-content-area {
    float: left;
    padding: 0 0px 0 0;
}
.flex-row-reverse {
    -ms-flex-direction: row-reverse!important;
    flex-direction: row-reverse!important;
}
.right-content-section--left__m{
    top: 18%;
    transform: none;
}

.splash-input-align.splash-input-align__m{
    transform: translateY(-111%);
    .splash-icon-image{
        img{
            max-width: 270px;
            margin-left: 106px;
        }
    }
    .form-inline{
        display: flex;
    }
    .form-group{
        flex:1
    }
}

.search-inner.search-inner__m{
    box-shadow: none;
    max-width: 45%;
    padding: 0;

    .search-type{
        display: none;
    }
    .radio-inline{
        display: flex;
        justify-content: space-between;
    }
   
}

@media (min-width: 1200px) {
    .d-xl-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
}

@media (min-width: 992px){
    .d-lg-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
}

.home-header
{
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    width: 100%;
    @include responsive(tab) {
        margin-top: 10px;
    }
    @include responsive(phone) {
        position: relative;
    }
}
.splash-header-area
{
    padding-left: 0px;
    padding-right: 0px;
}
.bg-white
{
    background-color: $white;
}
.splash-screen-logo
{
    display: inline-block;
    img{
        width: 55px;
        @include responsive(tab) {
            width: 40px;
        }
    }
}
.splash-signin
{
    display: inline-block;
    float: right;
    ul{
        display: inline-block;
        list-style-type: none;
        padding-left: 0px;
        overflow: hidden;
        margin-bottom: 0px;
        li{
            float: left;
        }
    }
}
.app-btn {
    font-size: $base-font;
    color: $heading-color;
    border: none;
    background: none; 
    margin-top: 20px;
    font-family: $new-font-medium;
    a{
        color: $heading-color;
    }
    @include responsive(tab) {
        font-size: $base-font - 2;
        margin-top: 11px;
    }
}

.app-btn.active {
    background-color: $secondary-color;
    font-size: $base-font;
    color: $heading-color !important;
    border: 1px solid $secondary-color;
    padding: 5px 15px;
    border-radius: 5px;
    font-family: $new-font-medium;
    margin-top: 15px;
    a{
        color: #333;
    }
    @include responsive(tab) {
        font-size: $base-font - 2;
        margin-top: 7px;
    }
}

.search-title {
    text-align: center;
    padding: 20px 40px 20px 0px;
    min-height: 230px;
    @include responsive(phone) {
        padding: 30px 0px 190px 0px;
    }
    @include responsive(xsphone) {
        padding: 20px 0px 180px 0px;
    }
}

.content-title {
    text-align: left;
    h2{
        font-size: 60px;
        font-family: $new-font-bold;
        color: $heading-color;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 10px;
        min-height: 132px;
        @include responsive(tab) {
            font-size: 35px;
        }
    }
    h6{
        font-size: 20px;
        font-family: $new-font-regular;
        color: $heading-color;
        margin-top: 0px;
        margin-bottom: 20px;
        line-height: 26px;
        @include responsive(tab) {
            font-size: $base-font;
            margin-bottom: 10px;
            line-height: 18px;
        }
    }
    div.splash-icon-image
    {
        @include responsive(tab) {
            img{
                max-width: 60%;
            }
        }
    }
    
}
.banner-slider-text
{
    @include responsive(phone) {
        position: relative;
        top: 0;
        transform: translate(0,0);
    }
    .right-content-area
    {
        @include responsive(phone) {
            width: 100%;
            max-width: 100%;
        }
    }
}

.home-content1 {
    background-image: url(../images/Splash/home-sec2.png);
    background-size: 480px;
    background-position: top -160px left -90px;
    background-repeat: no-repeat;
    @include responsive(phone) {
        background-image: none;
    }
}
.order-input-title
{
    color: $heading-color;
    font-size: 24px;
    font-family: $new-font-medium;
    margin-bottom: 20px;
    margin-top: 5px;
    @include responsive(tab) {
        font-size: $base-font;
        margin-bottom: 10px;
    }
}
.position-relative
{
    position: relative;
}
.splash-input-align
{
    top: -20px;
    position: absolute;
    transform: translateY(-50%);
    z-index: 9;
    @include responsive(phone) {
        width: 100%;
    }
}
.home-cat-slider
{
    padding-top: 50px; 
    @include responsive(phone) {
        padding-bottom: 30px;
    }
}

.search-inner {
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    padding: 30px 30px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    @include responsive(tab) {
        padding: 20px 20px;
    }
}

.search-type {
    padding-bottom: 15px;
    @include responsive(xsphone) {
        padding-bottom: 5px;
    }
}
.search-type-custom {
    font-family: $new-font-medium;
    font-size: $base-font;
    margin-left: 2px;
    .radio-inline
    {
        input[type='radio']
        {
            background-color: red;
            width: 18px;
            height: 18px;
            margin-top: 0px;
            position: relative;
            border-radius: 18px;
            // -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.07);
            // -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.07);
            // box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.07);
            cursor: pointer;
        }
    }
}
.showExpandedSearch
{
    display: block !important;
}
.search-type-custom input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: 0;
    left: 0px;
    position: relative;
    background-color: $white; 
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0px solid #979797;
}
.search-type-custom  input[type='radio']:before {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: $white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #DAD8D8;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.07);
    
}
.search-type-custom  input[type='radio']
{
    top: 2px;
}
.search-type-custom  input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: 0;
    left: 0px;
    position: relative;
    background-color: $light-green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0px solid $white;

}
.search-type-custom  input[type='radio']:checked:before {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: $white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #DAD8D8;
}


.search-type label {
    font-size: 15px;
    font-weight: 600;
}
.home-search-icon
{
    position: absolute;
    top: 13px;
    left: 20px;
    @include responsive(xsphone) {
        left: 0px;
    }
}

.search-field {
    padding-bottom: 0px;
}

.search-field .form-inline {
    width: 100%;
}

.search-field .form-inline .form-group {
    width: 40%;
    position: relative;
    padding: 0px 20px;
    @include responsive(tab) {
        width: 38%;
    }
    @include responsive(phone) {
        width: 100%;
    }
    @include responsive(xsphone) {
        padding: 0px 0px;
    }
}

.home-search-btn-area
{
    width: 20% !important;
    padding-right: 0px !important;
    @include responsive(phone) {
        padding-right: 15px !important;
        width: 250px !important;
        margin: 20px auto 0px auto;
    }
    @include responsive(xsphone) {
        padding-right: 0px !important;
        width: 100% !important;
        margin: 15px auto 0px auto;
    }
}
.search-field .form-inline .form-group .map {
    position: absolute;
    font-size: 22px;
    left: 8px;
    top: 8px;
}

.search-field .form-inline .form-group .form-control {
    border-radius: 0px;
    // border-bottom: 1px solid #D8D8D8 !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #D8D8D8 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    height: 50px;
    padding-left: 35px;
    font-family: $new-font-regular;
    font-size: $base-font;
    color: #8A8A8A;
}
.location_err_field
  {
    border-bottom-color: red !important;
  }

.search-field .form-inline .form-group input {
    width: 100%;
    height: 39px;
}

.search-btn {
    // width: 100%;
    height: 50px;
    background-color: $green-tone;
    color: $white;
    font-family: $new-font-semibold;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    cursor: pointer;
    &:hover{
        color: $white;
    }
}
.search-btn-expand
{
    background-color: #3E642D;
    color: $white;
    font-size: 22px;
    padding-right: 14px !important;
    padding-left: 14px !important;
    &:hover{
        color: $white;
    }
}


.search-btn-expand-list
{
    padding: 0px;
    border-radius: 6px;
        margin: 8px 0 0;
    li{
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: #D8D8D8 1px solid;
        &:last-child{
            border-bottom: none;
        }
        a{
            padding: 15px 15px;
            text-align: left;
            font-size: $base-font;
            font-family: $new-font-medium;
            color: $heading-color;
            img{
                margin-right: 5px;
                position: relative;
                top: -2px;
            }
            &:hover{
                background-color: transparent;
            }
        }
    }
}

.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.btn-flex .btn:first-child {
flex-grow: 1;
text-align: left;
}

.splash-heading-title
{
    text-align: center;
    color: $heading-color;
    font-family: $new-font-medium;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    @include responsive(tab) {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    }
    @include responsive(phone) {
    font-size: 26px;
    }
}
.why-godysh-section
{
    text-align: center;
    h5{
    color: $heading-color;
    font-family: $new-font-medium;
    font-size: 22px;
    margin-top: 5px;
    }
    p{
    color: #727272;
    font-family: $new-font-regular;
    font-size: 17px;
    margin-bottom: 15px;
    }
}
.middle-image-right
{
@include responsive(phone) {
    float: left;
    padding: 0px;
    width: 100%;
}
}
.middle-text-left
{
@include responsive(phone) {
    position: relative;
    top: 0px;
    transform: translate(0,0);
}
.right-content-area
{
    @include responsive(phone) {
        width: 100%;
        max-width: 100%;
    }
}
}
.common-section {
padding-top: 40px;
padding-bottom: 40px;
@include responsive(phone) {
    padding-top: 20px;
    padding-bottom: 20px;
}
}
.footer-common-section {
padding-top: 20px;
padding-bottom: 20px;
@include responsive(phone) {
    padding-top: 10px;
    padding-bottom: 10px;
}
}

.welcome-note-sec
{
    padding: 15px 100px 15px 0px;
    text-align: left;
    @include responsive(phone) {
    padding: 10px 0px 25px 0px;
    }
    h4{
        color: $heading-color;
        font-size: 45px;
        font-family: $new-font-medium;
        margin-bottom: 15px;
        @include responsive(tab) {
        font-size: 22px;
        }
    }
    p{
    color: #727272;
    font-size: 17px;
    font-family: $new-font-regular;
    margin-bottom: 25px;
    @include responsive(tab) {
        font-size: 13px;
        margin-bottom: 10px;
    }
    }
}
.how-work-sec
{
    .why-godysh-section
    {
        position: relative;
        &::after{
        content: "";
        background-image: url("../images/Splash/how-arrow.svg");
        background-repeat: no-repeat;
        width: 110px;
        height: 18px;
        top: 85px;
        right: -55px;
        position: absolute;
        display: inline-block;
        @include responsive(phone) {
            content: "";
            background-image: none;
            display: none;
        }
        
        }
        &:last-child{
            &::after{
            background-image: none;
            }
    }
    }
}
.become-partner-sec
{
    padding: 30px 15px;
    position: relative;
    background-image: url("../images/Splash/partner-img.jpg");
    background-size: cover;
    &::before{
    content: "";
    background-color: #0404047a;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    }
}
.order-dish-sec
{
    padding: 30px 15px;
    position: relative;
    background-image: url("../images/Splash/order-img.jpg");
    background-size: cover;
}
.bottom-partner-area
{
list-style-type: none;
padding-left: 0px;
display: table;
margin: 0 auto;
position: relative;
li{
    display: table-cell;
    vertical-align: middle;
    h5{
        font-size: 40px;
        font-family: $new-font-semibold;
        color: $white;
        margin-bottom: 20px;
        @include responsive(tab) {
            font-size: 25px;
            margin-bottom: 15px;
        }
        @include responsive(xsphone) {
            font-size: 22px;
            margin-bottom: 8px;
        }
    }
}
&--black{
    li{
        h5{
            font-size: 28px;
            color: $heading-color;
            max-width: 370px;
            @include responsive(tab) {
                font-size: 22px;
            }
            @include responsive(xsphone) {
                font-size: 18px;
                margin-bottom: 8px;
            }
        }
    }
}
li.bottom-partner-li
{
    @include responsive(phone) {
        width: 20%;
    }
    @include responsive(xsphone) {
        width: 30%;
        img{
            width: 100%;
        }
        
    }
}
}

.footer-app-icon
{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    li{
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 38px;
        font-family: $new-font-medium;
        color: $heading-color;
        @include responsive(phone) {
        width: 100%;
        margin-bottom: 10px;
        }
        @include responsive(xsphone) {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 30px;
    }
    }
    li.footer-app-text
    {
        margin-right: 20px;
        @include responsive(phone) {
        margin-right: 0px;
        }
        @include responsive(xsphone) {
        font-size: 30px;
    }
    }
}
.splash-cat-sec
{
display: inline-block;
padding-top: 30px;
.splash-cat-img
{
    padding: 0px;
    border-radius: 10px;
    background-color: $white;
    display: flex;
    width: 175px;
    height: 150px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    transition: all .4s;
    img{
        margin: auto;
    }
    @include responsive(phone) {
        width: 125px;
        height: 110px;
        }
}
.splash-cat-titile
{
    color: $heading-color;
    font-family: $new-font-medium;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
}
&:hover{
    .splash-cat-img
    {
        background-color: $secondary-color;
    }
    .splash-cat-titile
    {
        color: $primary-color;
    }
}
}
.splash-cat-list-area
{
@include responsive(phone) {
    .VueCarousel-pagination
    {
        display: none;
    }
    }
}
.topCat-heading
{
    margin-top: 90px;
    margin-bottom: 20px;
    @include responsive(tab) {
    margin-top: 90px;
    margin-bottom: 15px;
    }
    @include responsive(smtab) {
    margin-top: 70px;
    }
    @include responsive(phone) {
    margin-top: 130px;
    margin-bottom: 10px;
    }
    @include responsive(mediumbreak) {
        margin-top: 110px;
    }
}

.VueCarousel-dot-container
{
    margin-top: 10px !important;
}
.VueCarousel-dot
{
    outline: none !important;
}
.main-top-banner-img
{
    img{
        width: 100%; 
    }
    
}
.top-right-banner
{
@include responsive(phone) {
    display: none;
}
}
.main-top-banner-img
{
@include responsive(tab) {
    float: right;
}
}
.location_err_msg
{
position: absolute;
color: red;

font-family: $new-font-regular;
@include responsive(mediumbreak) {
    position: relative;
    bottom: 0px;
}
}
.splash-restaurant {
    border-radius: 5px;
    // padding: 5px; 
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    background-color: $white;
    div{
        font-size: 16px;
        font-family: $new-font-regular;
        color: $heading-color;
        border-radius: 5px;
        &:hover{
            background-color: $secondary-color; 
        }
    }
}
.common-footer {
    position: relative;
    bottom: 0;
    clear: both;
    display: table;
    width: 100%;
}

/*responsive*/

@media only screen and (max-width: 1300px){
    .right-content-section {
        top: 43%;
    }
    .right-content-section--left__m {
        top: 15%;
    }
}

@media only screen and (max-width: 1200px){
    .content-title h2 {
        font-size: 45px;
    }
    .order-input-title {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1100px){
    .content-title h2 {
        font-size: 40px;
    }
    .right-content-section {
        top: 48%;
    }
    .right-content-section--left__m {
        top: 15%;
    }
    .order-input-title {
        font-size: 22px;
    }
    .adc-Price {
        width: 32%;
    }
    .order-summary-cart-edit-delete .adc-Desc {
        padding-left: 10px;
        width: 68%;
    }
}

@media only screen and (min-width: 1200px){
    .content-title h6{
        min-width: 530px;
    }
}
@media only screen and (max-width: 1024px){
    .content-title h2 {
        font-size: 45px;
    }
    .splash-icon-image img {
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 991px){
    .splash-icon-image img {
        width: 35%;
        height: auto;
    }
    .splash-input-align.splash-input-align__m {
        .splash-icon-image {
            img{
                width: 30%;
            }
        }
    }
    
    // .content-title h2 {
    //     font-size: 25px;
    //     min-height: auto;
    // }
    .search-title {
        min-height: 195px;
    }
    .order-input-title {
        font-size: 17px;
    }
    .splash-input-align {
        right: 0;
        left: 0;
    }
    .orderSum {
        margin-left: -5px;
    }
    .order-summary-cart-edit-delete .adc-Desc {
        padding-left: 10px;
        width: 62%;
    }
    .order-summary-cart-edit-delete .adc-Desc h2 {
        font-size: 14px;
    }
    .adc-Price {
        width: 38%;
    }

}

@media only screen and (max-width: 767px){
    .search-inner.search-inner__m{
        max-width: 100%;
    }
    .splash-head__title{
        margin-top: 0;
    }
}

@media only screen and (max-width: 639px){
    .splash-head__title{
        margin-top: 0;
    }
}

@media only screen and (max-width: 479px){

    .search-inner__m{
        .search-field {
            .form-group{
                padding: 0 15px;
            }
        }
    }
}