/* sans pro light */
@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/OpenSans-Light.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/OpenSans-Light.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/OpenSans-Light.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/OpenSans-Light.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/OpenSans-Light.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
/* sans pro light ends */

/* sans pro regular */
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/OpenSans-Regular.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/OpenSans-Regular.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/OpenSans-Regular.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/OpenSans-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
/* sans pro regular ends */

/* semi bold font */
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/OpenSans-SemiBold.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/OpenSans-SemiBold.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/OpenSans-SemiBold.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/OpenSans-SemiBold.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
.rating1{width: 50%; margin-left: 10px;}
/* semi bold font ends */

/*font sanspro italic light*/
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("../fonts/OpenSans-LightItalic.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/OpenSans-LightItalic.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/OpenSans-LightItalic.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/OpenSans-LightItalic.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/OpenSans-LightItalic.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/OpenSans-LightItalic.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
/*font sanspro italic light ends*/

/*font extra light*/
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "SourceSansPro-ExtraLight";
    src: url("../fonts/SourceSansPro-ExtraLight.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/SourceSansPro-ExtraLight.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/SourceSansPro-ExtraLight.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/SourceSansPro-ExtraLight.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/SourceSansPro-ExtraLight.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/SourceSansPro-ExtraLight.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
/*font extra light ends*/

/* font sanspro black */
@font-face {
    font-family: "SourceSansPro-Black";
    src: url("../fonts/SourceSansPro-Black.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/SourceSansPro-Black.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/SourceSansPro-Black.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/SourceSansPro-Black.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/SourceSansPro-Black.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/SourceSansPro-Black.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
/* font sanspro black ends */

.openSansRegular
{
    font-family: "OpenSans-Regular";
}
.openSansBlack
{
    font-family: "SourceSansPro-Black";
}
.openSansLight
{
    font-family: "OpenSans-Light";
}
