footer{
    // padding: 0px 0 20px;
}
.footer-bg
{
    background-color: #232323;
}
.footer-border
{
    border-bottom: #666666 1px solid;
}

.footer-menu{
    h4{
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
        font-family: $new-font-medium;
        margin-bottom: 15px;
        margin-top: 0px;
        @include responsive(phone) {
            font-size: 18px;
            margin-bottom: 6px;
        }
    }
    ul{
        list-style-type: none;
        padding-left: 0px;
        margin-bottom: 0px;
        @include responsive(phone) {
            margin-bottom: 10px;
        }
        li{
            padding: 4px 0;
            color: $white;
            font-family: $new-font-regular;
            font-size: 14px;
            cursor: pointer;
            @include responsive(phone) {
                padding: 2px 0;
            }
            a{
                display: inline-block;
                color: $white;
                font-family: $new-font-regular;
                font-size: 14px;
                transition: all .4s;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
}
.footer-menu-top
{
    &:last-child{
        .footer-menu
        {
            ul{
                @include responsive(phone) {
                    // margin-bottom: 0px;
                }
            }
        }
        
    }
}
.copyright-mobile
{
    display: none;
    @include responsive(phone) {
        display: block;
        margin-bottom: 5px;
        font-family: $new-font-regular;
        font-size: 13px;
        color: $white;
        line-height: 30px;
    }
}
.copyright-desktop
{
    @include responsive(phone) {
        display: none;
    }
}
ul.social-link {
    list-style-type: none;
    padding-left: 0px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 0px;
    li{
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        img{
            width: 30px;
            height: 30px;
        }
        span.copyright-text
        {
            display: inline-block;
            font-family: $new-font-regular;
            font-size: 13px;
            color: $white;
            line-height: 30px;
            margin-right: 15px;
        }
        @include responsive(phone) {
            // width: 100%;
        }
    }
}
.footer-logo-inverse
{
    img{
        margin-top: 10px;
        @include responsive(phone) {
           margin-top: 0px;
           margin-bottom: 25px;
        }
    }
}