.common-home-btn
{
    display: inline-block;
    background-color: $green-tone;
    transition: all .4s;
    border-radius: 5px;
    color: $white;
    font-size: 18px;
    font-family: $new-font-semibold;
    padding: 15px 15px;
    min-width: 180px;
    text-align: center;
    @include responsive(tab) {
        padding: 10px 5px;
    }
    @include responsive(xsphone) {
        padding: 5px 2px;
        font-size: 16px;
    }
    &--white{
        background-color: $white;
        color: $heading-color;
    }
}

.mobile-sign-btn
{
    display: inline-block;
    position: relative;
    top: 3px;
    
}
.mobile-signBtn
{
    padding: 0px;
    background-color: transparent;
}
