// .increment-decrement-main.orderSum{
//     width: 66px;
//     @include responsive(phone) {
//         width: 80px;
//     }
// }

/*tooltip*/

.vue-slider-dot:hover .vue-slider-dot-tooltip .vue-slider-dot-tooltip-inner, .vue-slider-dot-tooltip-show .vue-slider-dot-tooltip-inner {
    background-color: white !important;
    color: rgb(0, 0, 0);
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.11) !important;
    border: 1px solid #d8d0d0 !important;
}
.vue-slider-dot-tooltip-inner-top::after { 
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
    border-color: transparent !important;
    border-style: solid;
    border-width: 7px !important;
    border-top-color: #fff !important;
}

/**/
.coupon-submit-holder-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.coupon-submit-holder .topic_wrap {
    margin-top: 0 !important;
}
.coupon-fill:focus::placeholder {
    color: transparent;
}
.coupon-fill:focus::-webkit-input-placeholder { color:transparent; }
.coupon-fill:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.coupon-fill:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.coupon-fill:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
.text-right {
    text-align: right;
}
.review-address-inst {
    margin-bottom: 0;
    font-size: 14px;
}
.phd-link {
    font-size: 12px !important;
}
.couponCode {
    border: none;
    border-bottom: 1px solid #b3b3b3;
    
}
.couponCode:focus {
    transition: .4s all;
    border-bottom: 1px solid #658258;
}

.payment-card-no {
    border: none;
    ::placeholder {
        opacity: 0.5;
    }
}

.card-visa {
    vertical-align: initial;
    width: 30px;
    margin-left: 20px;
}

.order-btn-total {
    width: 30%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.order-btn {
    color: #fff;
    border-radius: 5px;
    font-size: 2.0vw;
    background-color: #4f7942;
    border: 0px;
    width: 100%;
    padding: 10px 0px;
}

.order-btn-up {
    padding: 0px;
    height: 100%;
    width: 100%;
}

.pickup-text {
    font-size: small;
    text-transform: none;
    cursor: pointer;
    
}
.pickup-text:hover {
    border-bottom: 2px solid #658258;
    transition: .4s all;
}

.pickup-devider {
    font-size: initial;
    margin: -4px 5px;
    opacity: .5;
}

.pickup-list {
    list-style: none;
    li {
        display: inline;
    }
}

.pickpup-restaurant-name {
    font-size: 1.2vw;
}

.pickup-address-list li span {
    font-size: 0.9vw;
}

.pickup-address-list {
    li {
        display: inline;
    }
    .change-delvry-addrs {
        float: right;
        margin-right: 272px;
        a {
            color: #658258;
            text-decoration: none;
        }
    }
    .delvry-addrs {
        width: 133px;
    }
}

.coupon-section {
    border-bottom: none;
    margin-top: 20px;
    .apply-coupon-btn {
        border: 1px solid #454545;
        color: #454545;
        background-color: white;
        text-transform: none;
        padding: 2px 10px !important;
        font-size: smaller;
        border-radius: 3px;
    }
    .coupon-applied-info {
        color: #658258;
    }
    .coupon-applied-info-error {
        color: #ce4033;
    }
}

.order-review-items-total {
    padding-left: 0vw;
}

.mobile-expand-order-view {
    .increment-decrement-main {
        width: 92px;
        .minus-button {
            width: 24px;
        }
        .plus-button {
            width: 24px;
        }
        .increment-value {
            font-size: 1.3vw;
        }
    }
    .adc-Desc {
        .item-prime {
            font-size: 1vw;
            cursor: pointer;
        }
    }
    .adc-Price {
        .item-price {
            font-size: 0.8vw;
        }
    }
}

.order-history-year {
    font-size: 2.19vw;
}
.user-order-history-months li {
    font-size: 1.2vw;
    color: #878787;
    opacity: 1;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}
    
.user-order-history-months li:hover {
    opacity: 1;
}

.user-order-month-active {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background: #FFD542;
    opacity: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.order-history-month-card-main {
    margin-top: 0vw;
    margin-right: 2vw;
}

.order-timeline {
    margin-top: 2vw;
}

.oh-contentWrap {
    margin-top: 2vw;
    .order-history-list-main:first-child {
        padding-top: 0px;
    }
    .order-history-list-main {
        background-color: #fff;
        .order-history-card {
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
            .order-date-individual {
                font-size: 1.17vw;
            }
            .order-total-individual {
                font-size: 1.17vw;
                background: #000;
                opacity: 0.5;
                border-radius: 20px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
                padding: 0.5vw 1vw;
            }
        }
        .order-number-individual {
            font-size: 1.17vw;
            padding-left: 20px;
            width: 6vw;
        }
        .track-progress-btn {
            font-size: 1vw;
            color: #000;
            margin: 0px 0px;
            width: 9.47vw;
            height: 2.35vw;
            background-color: #54CF50;
            border: none;
            opacity: 1;
            border-radius: 5px;
        }
        .image-protection {
            background-color: rgba(0, 0, 0, 0.6);
        }
        .order-history-single-card-image {
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}

.order-history-right-main-card {
    top: 9.5vw;
}

.order-history-main-card {
    height: 20.3vw;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    border-bottom: none;
    .image-card-protection {
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .order-history-ref-no {
        font-family: $new-font-medium;
        font-size: 1.17vw;
        margin-right: 10px;
        margin-top: 6px;
    }
}
.order-history-sub-card {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 76%;
    border: none;
}
.order-items-history-main {
    background-color: white;
    padding: 10px;
    overflow-y: scroll;
    height: 43%;
    .order-item-name-price {
        overflow-y: auto;
        height: auto;
        margin: 5px 16px;
    }
}

.rest-detail-on-card {
    margin-left: 1.46vw;
    .order-history-rest-name {
        font-size: 2.63vw;
        color: #fff;
    }
    .pull-left {
        font-size: 1.3vw;
        color: #fff;
    }
    .pull-right {
        margin-right: 10px;
        font-size: 1.3vw;
        color: #fff;
        .order-type-btn {
            color: #000;
            width: 9.47vw;
            height: 2.35vw;
            background-color: #FFD542;
            border: none;
            opacity: 1;
            border-radius: 2px;
        }
    }
}

.order-item-list-container {
    padding: 0vw 2.6vw 0vw 0vw;
}

.order-history-total-price {
    background-color: #FAFAFA;
}


.rating-review-restaurant-card {
    // border-right: 2px solid #EFEFF4;
    // position: sticky;
    // overflow-y: auto;
    // height: 500px;
}
.rating-review-main {
    background-color: #fff;
    margin-bottom: 100px;
    .rating-review-text-protect {
        background-color: rgba(0, 0, 0, 0.7);
    }
    .rating-review-restarant-name {
        margin: 15px;
        margin-left: 10px;
        .rating-review-order-no {
            font-family: $new-font-medium;
            font-size: 1.2vw;
        }
    }
    .rating-review-date {
        display: flex;
        align-items: center;
        margin: 15px;
        margin-left: 10px;    
        .pull-left {
            font-family: $new-font-medium;
            font-size: 1.2vw;
            color: #fff;
            margin-left: 0.37vw;
            margin-bottom: 0;
        }
    }
    .rating-review-price {
        font-family: $new-font-medium;
        font-size: 1.17vw;
        background: #000;
        opacity: 0.7;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        padding: 0.5vw 1vw;
        color: #fff;
        margin-bottom: 0;
        margin-left: 10px;
    }
    .rating-now-get-price-green {
        border: none;
    }
    .rating-now-text {
        width: 7vw;
        height: 7vw;
        right: 0.4vw;
        border-radius: 50%;
        line-height: 1.2vw;
        font-size: 1.1vw;
        text-align: center;
        background: #FFD542;
        opacity: 1;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        margin: 0px 7px;
        .credit-text  {
            font-family: $new-montserrat-light;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0px 1.4vw 0 1.7vw;
            text-align: left;
            color: #333333;
            flex-direction: column;
            font-size: 1vw;
            line-height: 16px;
            span {
                font-family: $new-montserrat-semibold;
                font-weight: 700;
            }
        }
    }
    .rating-review-sub-card-main {
        border-radius: 10px;
    }
}

.rating-review-list-main {
    background-color: #fff;
    position: static;
    height: 100%;
    // border-left: 2px solid #EFEFF4;
    // margin-left: 35.5%;
    width: 70.6%;
    .rating-review-food-items-main {
        background-color: #fff;
        box-shadow: none;
        padding-left: 0px;
        clear: both;
        display: table;
        .rating-review-restaurant-service {
            padding-left: 0px;
            padding-bottom: 20px;
        }
    }
    .ratingreview-ref-no {
        margin-top: 0.37vw;
        margin-right: 0.75vw;
        font-size: 1.2vw;
    }
    .rating-review-rest-detail {
        margin-bottom: 1vw;
        margin-left: 0.8vw;
        .rating-review-restarant-title {
            font-size: 2.6vw;
            font-family: $new-font-medium;
        }
        .rating-review-right-date {
            font-size: 1.3vw;
            font-family: $new-font-medium;
        }
    }
    .rating-review-restaurant-service {
        border-bottom: 1px solid #D8D8D8;
    }
    .food-item-image {
        box-shadow: none;
    }
    .common-text-protection {
        background-color: rgba(0, 0, 0, 0);
    }
    .food-write-review {
        background-color: #fff;
        border-color: rgba(159, 159, 159, 0.4);
        resize: none;
        font-family: $new-font-medium;
    }
}
.food-details {
    padding: 20px 0;
    font-family: $new-font-medium;

} 
.food-item-name {
    font-size: 20px;
}
.rating-review-restarant-title {
    font-size: 1.8vw;
    font-family: $new-font-medium;
    transition: 0.3s all ease;
}
.rating-review-right-card {
    height: 13vw;
    background-size: cover;
    &-right {
        height: 22vw;
    }
}
.rating-review-sub-main {
    margin-bottom: 20px;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    transform: none;
    transition: 0.3s ease-in-out;
    .rating-review-right-card {
        transform: none;
    }
    &:hover {
        border-radius: 14px;
        transform: none;
        transform: scale(1.02);
        transition: 0.3s ease-in-out;
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

.slider-dot {
    background-color: white;
    border: 2px solid rgb(84, 207, 80);
}
.vue-range-slider {
    cursor: pointer;
}
.vue-range-slider.slider-component .slider .slider-piecewise {
    // background-image: linear-gradient(90deg,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 21%, transparent 22%, transparent 22%,rgba(255,255,255,0) 40%,rgba(255,255,255,1) 41%, transparent 42%, transparent 42%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 61%, transparent 62%, transparent 62%, rgba(255,255,255,0) 80%,rgba(255,255,255,1) 81%, transparent 82%, transparent 82%, transparent);
    background-image: linear-gradient(90deg,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 10.5%, transparent 11%, transparent 11%,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 21%, transparent 22%, transparent 22%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 30.5%, transparent 31%, transparent 31%, rgba(255,255,255,0) 40%,rgba(255,255,255,1) 41%, transparent 42%, transparent 42%, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50.5%, transparent 51%, transparent 51%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 61%, transparent 62%, transparent 62%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 70.5%, transparent 71%, transparent 71%, rgba(255,255,255,0) 80%,rgba(255,255,255,1) 81%, transparent 82%, transparent 82%, rgba(255,255,255,0) 90%,rgba(255,255,255,1) 90.5%, transparent 91%, transparent 91%, transparent);
    z-index: 111111;
}

.coupon-fill {
    border: 1px dashed #FF0000;
    background-color: #FFF6F6;
    height: 3.5vw;
    margin-top: 10px;
    width: 22vw;
    text-align: center;
    color: #333333;
    font-size: 1.6vw;
    font-weight: 500;
    font-family: $new-font-medium;
}

.rating-review-submit-new {
    background-color: #54CF50;
    color: #fff;
    border-radius: 5px;
    font-size: 1.4vw;
    border: 0px;
    margin-top: 11px;
    padding: 7px 30px 7px 30px;
}

.rating-review-submit-main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rest-amb {
    padding-left: 0px;
}

.already-reviewed {
    // margin-bottom: 1.1vw;
    padding: 20px 0;
    font-family: $new-font-medium;
    .padding1vw {
        // margin-top: 1.5vw;
        .review-text {
            font-size: 1vw;
        }
    }
   .rest-card-rating {
       padding-left: 0;
   } 
}


.rating-review-restaurant-card:hover::-webkit-scrollbar {
    width: 2px;
    transition: .4s all ease;
    visibility: visible;
}

.rating-review-restaurant-card::-webkit-scrollbar {
    width: 0;
    transition: .4s all ease;
    visibility: hidden;
}
.rating-review-restaurant-card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.rating-review-restaurant-card::-webkit-scrollbar-thumb {
    background-color: #979797;
    outline: 1px solid slategrey;
}

/*10.12.19*/

.fixed-sidebar{
    // position: fixed;
    position: relative;
    width: 27.333333%;
    margin-top: 0 !important;
}
.fluid-sidebar{
    position: relative;
    margin-left: 30.2vw;
}
.rating-review-restaurant-card .ps {
    // height: 84vh;
    height: calc(100vh - 130px);
    width: 100%;
    padding: 0 20px 0 10px;
}
.rating-review-sub-main:first-child {
    margin-top: 1vw;
}
.rating-review-restaurant-card .ps__thumb-x { display: none !important; }
.rating-review-restaurant-card .ps__rail-y { display: block !important; margin-top: 1vw;}
.font-bold {
    font-weight: bold;
    font-size: 14px;
}
.rating-range{
    .rating1 {
        width: 12.4vw;
        margin-left: 18px;
    }
    .distance-value-main {
        padding-left: 0;
    }
    .distance-value{
        margin-top: 0;
    }
    .slider {
        height: 8px !important;
    }
    .vue-slider {
        .vue-slider-rail {
            background-image: linear-gradient(90deg,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 10.5%, transparent 11%, transparent 11%,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 21%, transparent 22%, transparent 22%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 30.5%, transparent 31%, transparent 31%, rgba(255,255,255,0) 40%,rgba(255,255,255,1) 41%, transparent 42%, transparent 42%, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50.5%, transparent 51%, transparent 51%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 61%, transparent 62%, transparent 62%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 70.5%, transparent 71%, transparent 71%, rgba(255,255,255,0) 80%,rgba(255,255,255,1) 81%, transparent 82%, transparent 82%, rgba(255,255,255,0) 90%,rgba(255,255,255,1) 90.5%, transparent 91%, transparent 91%, transparent);
            z-index: 1;
        }
        .vue-slider-dot {
            width: 20px !important;
            height: 20px !important;
        }
        .vue-slider-process {
            background-color: rgb(84, 207, 80) !important;
            background-image: -o-repeating-linear-gradient(left, 
            transparent 0 22px, 
            #fff 14px 24px);
                   background-image: repeating-linear-gradient(90deg, 
            transparent 0 22px, 
            #fff 14px 24px);
        }
    }
}

/*10.12.19 new*/

.ratingreview-slider {
    margin-bottom: 0;
}

.pad_bot {
    padding-bottom: 20px;
}

.food-details {
    .slider-tooltip-wrap {
        opacity: 1;
    }
    .rating-range-slider {
        .slider {
            height: 8px !important; 
        }
    }
    .vue-slider {
        .vue-slider-rail {
            background-image: linear-gradient(90deg,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 10.5%, transparent 11%, transparent 11%,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 21%, transparent 22%, transparent 22%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 30.5%, transparent 31%, transparent 31%, rgba(255,255,255,0) 40%,rgba(255,255,255,1) 41%, transparent 42%, transparent 42%, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50.5%, transparent 51%, transparent 51%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 61%, transparent 62%, transparent 62%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 70.5%, transparent 71%, transparent 71%, rgba(255,255,255,0) 80%,rgba(255,255,255,1) 81%, transparent 82%, transparent 82%, rgba(255,255,255,0) 90%,rgba(255,255,255,1) 90.5%, transparent 91%, transparent 91%, transparent);
            z-index: 1;
        }
        .vue-slider-dot {
            width: 20px !important;
            height: 20px !important;
        }
        .vue-slider-process {
            background-color: rgb(84, 207, 80) !important;
            background-image: -o-repeating-linear-gradient(left, 
            transparent 0 22px, 
            #fff 14px 24px);
                   background-image: repeating-linear-gradient(90deg, 
            transparent 0 22px, 
            #fff 14px 24px);
        }
    }
}



.no_mg {
    margin: 0 !important;
}

.no_mg_top {
    margin-top: 0 !important;
}

.no_mg_rt {
    margin-right: 0 !important;
}

.no_mg_bot {
    margin-bottom: 0 !important;
}

.no_mg_lt {
    margin-left: 0 !important;
}

.no_pad {
    padding: 0 !important;
}

.no_pad_top {
    padding-top: 0 !important;
}

.no_pad_rt {
    padding-right: 0 !important;
}

.no_pad_bot {
    padding-bottom: 0 !important;
}

.no_pad_lt {
    padding-left: 0 !important;
}

.rating-review-restarant-title {
    font-size: 1.3vw;
}

.fixed-sidebar {
    // width: 20.333333%;
    width: 23.333333%;
    margin-right: 0;
}

.rating-review-restaurant-card .ps {
    padding: 0 20px 0 10px;
    height: 97vh;
    
}

.rating-review-right-card {
    height: 9.5vw;
}

.rating-review-main .rating-review-restarant-name .rating-review-order-no {
    font-size: 1vw;
}

.rating-review-main .rating-review-date .pull-left {
    font-size: 0.8vw;
    margin-left: 0;
}

.rating-review-date {
    width: 54%;
}

.rating-review-main .rating-review-price {
    font-size: 0.8vw;
    padding: 0.3vw 0;
    width: 45px;
    text-align: center;
    margin-left: 5px;
}

.rating-review-list-main {
    // width: 77.7%;
    // margin-left: 23.2vw;
    width: 75%;
    margin-left: 0;
    padding-left: 0;
    right: 0 !important;
}

.rating-review-main .rating-now-text {
    width: 5.3vw;
    height: 5.3vw;
    margin: 0;
    margin-left: 6px;
}

.rating-review-main .rating-now-text .credit-text {
    font-size: 0.7vw;
    line-height: 11px;
    padding: 0;
}

.rating-review-main .rating-now-text .credit-text span {
    display: inline-block;
    padding-left: 5px;
}

.rating-review-sub-main {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.rating-review-sub-main:hover,
.rating-review-sub-main.active {
    border-radius: 15px;
    transform: scale(1.05);
}

.topic_bg {
    height: 17vw;
}

.rr-rater {
    font-family: $new-font-regular;
    font-size: 17px;
    font-weight: 400;
}

.vue-slider-dot-handle,
.vue-slider-dot-handle:hover {
    border: 4px solid rgb(84, 207, 80) !important;
}

.rating-review-restaurant-service {
    font-size: 1.1vw;
}

.rating-range .rating1 {
    margin: 0;
    float: right;
    margin-right: 15px;
}

.topic_wrap {
    display: flex;
    font-size: 1.3vw;
    align-items: center;
    margin-bottom: 10px;
    font-family: $new-font-medium !important;
}

.topic_wrap i {
    margin-right: 10px;
    font-size: 1.8vw;
    color: #54CF50;
}

.coupon-fill {
    cursor: pointer;
}

.coupon-fill:active,
.coupon-fill:focus,
.coupon-fill:disabled {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    cursor: initial;
}

.bttn {
    background: transparent;
    color: #454545;
    padding: 0 !important;
    width: 100px;
    line-height: 45px;
    margin-left: 10px;
    font-family: $new-font-medium !important;
}

.bttn.ol_green {
    border: 2px solid #54CF50;
}

.vue-slider-rail {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.food-write-review {
    height: 8vw !important;
}

.rating-review-submit-new {
    font-family: $new-font-medium !important;
    padding: 10px 30px 10px 30px;
}

.btton {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 24px;
    right: 20px;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2vw;
    font-family: $new-font-regular;
}

.btton.yel {
    background: #FFD542;
}

.btton i {
    width: 20px;
    overflow: hidden;
    margin-right: 5px;
    line-height: 0;
}

.btton i img {
    width: 100%;
    height: auto;
}

.rating-range .vue-slider .vue-slider-dot,
.food-details .vue-slider .vue-slider-dot {
    width: 25px !important;
    height: 25px !important;
}

.oh-contentWrap .order-history-list-main .order-number-individual {
    width: auto;
    text-transform: capitalize;
    font-family: $new-montserrat-light !important;
    font-size: 1vw;
    padding-left: 12px;
}

.order-history-rest-name {
    font-family: $new-font-semibold !important;
}

.order-history-year,
.user-order-history-months li {
    font-family: $new-font-regular;
}

.oh-contentWrap .order-history-list-main .order-history-card .order-date-individual,
.oh-contentWrap .order-history-list-main .order-history-card .order-total-individual,
.oh-contentWrap .order-history-list-main .track-progress-btn,
.order-history-title,
.user-order-month-active,
.order-history-main-card .order-history-ref-no,
.rest-detail-on-card .order-history-rest-name,
.rest-detail-on-card .pull-leftll {
    font-family: $new-font-medium !important;
}

.oh-contentWrap .order-history-list-main .order-history-card .order-total-individual {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    box-shadow: none;
}

.order-history-date-price {
    opacity: 1;
}

.oh-contentWrap .order-history-list-main .order-history-card .order-date-individual {
    margin-top: 13px;
    font-size: 1vw;
}

.oh-contentWrap .order-history-list-main .order-history-card .order-total-individual {
    padding: 0.5vw 1.5vw;
}

.oh-contentWrap .order-history-list-main .track-progress-btn {
    height: 2.5vw;
    letter-spacing: 0.5px;
    font-size: 1vw;
    width: 8vw;
}

.order-history-rest-name {
    line-height: 5px;
    font-size: 1.6vw;
}

.order-history-title {
    text-align: center;
    font-size: 2vw;
}

.order-history-right-main-card {
    position: absolute;
    top: 20px;
    margin-left: 41.5%;
}

.topic_sidebar {
    height: 100vh;
    width: 40%;
    padding-top: 20px;
}

.oh-contentWrap .order-history-list-main .image-protection,
.order-history-main-card .image-card-protection {
    background-color: rgba(0,0,0,0.7);
}

.order-history-main-card .order-history-ref-no {
    text-transform: capitalize;
    margin-right: 20px;
}

.rest-detail-on-card .order-history-rest-name {
    line-height: 40px;
}

.rest-detail-on-card .pull-left {
    font-size: 1.1vw;
}

.in_wrap {
    display: flex;
    align-items: flex-end;
}

.in_wrap i {
    overflow: hidden;
    margin-right: 10px;
}

.in_wrap i img {
    width: 100%;
    height: auto;
}

.in_wrap span {
    line-height: 13px;
}

.btton.pos {
    bottom: 0;
}

.oh-contentWrap .order-history-list-main .order-history-card {
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.order-history-main {
    top: 105px;
}

.grey {
    color: #979A9B;
}

.barlow_reg {
    font-family: $new-font-regular !important;
}

.barlow_med {
    font-family: $new-font-medium !important;
}

.topic_con {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.order-history-total-price {
    font-size: 1.2vw;
    padding: 1vw 2.6vw 1vw 2.1vw;
}
.order-items-history-main {
    overflow-y: hidden;
    height: auto;
}

.topic_core {
    padding: 0 30px;
    margin-top: 50px;
}

.topic_info h1 {
    font-size: 1.5vw;
    padding-bottom: 5px;
}

.topic_info span {
    font-size: 1.3vw;
}

.order-history-sub-card {
    height: 93%;
}

.sidebar_wrap {
    display: flex;
}

.sidebar_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar_list {
    flex: 1;
}

.sidebar_list li {
    padding-left: 0;
    font-family: $new-font-light;
    cursor: pointer;
}

.user-order-year-active {
    font-family: $new-font-medium !important;
}

.order-history-month-card-main {
    margin-right: 0.5vw;
}

.order-history-card:hover, .order-history-active {
    transform: scale(1.05);
}

.vue-slider .vue-slider-rail,
.vue-slider .vue-slider-rail:hover {
    background-image: none;
    background: white !important;
    border: 1px solid rgba(159, 159, 159, 0.4);
}

.site_modal {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.rate-datetime {
    margin-left: 10px;
    color: #9f9f9f;
}

.piri {    
    width: 1.5vw !important;
}

.sel_wrap {
    display: none;
}

.rc {
    font-family: $new-font-medium;
    color: #454545;
    text-shadow: none;
    font-size: 2.64vw;
    flex: 1;
    text-transform: capitalize;
}

.topic_wrap {
    @include flexbox();
    margin-top: 100px;

    .btton_wrap {
        @include flexbox();
        margin-bottom: 2vw;

        .btton.no_pos {
            position: relative;
            bottom: 0;
            right: 0;
        }

        .btton.active {
            background: #FFD542;
        }
    }
}

.orlc {
    padding-right: 15px;
}

.padd {
    border: none;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5vw;
}

.phd {
    margin: 0;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background: #f7f7f7;
    font-family: $new-font-medium;
    @include flexbox;    
    align-items: center;
    border-bottom: none;

    span {
        font-size: 18px;
        color: #363434;
        flex: 1;
    }

    a {
        font-size: 1.09vw;
        color: #4f7942;
        text-decoration: underline;

        &:hover {
            text-decoration: underline !important;
        }
    }
}

.meov {
    font-family: $new-font-medium;
    padding: 20px;

    .prn {
        font-size: 1.5vw;
        margin: 0;
        padding-bottom: 10px;
    }
}

.topic_list {
    @include list;

    li {
        @include flexbox;
        margin-bottom: 10px;

        i {
            width: 1.3vw;
            overflow: hidden;
            margin-right: 10px;

            img {
                width: 100%;
                height: auto;
            }
        }

        span {
            font-size: 1.2vw;
            line-height: 25px;
        }
    }
}

.topic_bx  {
    width: 50%;
    position: relative;

    input {
        width: 100%;
        border: 1px solid #d3d3d3;
        padding: 0 1vw;
        height: 6vh;
        font-family: $new-font-regular;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.2vw;
    }

    .topic_db {
        @include list;
        padding: 0 1.5vw;
        background: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        margin-top: 0.5vw;
        position: absolute;
        z-index: 1;

        li {
            @include flexbox;
            align-items: center;
            padding: 1vw 0;
            border-bottom: 1px solid #ededed;

            h1 {
                font-family: $new-font-medium;
                font-size: 1.2vw;
                margin: 0;
                flex: 1;

                span {                    
                    font-family: $new-font-regular;
                    display: block;
                    padding-top: 5px;
                }
            }

            a {
                width: 0.8vw;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            i {
                @extend a;
                cursor: pointer;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }
}

.site_form {

    .txt_bx {
        margin-bottom: 2vh;
        position: relative;

        input {
            width: 100%;
            border: 1px solid #d3d3d3;
            padding: 0 1vw;
            height: 6vh;
            font-family: $new-font-regular;
            color: rgba(0,0,0,0.6);
            font-size: 1.2vw;
        }

        textarea {
            @extend input;
            height: 12vh;
            resize: none;
        }

        .topic_db {
            @include list;
            padding: 0 1.5vw;
            background: white;
            box-shadow: 0 2px 4px rgba(0,0,0,0.5);
            margin-top: 0.5vw;
            position: absolute;
            z-index: 1;
            width: 100%;
    
            li {
                @include flexbox;
                align-items: center;
                padding: 1vw 0;
                border-bottom: 1px solid #ededed;
    
                h1 {
                    font-family: $new-font-medium;
                    font-size: 1.2vw;
                    margin: 0;
                    flex: 1;
    
                    span {                    
                        font-family: $new-font-regular;
                        display: block;
                        padding-top: 5px;
                    }
                }
    
                a {
                    width: 0.8vw;
                    margin-right: 10px;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
    
                i {
                    @extend a;
                    cursor: pointer;
                }
            }
    
            li:last-child {
                border-bottom: none;
            }
        }
    }

    .sub_bx {

        input {
            width: 12vw;
            line-height: 35px;
            border-radius: 5px;
            font-size: 1.2vw;
            font-family: $new-font-regular;
            background: #FFD542;
            border: none;
            padding: 0;
        }     
    }
}

.btton.no_pos {
    position: relative;
    bottom: 0;
    right: 0;
}

.topic_cont {
    border: 1px solid #f2f1f1;
    border-radius: 5px;
    margin-bottom: 20px;

    .topic_head {
        @include flexbox;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #f2f1f1;

        i {
            overflow: hidden;
            width: 2vw;

            img {
                width: 100%;
                height: auto;
            }
        }

        span {
            font-family: $new-font-medium;
            font-size: 18px;
            padding-left: 10px;
            flex: 1;
        }

        i.add {
            width: 10px;
            cursor: pointer;
        }
    }

    .topic_body {
        @include flexbox;
        padding: 1vw;

        .topic_des {
            font-family: $new-font-regular;
            flex: 1;

            .radio_bx {
                @include flexbox;
                align-items: center;

                input {
                    opacity: 0;
                    margin: 0;
                }

                label {
                    position: relative;
                    margin: 0;
                    margin-left: 10px;
                    color: #767676;
                    font-size: 1.2vw;
                    @include flexbox;
                    align-items: center;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: -23px;
                        width: 12px;
                        height: 12px;
                        border-radius: 55%;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                        background: white;
                    }

                    i {
                        overflow: hidden;
                        margin-bottom: 4px;
                        margin-right: 10px;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                
                > i {
                    overflow: hidden;
                    margin-left: 10px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                input:checked + label::after {
                    @extend label:before;
                    background: #54cf50;
                }
                input:checked + label{
                    &::before {
                        background: #54cf50;
                    }
                   
                }
            }

            .in_core {
                @include flexbox;
                margin-left: 22px;
                margin-bottom: 3vh;

                i {
                    overflow: hidden;
                    width: 10px;
                    line-height: initial;
                    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                span {
                    color: #c34033;
                    padding-left: 5px;
                }

                input {
                    width: 20%;
                    border: 1px solid #d3d3d3;
                    padding: 0 1vw;
                    height: 5vh;
                    font-family: "barlow_semi_condensedregular";
                    color: rgba(0,0,0,0.6);
                    font-size: 1vw;
                }
            }

            > span {
                font-size: 1vw;
                color: #c34033;
                display: block;
            }

            > span.green {
                color: #4f7942 !important;
            }

            .low_core {
                @include flexbox;
                width: 60%;
                margin-bottom: 2vw;

                input {
                    // border: none;
                    // border-bottom: 1px solid #d8d8d8;
                    flex: 1;
                    font-family: $new-font-medium;
                    width: 150px !important;
                    margin-right: 10px;
                }                

                .btton {
                    width: 100px;
                    line-height: 35px;
                }
            }
            .coupon_err {
                position: absolute;
                // top: -1.-5vw;
                // top: -1.5vw;
            }

        }

        > span {
             font-family: $new-font-medium;
             font-size: 20px;
         }
    }
}


.card_form {
    font-family: $new-font-regular;
    font-size: 1.2vw;
    color: #767676;
    width: 100%;
    padding: 1vw;

    .text_box {
        margin-bottom: 3vh;

        label {
            margin: 0;
            padding-bottom: 10px;
        }

        .form_wrap {
            @include flexbox;

            input {                
                margin-right: 1vw;
            }

            select {
                width: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1vw;
                height: 5vh;
                font-family: "barlow_semi_condensedregular";
                color: rgba(0,0,0,0.6);
                font-size: 13px;
                background: url(../images/icons/Dishrating/ico_15.png) no-repeat 70px center !important;
                background-size: 10px auto !important;
                margin-right: 1vw;
            }
        }

        input {
            width: 100%;
            border: 1px solid #d3d3d3;
            padding: 0 1vw;
            height: 5vh;
            font-family: "barlow_semi_condensedregular";
            color: rgba(0,0,0,0.6);
            font-size: 13px;
        }
    }

    .text_box_wrap {
        @include flexbox;

        .text_box {            
            margin-right: 10vw;
            flex: 1;
        }
    }

    .sub_bx {
        input {            
            width: 12vw;
            line-height: 50px;
            border-radius: 5px;
            font-size: 1.2vw;
            font-family: "barlow_semi_condensedregular";
            background: #FFD542;
            border: none;
            padding: 0;
            color: black;
        }

        button {
            @extend input;
        }
    }
}
.checkout-butn {
    font-size: 15px;
}
.adcd {    
    width: 100%;
    flex: 1;
    font-family: $new-font-regular;
    font-size: 1.2vw;

    h2 {
        font-family: $new-font-medium;
        font-size: 16px !important;
    }

    p {
        margin-left: 1vw;
    }
}

.idm {
    width: auto !important;
}

.pls_btn {
    line-height: 25px !important;
}

.i_val {
    font-size: 13px !important;
}

.adcp {    
    width: 100%;
    padding-top: 35px;
}

.adcp p {
    font-size: 17px !important;
}

.ortt {
    font-family: $new-font-medium;   
    font-size: 1.4vw;
    color: #363434;
    margin: 10px 0;
}

.orit {
    padding: 0 30px;
}

.ortot {
    color: rgba(0,0,0,0.6);
}

.tooltip_con {
    position: relative;
    width: 13px;
    height: 13px;
    background: white;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 55%;
    text-align: center;
    font-size: 10px;
    bottom: 1px;
    left: 5px;
    cursor: pointer;
}

.tltip {
    position: absolute;
    top: 27px;
    left: -40px;
    width: 26vw;
    z-index: 999;
    font-size: 12px;
    text-align: left;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
       -moz-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
         -o-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
            transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.cls_tt {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 15px;
    cursor: pointer;
}

.tltip::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 40px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    transform: rotate(45deg);
    filter: drop-shadow(0 -3px 4px rgba(0, 0, 0, 0.4));
}

.tooltip_con:hover .tltip {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.ordm {
    border-bottom: none;
    padding: 10px 0;
}

.ordm.ass {
    background: #f7f7f7;
}

.bttnn {
    font-family: $new-font-semibold;
    width: 270px;
    padding: 10px 0;
    font-size: 22px;
}

.bttnn.green {
    background: #54cf50;
}

.rchk {
    font-family: $new-font-medium;
    font-size: 36px;
    margin-top: 95px;
    margin-bottom: 1vw;
}

.occ {
    top: 0;
    box-shadow: none;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
}

.ocm {
    border: none;
    border-radius: 0;
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.8vw;
    background: white;
}

.topic_wrapper {
    @include flexbox;
    border-bottom: 1px solid #e4e4e4;
    padding: 20px 0;
    margin-right: 6vw;

    i {
        overflow: hidden;
        width: 45px;
        margin-right: 15px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .inner_wrapper {
        font-family: $new-font-medium;

        .och {
            font-size: 2vw;
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
            color: #363434;
        }

        .oci {
            margin: 0;
            margin-top: 5px;
            font-size: 22px;
        }

        .ocs {
            font-size: 25px;
            margin-top: 2vw;
            margin-bottom: 0;
            font-family: $new-font-regular;
        }
    }
}

.ocpd {
    font-size: 21px;
}

.ocac {
    margin-bottom: 30px !important;
}

.topic_zip {
    font-size: 16px;
    margin-bottom: 40px;

    h6 {
        font-family: $new-font-regular;
        font-size: 18px;
        margin: 0;
        padding-bottom: 10px;
    }

    .tip_list {
        @include list;
        @include flexbox;
        margin-right: -10px;
        margin-left: -10px;

        li {
            font-family: $new-font-medium;
            background: #f7f7f7;
            width: 100%;
            line-height: 45px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2vw;
            text-align: center;
            margin-right: 10px;
            margin-left: 10px;
            cursor: pointer;

            &.active {
                background-color: #54cf50;
                color: white;
            }
        }
    }
}

.ordmain {
    border-bottom: none;
}

.emsg {
    color: #c34033;
    display: block;
    padding-top: 10px;
}

.addCardSection {
    height: 0;
    opacity: 0;
    visibility: hidden;
    
    @include transition(all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
}

.addCardSection.active {
    height: 235px;
    opacity: 1;
    visibility: visible;
}

.ohsci {
    border-radius: 5px 5px 0 0;
}

.icp,
.ipro {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.oht {
    text-align: left;
}

.ohsc {
    height: fit-content;
}
.add-delivery-instructions {
    font-size: 1.09vw;
    color: #4f7942;
    text-decoration: underline;
    display: inline-block;
    font-size: 12px;
}

.grb {
    width: 100%;
    height: 768px;
    background: url(../images/img_1.png) no-repeat center center;
    background-size: cover;
    margin-top: 120px;
   }
   
   .glt {
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    width: 465px;
    margin-left: 60px;
    margin-top: 25px;
   
   }
   
   .glf form {
    width: 100%;
   }
   
   .pltst {
    margin-top: 30px;
   }
   
   .gcw {
    padding-bottom: 30px;
   }
   
   .section {
    padding: 125px 0;
   
    .main_wrapper {
    width: 725px;
    margin: 0 auto;
   
    .topic_title {
    
    i {
    overflow: hidden;
    width: 95px;
    display: block;
    margin: 0 auto;
   
    img {
    width: 100%;
    height: auto;
    }
    }
   
    h1 {
    font-family: $new-font-regular;
    margin: 0;
    margin-top: 15px;
    font-size: 40px;
    }
   
    }
   
    .topic_wrapp {
    @include flexbox();
    margin-right: -11px;
    margin-left: -11px;
    padding-top: 55px;
   
    .in_cont {
    font-family: $new-font-medium;
    margin-right: 11px;
    margin-left: 11px;
   
    a {
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    display: block;
    padding: 30px;
   
    > i {
    overflow: hidden;
    width: 80px;
    height: 80px;
    display: block;
    margin: 20px auto;
   
    img {
    width: 100%;
    height: auto;
    }
    }
   
    .core_wrap {
    @include flexbox();
    @include align-items(center);
    padding: 0 38px;
    margin-top: 30px;
   
    &.pad_lt_rt {
    padding: 0 85px;
    }
   
    span {
    font-size: 20px;
    color: #333333;
    padding-right: 30px;
    }
   
    i {
    overflow: hidden;
    width: 16px;
    margin-bottom: 5px;
   
    img {
    width: 100%;
    height: auto;
    }
    }
    }
    }
   
    p {
    font-size: 16px;
    padding: 0 50px;
    color: #9e9e9e;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    }
    }
    }
   
    }
   
   }
   
   .faqc {
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    padding: 25px;
    width: 1005px;
    margin: 30px auto;
   }
   
   .row.padtlr {
    padding: 0 85px;
    padding-top: 75px;
   }
   
   .fht {
    font-family: $new-font-medium;
    font-size: 20px;
    margin-bottom: 25px;
   }
   
   .fdh {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background: #f7f7f7;
    font-family: $new-font-medium;
    font-size: 20px;
    padding: 20px;
    color: #363636 !important;
   
    @include flexbox();
    @include align-items(center);
   
    i {
    margin-right: 10px;
   
    img { 
    margin-bottom: 5px;
    }
    }
   
    &:hover {
    color: #363636 !important;
    }
   }
   
   .pbody {
    padding: 30px !important;
    border: 2px solid rgba(0, 0, 0, 0.12);
    font-family: $new-font-light;
    font-size: 16px;
   }
   
   .pbody p {
    line-height: 23px;
    font-size: 16px;
   }
   
   .pdef {
    box-shadow: none !important;
    border-radius: 0 !important;
   }
   
   .fmh {
    margin-bottom: 25px;
   }
   
.tippedAmount{
    max-width: 106px !important;
    flex: none !important;
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 5px;

}
// Responsive

/*Larger_Desktops_FHD_QHD_UHD*/

@media (min-width: 1921px) {
    .rating-review-main .rating-now-text {
        width: 5.8vw;
        height: 5.8vw;   
        right: 1vw; 
    }

    .rating-review-main .rating-now-text .credit-text {
        font-size: 0.8vw;
        line-height: 25px;
    }

    .rating-review-main .rating-review-price {
        font-size: 0.9vw;
        width: 85px;
        margin-left: 15px;
    }
}



/*Macbbok_And_20_inch_Monitor_or_Device_With_1600px_Width*/

@media all and (min-width: 1367px) and (max-width: 1600px) {

}



/*Large_Tablet(iPad_Pro)_landscape_And_Windows_Laptop*/

@media all and (min-width: 1201px) and (max-width: 1366px) { 
}
	

@media all and (min-width: 1201px) and (max-width: 1366px) and (min-height: 880px) {

}



/*Tablets_Landscape*/

@media all and (max-width: 1200px) {

    .fixed-sidebar {
        width: 33.333333%;
        margin-right: 0;
    }
    
    .rating-review-restaurant-card .ps {
        height: 100vh;
    }

    .rating-review-right-card {
        height: 16.5vw;
    }
    
    .rating-review-restarant-title {
        font-size: 2.2vw;
    }

    .rating-review-main .rating-review-restarant-name .rating-review-order-no {
        font-size: 1.4vw;
    }
    
    .rating-review-main .rating-review-date .pull-left {
        font-size: 1.3vw;
    }

    .rating-review-main .rating-review-price {
        font-size: 1.2vw;
        padding: 0.5vw 0;
        width: 50px;
        margin-left: 10px;
    }

    .rating-review-main .rating-now-text {
        width: 7vw;
        height: 7vw;
        right: 0.8vw;
    }

    .rating-review-main .rating-now-text .credit-text {
        font-size: 1vw;
    }

    .rating-review-list-main {
        width: 62.666%;
        // margin-left: 33.2vw;
        margin-left: 0;
    }

    .btton {
        right: 10px;
    }

    // .rr-rater {
    //     font-size: 1vw;
    //     line-height: 25px
    // }

    .rating-range .vue-slider .vue-slider-dot, .food-details .vue-slider .vue-slider-dot {
        width: 22px !important;
        height: 22px !important;
    }

    .rating-range .rating1 {
        margin-right: 10px;
    }

    // .order-history-sub-card {
    //     height: 65%;
    // }
    
    .topic_core {
        padding: 0 20px;
        margin-top: 40px;
    }  

    .tltip {
        width: 32vw;
    }

    .topic_bx input,
    .site_form .txt_bx input,
    .topic_cont .topic_body .topic_des .in_core input,
    .card_form .text_box input,
    .card_form .text_box .form_wrap select {
        height: 4vh !important;
    }

    .site_form .txt_bx textarea {
        height: 10vh !important;
    }
    .topic_wrapper .inner_wrapper .ocs {
        font-size: 23px;
    }

    .topic_zip .tip_list li {
        line-height: 35px;
    } 
    .faqc {
        width: 850px;
       
    }
        
}



/*Large_Tablets_Potrait(Ipad_Pro)*/

@media all and (min-width: 1024px) and (max-width: 1200px) and (orientation: portrait) {

    .order-history-sub-card {
        height: 35%;
    }

    .topic_bx input,
    .site_form .txt_bx input,
    .topic_cont .topic_body .topic_des .in_core input,
    .card_form .text_box input,
    .card_form .text_box .form_wrap select {
        height: 2.5vh !important;
    }

    .site_form .txt_bx textarea {
        height: 10vh !important;
    }

    .site_form .txt_bx {
        margin-bottom: 1vh;
    }

}



/*Tablets_Potrait_And_Device_With_Lower_Resolution*/

@media all and (max-width: 991px) {
    
    .rating-review-main .rating-review-date .pull-left {
        font-size: 1.1vw;
    }

    .rating-review-main .rating-review-price {
        font-size: 1.2vw;
        width: 38px;
        margin-left: 10px;
    }

    .rating-review-main .rating-now-text .credit-text {
        font-size: 0.9vw;
        line-height: 9px;
    }

    .btton {
        width: 80px;
        line-height: 30px;
        font-size: 1.5vw;
    }

    // .order-history-sub-card {
    //     height: 38%;
    // }

    .btton i {
        width: 15px;
    }

    .in_wrap i {
        margin-right: 5px;
        width: 10px;
    }

    .rest-detail-on-card .order-history-rest-name {
        line-height: 30px;
        font-size: 2.2vw;
    }

    .topic_bx input,
    .site_form .txt_bx input,
    .topic_cont .topic_body .topic_des .in_core input,
    .card_form .text_box input,
    .card_form .text_box .form_wrap select {
        height: 3vh !important;
    }

    .site_form .txt_bx textarea {
        height: 7vh !important;
    }

    .rchk {
        font-size: 25px;
    }

    .topic_wrapper i {
        width: 25px;
    }

    .topic_wrapper .inner_wrapper .oci {
        font-size: 15px;
    }

    .topic_wrapper .inner_wrapper .ocs {
        font-size: 16px;
    }

    .ocpd {
        font-size: 18px;
    }

    .bttnn {
        width: 170px;
        padding: 5px 0;
        font-size: 18px;
    }

    .meov {
        font-family: "barlow_semi_condensedmedium";
        padding: 15px;
    }

    .meov .prn {
        font-size: 2vw;
        padding-bottom: 5px;
    }

    .topic_list li i {
        width: 1.8vw;
    }

    .topic_list li span {
        font-size: 1.6vw;
    }

    .topic_list li {
        margin-bottom: 5px;
    }

    .bttnn {
        width: 150px;
        font-size: 16px;
    }   
    .glt {
        margin-left: 30px;
    }
    
    .faqc {
    width: 595px;
    }
}



/*Small_Tablets_Protrait_Mode*/

@media all and (max-width: 767px) {
    .phd span {
        font-size: 21px !important;
        font-family: $new-font-medium;
        color: #363434;
        font-weight: 600;
    }
    .adcd h2 {
        font-size: 18px !important;
        font-family: $new-font-medium;
        color: #454545;
        font-weight: 600;
        margin-right: 20px;
    }
    .order-review-total .pull-left {
        font-weight: 600;
        font-size: 18px;
        color: #454545;
    }
    .checkout-butn {
        font-size: 16px !important;
        font-weight: 600 !important;
        width: 100px !important;
        padding: 5px !important;
    }
    .order-review-total .pull-right {
        font-size: 18px;
        font-weight: 600;
    }
    .common-brand-color h3 {
        text-align: left;
        font-weight: 400 !important;
        font-family: $new-font-medium;
    }
    .rating-review-menu-button {
        display: none;
    }
    .sel_wrap {
        @include flexbox();
        margin-bottom: 5vh;
    
        .sel_bx {
            background: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            border-radius: 5px;
            line-height: initial;
            @include flexbox();
            align-items: center;
            font-size: 3vw;
            margin-right: 12vw;
    
            span {
                font-family: "barlow_semi_condensedregular";
                color: #938f8f;
                padding: 0 3vw;
                border-right: 1px solid #e8e8e8;
                padding-top: 15px;
                padding-bottom: 13px;
            }
    
            select {
                font-family: "barlow_semi_condensedmedium";
                border: none;
                padding: 0;
                width: 105px;
                padding-left: 5vw;
                background: url(../images/icons/Dishrating/ico_5.png) no-repeat 82px center !important;
                background-size: 11% auto !important;
                outline: none !important;
            }
        }
    }

    .ohrmc {
        top: 200px !important;
    }
}



/*Large_Phone_Potrait*/

@media all and (max-width: 575px ) {
    .fixed-sidebar {
        width: 100%;
        margin-top: 21vw !important;
    }
    .order-error-msg {
        top: 40px !important;
    }
    .rating-review-restaurant-card .ps {
        padding: 0;
    }

    .rating-review-right-card {
        height: 50vw;
    }

    .rating-review-restarant-name {
        left: 5.5vw !important;
        right: initial !important;
        top: 4.5vw !important;
        bottom: initial !important;
    }

    .rating-review-restarant-title {
        position: relative !important;
        bottom: initial !important;
        left: initial !important;
    }
    
    .rating-review-order-no {
        font-size: 3.1vw !important;
        position: relative !important;
        right: initial !important;
        top: initial !important;
    }

    .rating-review-date {
        left: 5.5vw !important;
    }

    .rating-review-main .rating-review-date .pull-left {
        font-size: 3.1vw;
    }

    .rating-review-main .rating-review-price {
        font-size: 3vw;
        width: 70px;
        display: block;
        padding: 1.5vw 0;
    }
    
    .ps__thumb-y,
    .ps__rail-y {
        width: 0 !important;
    }

    .rating-review-main .rating-now-text {
        width: 24vw;
        height: 24vw;
        right: 5.5vw;
        bottom: 4.5vw;
    }

    .rating-review-main .rating-now-text .credit-text {
        font-size: 3.5vw;
        line-height: 15px;
    }

    .rating-review-sub-main:hover, 
    .rating-review-sub-main.active {
        transform: none !important;
    }

    .site_modal {       
        width: 100% !important;
        padding: 20px;
        background: white;
        margin: 0;
        height: 100%;
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .cls_modal {        
        position: absolute;
        top: 24px;
        left: 15px;
        opacity: 1;
        overflow: hidden;
        z-index: 999;
        width: 18px;
    }

    .cls_modal img {
        width: 100%;
        height: auto;
    }    

    .modal.fade .site_modal {
        transform: scale(1.5);
        -webkit-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
           -moz-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
             -o-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
                transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    }

    .modal.in .site_modal {
        transform: scale(1);
        -webkit-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
           -moz-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
             -o-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
                transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    }

    .rating-review-list-main {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .rating-review-rest-detail {
        left: 2.7vw;
        bottom: 4.7vw;
    }

    .rating-review-list-main .rating-review-rest-detail .rating-review-restarant-title {
        font-size: 5vw; 
    }

    .rating-review-list-main .rating-review-rest-detail .rating-review-right-date {
        font-size: 2.5vw;
    }

    .btton {
        line-height: 25px;
        font-size: 2.5vw;
        right: 20px;
    }

    .btton i {
        width: 12px;
    }

    .rating-review-right-card,
    .rating-review-text-protect {
        border-radius: 0;
    }
    // .rr-rater {
    //     font-size: 3.5vw;
    // }

    .rating-range .rating1 {
        width: 34.4vw;
        margin-right: 10px;
    }

    .vue-slider-rail {
        height: 7px !important;
    }

    .rating-range .vue-slider .vue-slider-dot, .food-details .vue-slider .vue-slider-dot {
        width: 15px !important;
        height: 15px !important;
    }

    .vue-slider-dot-handle, .vue-slider-dot-handle:hover {
        border: 3px solid #54cf50 !important;
    }

    .rating-review-list-main .rating-review-food-items-main .rating-review-restaurant-service {
        padding-bottom: 15px;
    }

    .food-item-name {
        padding-bottom: 10px;
    }

    .food-details .vue-slider .vue-slider-rail {
        margin-left: 5px;
    }

    .food-write-review {
        height: 15vw !important;
        margin-top: 0vw;
        font-size: 3vw;
    }

    .modal-body {
        height: 100%;
    }

    .coupon-fill {
        height: 10.5vw;
        width: 100%;
        font-size: 3.5vw;
        margin-right: 15px;
    }

    .rating-review-submit-new {
        width: 100%;
    }

    .rating-review-submit-main {
        padding: 0 15px !important;
    }

    .rating-review-submit-new {
        font-size: 4vw;
        margin-bottom: 20px;
    }

    .topic_wrap {
        font-size: 4.5vw;
        margin-bottom: 20px;
    }

    .topic_wrap i {
        font-size: 4.5vw;
    }

    .bttn {
        margin: 0 !important;
        width: 120px;
        line-height: 42px;
        margin-left: 10px !important;   
    }

    .modal_wrap {
        display: flex;
    }
    
    .popular-item-rating-icon {
        width: 4.5vw;
    }

    .already-reviewed {
        padding: 20px;
    }

    .food-item-name {
        font-size: 5vw !important;
    }

    .review-text {
        font-size: 18px;
    }

    .topic_sidebar {
        width: 100%;
        padding: 10px;
        padding-top: 10px;
    }
    
    .order-history-ref-no,
    .oh-contentWrap .order-history-list-main .order-history-card .order-date-individual {
        font-size: 2.5vw !important;
    }

    .order-history-rest-name {
        font-size: 5.4vw;
    }
    
    .oh-contentWrap .order-history-list-main .order-number-individual {
        padding-left: 22px;
        margin-top: 6px;
    }

    .order-history-restaurant-description {
        bottom: 10px;
        left: 10px;
    }

    .oh-contentWrap .order-history-list-main .order-history-card .order-total-individual {
        padding: 2.5vw 5.5vw;
        font-size: 2.5vw;
    }

    .oh-contentWrap .order-history-list-main .track-progress-btn {
        height: 8vw;
        font-size: 3vw;
        width: 30vw;
    }
    .oh-contentWrap .order-history-list-main .order-history-card {
        border-radius: 15px;
    }

    .order-history-right-main-card {
        top: 0;
        margin-left: 0;
    }

    .order-history-sub-card {
        height: 100%;
        box-shadow: none;
        margin-right: 0;
    }

    .order-history-main-card .order-history-ref-no {
        margin-right: 5px;
        margin-top: 20px;
    }

    .rest-detail-on-card .order-history-rest-name {
        font-size: 6.2vw;
    }

    .rest-detail-on-card .pull-left {
        font-size: 2.5vw;
    }

    .order-history-restaurant-description.custom-ohrd {
        margin-bottom: 0;
    }

    .order-history-main-card {
        height: 45vw;
    }
    
    .topic_con {
        padding: 4vw !important;
        font-size: 3.5vw !important;
    }

    .ohrn,
    .ohdp .pull-left {        
        font-size: 3vw !important;
    }
    
    .topic_info {
        display: block;
        margin-bottom: 20px;
    }

    .topic_info h1 {
        font-size: 4vw;
    }

    .topic_info span {
        font-size: 3vw;
    }

    .oilc {
        font-size: 15px !important;
    }

    .ohtp {
        font-size: 4vw !important;
    }

    .orc {        
        font-size: 3.2vw;
        margin-top: 11.5vw;
    }
    
    .oni,
    .oh-contentWrap .order-history-list-main .order-history-card .odi,
    .oti {        
        font-size: 16px !important;
    }

    .no_pad_ph {
        padding: 0 !important;
    }

    .rchk {
        margin-top: 75px;
        margin-bottom: 4vw;
    }    

    .topic_wrapper .inner_wrapper .och {
        font-size: 4vw;
    }

    .mocc {
        padding: 15px !important;
        margin-bottom: 30px !important;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5) !important;
    }

    .topic_wrapper .inner_wrapper .och {
        font-size: 4vw;
    }

    .meov .prn {
        font-size: 5vw;
        padding-bottom: 10px;
    }

    .topic_list li i {
        width: 4.8vw;
    }

    .topic_list li span {
        font-size: 3.6vw;
    }

    .topic_list li {
        margin-bottom: 10px;
    }

    .meov {
        padding: 15px !important;
    }

    .bttnn {
        width: 100%;
        font-size: 22px;
        padding: 15px 0;
    }

    .ocac {
        padding: 0 !important;
    }

    .ocpd {
        padding: 15px;
    }
    
    .topic_wrap {
        margin-top: 50px;
    }

    .rc {
        font-size: 4.64vw;
    }

    .padd {
        padding: 0 !important;
        margin-bottom: 20px !important;
    }

    .orco {
        width: 3vw;
        margin-right: 1vw;
        margin-bottom: 7px;
    }

    .phd {
        padding: 10px;
        align-items: flex-start;
    }

    .phd span {
        font-size: 3.54vw;
    }

    .topic_cont .topic_head i {
        width: 7vw;
    }

    .topic_cont .topic_body .topic_des .radio_bx label:before {
        top: 5px;
        left: -30px;
        width: 13px;
        height: 13px;
    }

    .topic_cont .topic_body .topic_des .radio_bx label {
        margin-left: 20px;
        font-size: 4.2vw;
    }

    .topic_cont .topic_body .topic_des>span {
        font-size: 3vw;
    }

    .topic_cont .topic_body .topic_des .low_core {
        width: 100%;
    }

    .topic_cont .topic_body>span {
        display: none;
    }

    .topic_cont .topic_body {
        padding: 10px;
    }

    .topic_cont .topic_body .topic_des .radio_bx {
        padding-bottom: 5px;
    }

    .topic_cont .topic_body .topic_des .radio_bx label i {
        margin-bottom: 0;
        line-height: 0;
    }

    .topic_cont .topic_body .topic_des .in_core input {
        width: 30%;
        height: 4.5vh !important;
        font-size: 3vw;
    }

    .card_form {
        font-size: 4.2vw;
        padding: 10px;
    }

    .card_form .text_box input,
    .card_form .text_box .form_wrap select,
    .site_form .txt_bx input {
        padding: 0 3vw;
        height: 5vh !important;
    }

    .card_form .text_box {
        margin-right: 0;
    }

    .card_form .text_box_wrap {
        margin-right: 0;
    }

    .card_form .text_box_wrap .text_box {
        margin-right: 11vw;
    }

    .card_form .text_box .form_wrap select {
        background: url(../images/icons/Dishrating/ico_15.png) no-repeat 50px center !important;
        background-size: 10px auto !important;
    }

    .card_form .sub_bx input {
        width: 36vw;
        line-height: 40px;
        font-size: 4vw;
    }

    .topic_cont .topic_head i.add {
        width: 8px;
    }

    // .adcd h2 {
    //     font-size: 5.3vw !important;
    // }

    .i_val {
        font-size: 3vw !important;
    }

    .pls_btn {
        line-height: 32px !important;
    }

    .adcp {
        padding-top: 5px;
    }

    .adcp p {
        font-size: 5.5vw !important;
        text-align: right;
    }

    .pob {
        left: 0;
    }

    .topic_zip h6 {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .topic_zip .tip_list li {
        font-size: 3.2vw;
        margin-right: 5px;
        margin-left: 5px;
        line-height: 30px;
    }

    .topic_zip .tip_list {
        margin-right: -5px;
        margin-left: -5px;
    }

    .topic_zip {
        margin-bottom: 20px;
    }

    .phd a {
        font-size: 3.09vw;
    }

    .orit {
        padding: 0 !important;
    }

    .pad_bot_60 {
        padding-bottom: 60px;
    }

    .addCardSection.active {
        height: 245px;
    }

    .site_form .txt_bx textarea {
        height: 15vh !important;
    }

    .site_form .txt_bx input {
        font-size: 3vw;
    }

    .site_form .sub_bx input {
        width: 25vw;
        font-size: 2.5vw;
    }

    .sel_wrap .sel_bx {
        font-size: 16px;
        margin-right: 8vw;
    }

    .sel_wrap .sel_bx select {
        background: url(../images/icons/Dishrating/ico_5.png) no-repeat 77px center !important;
        background-size: 15% auto !important;
    }

    .tpb {
        height: 10vw !important;
        font-size: 16px !important;
        width: 35vw !important;
    }

    .oht {
        font-family: $new-font-medium !important;
    }

    .fii {
        margin-bottom: 15px;
    }

    .topic_bx {
        width: 100%;
    }

    .topic_bx .topic_db {
        padding: 0 2vw;
        margin-top: 1vw;
        width: 100%;
    }

    .topic_bx .topic_db li h1 {
        font-size: 2vw;
    }

    .topic_bx .topic_db li {
        padding: 1.5vw 0;
    }
    .topic_bx .topic_db li a {
        width: 1.8vw;
    }

    .grb {
        background: white;
        height: auto;
        }
       
        .glt {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        }
        
        .pltst h1 {
        font-size: 40px;
        }
        
        .pltst p {
        font-size: 25px;
        }
       
        .gltsb p {
        font-size: 20px;
        }
       
        .section .main_wrapper {
        width: 100%;
        padding: 0 20px;
        }
       
        .section .main_wrapper .topic_title h1 {
        font-family: $new-font-medium;
        font-size: 20px;
        }
       
        .section .main_wrapper .topic_wrapp .in_cont a .core_wrap {
        padding: 0 50px;
        }
       
        .section .main_wrapper .topic_wrapp .in_cont {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 60px;
        }
       
        .section .main_wrapper .topic_wrapp {
        display: block;
        margin-right: 0;
        margin-left: 0;
        }
       
        .section .main_wrapper .topic_wrapp .in_cont a .core_wrap.pad_lt_rt {
        padding: 0 95px;
        }
       
        .row.padtlr {
        padding: 0 20px;
        }
       
        .fht,
        .fdh {
        font-size: 20px !important;
        }
       
        .faqc {
        width: 100%;
        }
       
        .pdef {
        margin-bottom: 20px !important;
        }
}



/*Samll_Phone_Potrait_And_Landscape------------*/

@media all and (max-width: 410px ) {

    .bttn {
        line-height: 36px;
    }
    .sel_wrap {
        display: flex;
        justify-content: space-between;
    }
    .sel_wrap .sel_bx {
        margin-right: 10px;
        width: 45%;
    }
    .sel_wrap .sel_bx:last-child {
        margin-right: 0;
    }
    
    .sel_wrap .sel_bx select {
        width: 90px;
        background: url(../images/icons/Dishrating/ico_5.png) no-repeat 70px center !important;
        background-size: 11% auto !important;
    }

    .addCardSection.active {
        height: 255px;
    }
    .glt {
        padding: 25px;
        }
       
        .pltst h1 {
        font-size: 35px;
        }
       
        .pltst p {
        font-size: 22px;
        }
       
        .section .main_wrapper .topic_wrapp .in_cont a .core_wrap {
        padding: 0 30px;
        }
       
        .section .main_wrapper .topic_wrapp .in_cont a .core_wrap.pad_lt_rt {
        padding: 0 75px;
        }
}

@media all and (max-width: 410px ) and (max-height: 667px) {
    .addCardSection.active {
        height: 235px;
    }
}



/*Small_Phone_Potrait*/

@media all and (max-width: 480px ) {
    .rating-review-main .rating-review-restarant-name .rating-review-order-no {
        font-size: 16px !important;
    }
    .rating-review-restarant-title {
        font-size: 22px !important;
    }
    .rating-review-main .rating-review-price, .rating-review-main .rating-review-date .pull-left {
        font-size: 16px !important;
    }

}

@media all and (max-width: 360px ) {
    

    .sel_wrap .sel_bx {
        margin-right: 11vw;
    }

    .addCardSection.active {
        height: 225px;
    }
    
    .fii {
        margin-bottom: 10px;
    }
}



/*iphone_5_SE_And_Smaller_Phone_Potrait_Only*/

@media all and (max-width: 320px ) {

    .ct {        
        font-size: 3vw !important;
        line-height: 13px !important;
    }

    .rron {         
        font-size: 3.5vw !important;
    }

    .rrd div {           
        font-size: 3.5vw !important;
    }
    
    .rrp {        
        width: 60px !important;
    }

    .bttn {
        line-height: 32px !important;
    }

    .sel_wrap .sel_bx select {
        width: 85px;
        background: url(../images/icons/Dishrating/ico_5.png) no-repeat 65px center !important;
        background-size: 11% auto !important;
    }

    .sel_wrap .sel_bx {
        margin-right: 6vw;
    }

    .topic_con {    
        font-size: 4.5vw !important;
    } 

    .ohtp {
        font-size: 5vw !important;
    } 

    .addCardSection.active {
        height: 210px;
    }

    .glt {
        padding: 15px;
        }
       
        .pltst h1 {
        font-size: 30px;
        }
       
        .pltst p {
        font-size: 20px;
        }
       
        .section .main_wrapper .topic_wrapp .in_cont a .core_wrap {
        padding: 0;
        }
       
        .section .main_wrapper .topic_wrapp .in_cont a .core_wrap.pad_lt_rt {
        padding: 0 49px;
        }
       
        .section .main_wrapper .topic_wrapp .in_cont p {
        padding: 0px 20px;
        }
}

.increment-value__or{
    margin-top: 0!important;
}
.see-rating-review-detail__or{
    min-height: 32vh;
}
.gd-scroller{
    max-height: 85vh;
    overflow-y: auto;
}