.rating1{width: 50%; margin-left: 10px;}

/*card management list*/
.card-image {
    width: 60px;
    display: inline-block;
}

.wrapperContentStyle
{
    a{
        font-family: $new-font-medium;
        color: #333;
    }
}

.delete-card {
    cursor: pointer;
    display: inline-block;
}

.edit-card-img {
    display: inline-block;
}

.custom-dialog {
    margin-top: 25vh;
}

.card-number-img {
    width: 5vw;
    top: -15px;
    right: 15px;
    position: absolute;
}

.cardnumber-text-box {
    padding-right: 70px;
}

.delete-card-warning-msg {
    color: #454545;
    font-size: 1.2vw;
    background-image: url("../images/icons/Error/error.png");
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 40px;
    background-position: 0px center;
    font-size: 1vw;
}

/*vertically align dialog box */
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;

    pointer-events: none;
}
.vertical-align-center1 {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    max-width: inherit;
    height:  inherit;
    margin: 0 auto;
    pointer-events: all;
}
.signup-box{height: 130% !important;}

/*vertically align dialog box ends*/

.popup-cancel-btn{
  background-color: #9f9f9f;
  color: $white;
  padding: 4px 20px;
  font-family:OpenSans-Light;
  font-size: 0.9vw;
}

.popup-cancel-btn:hover {
    color: $white;
}

.popup-delete-btn {
    background-color: $primary-color;
    color: $white;
    padding: 4px 20px;
    font-family: OpenSans-Light;

font-size: 0.9vw;}

.popup-delete-btn:hover {
    color: $white;
}

.delete-modal-body {
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.modal-backdrop {
    background: transparent;
}

/*card management list ends*/

/***** Restaurant home page *****/
/*** header starts ***/
.custom-navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.04);
    height: 73px;
    // border-top: 3px solid #658258;
    border-radius: 0px;
    background-color: $white;
    z-index: 1030;
}
.navbar
{
    margin-bottom: 0px;
}

.restaurant-logo {
    width: 50px;
}

.custom-navbar-brand {
    display: inline-block;
    height: auto;
    float: left;
    padding: 8px 15px;
}

.navbar-list-img {
    width: 32px;
    height: 32px;
}

.navbar-right-links {
    padding: 5px 0px;
}

.navbar-rightLink {
    li{
        a{
            padding: 0px; 
        }
    }
}

.custom-navbar-inverse .navbar-right-links a {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer; padding-top: 19px;
}

.user-profile-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    @include responsive(xsphone) {
        width: 35px;
        height: 35px;
    }
}

.custom-navbar-inverse .avatar-main {
    padding: 0 10px !important;
}

.rating-icon {
    width: 1.7vw;
    color: #0d0606;
    margin-top: -8px;

}

.restaurant-location {
    font-size: 0.9vw;
    color: #0d0606;
    opacity: 0.7;
}

.address-img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    color: #0d0606;
}

.address-content {
    font-size: 0.9vw;
    color: #0d0606;
    opacity: 0.7;
font-size: 0.9vw;
}

.restaurant-banner-img {
    transition: transform .5s ease;
}

.heart-fill-image {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 2.5vw;
    z-index: 1;
}

.restaurant-banner-img:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.restaurant-name {
    color: $black;
    font-size: 2.2vw;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 14.5vw;
    position: relative;
}

.restaurant-name::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
    box-shadow: 0 0 55px 55px rgb(255, 255, 255);
}

.restaurant-rating {
    font-size: 1.7vw;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px #eee;
}

/*.left-rectangle-shape:before{

}*/
.left-rectangle-shape {
    width: 9vw;
    height: 30px;
    position: relative;
    background: $primary-color;
    display: inline-block;
    font-size: .9vw;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    text-shadow: 0px 0px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2px;
}

.left-rectangle-shape:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 13px solid white;
    border-top: 13px solid transparent;
    border-bottom: 16px solid transparent;
}
#myNavbar
{
    position: relative;
}
.search-main-area
{
    display: inline-block;
    position: absolute;
    // left: 50%;
    // transform: translateX(-62%);
    right: 26%;
    transition: .4s all;
    height: 73px;
    background: #fff;
    @include responsive(xxbigger){
        right: 28%;
    }
    @include responsive(xxbig){
        right: 31%;
    }
    @include responsive(xbig){
        right: 36%;
    }
    @include responsive(tab){
        right: 37%;
    }
    @include responsive(smtab){
        right: 37%;
    }
}
.search-main-area__m{
    position: static
}
.expandedItemShadowLeft{
    -webkit-box-shadow: 0px 0px 18px 2px rgba(189,189,189,0.65);
    -moz-box-shadow: 0px 0px 18px 2px rgba(189,189,189,0.65);
    box-shadow: 0px 0px 18px 2px rgba(189,189,189,0.65);
    z-index: 1032;
}
.expandedItemShadowRight
{
    &::after{
        content: "";
        position: absolute;
        background-color: $white;
        left: 0;
        height: 24px;
        width: 100%;
        bottom: -8px;
    }
}
.expandedAreaShadow
{ 
    &::before{
        content: "";
        
    }
}


.search-location {
    // position: absolute;
    text-align: center;
    // width: 92%;
    // top:0px;
    font-size: 1.5vw;
    left: 0px;
    height: 73px;
    display: inline-block;
    border-right: 1px solid $extra-light-gray;
    border-left: 1px solid $extra-light-gray;
}


.search-text {
    display: inline-block;
    color: $heading-color;
    border: 0px;
    border-bottom: 1px solid $primary-color;
    font-size: 18px;
    // width: 27vw;
    min-width: 200px;
    max-width: 533px;
    padding: 10px 15px 10px 10px;
    margin-bottom: 0px;
    /*  max-width: 100%;
  min-width: 30vw; */
    font-family: $new-font-medium;
    cursor: pointer;
    height: 73px;
    line-height: 46px;
    .search-truncated
    {

    }
}

.search-result {
    position: absolute;
    z-index: 10;
    background-color: $white;
    display: block;
    width: 94%; 
    top: 47px;
}

.search-result li,
.search-result div {
    padding: 8px 10px;
    color: $heading-color;
    font-family: $new-font-regular;
    cursor: pointer;
    z-index: 1;
    transition: all .4s;
} 

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #cccccc40 !important;
    color: $white;
}

.search-expand-form
{
    margin-top: 10px;
}

/*** Restaurant search form ***/
.header-main {
    position: relative;
}

.rsd-bg-custom
{
    background-color: $white;
    width: 535px;
    margin: 0 auto !important;
    float: none;
    padding: 6px 30px 20px 30px; 
    -webkit-box-shadow: 0px 0px 10px 5px rgba(189,189,189,0.65);
-moz-box-shadow: 0px 0px 10px 5px rgba(189,189,189,0.65);
box-shadow: 0px 0px 10px 5px rgba(189,189,189,0.65);

}
.expandedSearchArea
{
    &::before{
        content: "";
    } 
}

.restaurant-search-dropdown {
    // transition: transform .5s ease;
    // left: 0px;
    // right: 0px;
    // position: fixed;
    // z-index: 999;
    // width: 100%;
    // height: 100vh;
    // // background-color: #0000001f;
    // margin: 0 auto;

    // top: 73px;
    display: none;
    position: absolute;
    left: 0px;
    margin-top: -5px !important;
    overflow: visible !important;
}

.restaurant-error-message {
    color: #ff8610;
    font-size: 1.2vw;
    background-image: url("../images/icons/Error/error.png");
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 34px;
    background-position: 0px center;
}

.restaurant-error-message span {
    width: 34vw;
    display: inline-block;
    float: left;
    font-size: 1.3vw;
}

.restaurant-error-message img {
    width: 1.3vw;
    cursor: pointer;
}

.restauant-error-message {
    background-image: url("../images/goDysh-dashboardBG.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-position: right;
}

.mobile-restaurant-search-dropdown {
    transition: transform .5s ease;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 99999;
    background: $white;
    top: 64px;
    display: none;
}
.godysh-card-design .card-image .img-responsive {
    /* object-fit: cover; */
    width: 100%;
}

.mobile-restaurant-search-dropdown:before {
    /*background-image: url("../images/goDysh-dashboardBG.jpg");*/
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-position: right;
}

.restaurant-search-list {
    position: relative;
}

.boder-tab-list {
    position: absolute;
    width: 100%;
    bottom: -1px;
    margin-bottom: 0px;
    height: 6px;
    background-color: #d8d8d8;
    opacity: 0.6;
    border-radius: 10px;
}

.tab-border {
    display: none;
    width: 100%;
    height: 6px;
    color: $white;
    background-color: $white;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.restaurant-dish-tabs {
    display: block;
    border-bottom: 0px;
}

.restaurant-dish-tabs li {
    width: 47%;
    color: #d4cdcd;
}

.restaurant-search-dropdown .restaurant-dish-tabs li a {
    border: 0px;
    color: $black;
    padding-bottom: 0;
    font-family: "OpenSans-Light";
    padding-left: 0;

}

.restaurant-search-dropdown .restaurant-dish-tabs .active a,
.restaurant-search-dropdown .restaurant-dish-tabs .active a:focus {
    background-color: transparent;
    color: $black;
    border: 0px;
    font-family: "OpenSans-SemiBold";
}

.restaurant-dish-tabs .active .tab-border {
    display: block;
}

.restaurant-search-dropdown .restaurant-dish-tabs .active:hover a {
    border: 0px;
    color: $black;
}

.restaurant-search-dropdown .restaurant-dish-tabs li:hover a {
    background-color: transparent;
}


.mobile-restaurant-search-dropdown .restaurant-dish-tabs li a {
    border: 0px;
    color: $white;
    font-size: 2vw;
    padding-bottom: 5px;
    font-family: "OpenSans-Light";
    color: #b6b6b6;
}

.mobile-restaurant-search-dropdown .restaurant-dish-tabs .active a,
.mobile-restaurant-search-dropdown .restaurant-dish-tabs .active a:focus {
    background-color: transparent;
    color: $black;
    border: 0px;
    font-family: "OpenSans-SemiBold";
}

.mobile-restaurant-search-dropdown .restaurant-dish-tabs .active:hover a {
    border: 0px;
    color: $black;
}

.mobile-restaurant-search-dropdown .restaurant-dish-tabs li:hover a {
    background-color: transparent;
}

.mobile-restaurant-search-dropdown .boder-tab-list,
.mobile-restaurant-search-dropdown .tab-border {
    border-radius: 0px;
}

.restaurant-form-main {
    margin-top: 5px;
}

.secondary-location-input {
    background-image: url("../images/icons/Search/gps.png");
    background-position: bottom 4px left 4px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 40px;
}

.primary-loc-image {
    float: right;
    position: absolute;
    top: 9px;
    right: 20px;
    cursor: pointer;
    width: 26px;
}
input.form-control.input-lg.secondary-location-input.autosearch {
    height: 45px;
    font-size: $base-font;
    background-color: #F9F9F9;
    font-family: $new-font-regular;
    border: none;
    border-radius: 0;
    line-height: 45px;
    box-shadow: none;
    background-position: bottom 10px right 50px;
    background-size: 24px;
    padding: 10px 75px 10px 16px;
}

.restaurant-form-main .input-group .secondary-location-input {
    width: 100%;
    border-radius: 5px;
}

.restaurant-form-main .input-search-button {
    background-color: $light-green;
    border-color: $light-green;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    z-index: 9;
    text-align: center;
    line-height: 41px;
}

.input-search-button img {
    width: 10px;
}
input.input-lg.form-control.primary-location
{
    height: 45px;
    font-size: $base-font;
    background-color: #F9F9F9;
    font-family: $new-font-regular;
    border: none;
    border-radius: 0;
    line-height: 45px;
    box-shadow: none;

}

.collapse-image {
    width: 25px;
    height: 15px;
    cursor: pointer;
    margin-bottom: 0px;
}

.collapse-search-list {
    margin-top: 0;
}
.expandedArrowRotate
{
    transform: rotate(180deg);
    transition: all .4s;
}
.filter-toggle-active {
    display: none;
}

/*** Restaurant search form ends ***/
/*** header ends ***/

.restaurant-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 125px;
}

/*.restaurant-container .restaurant-details-block:nth-child(6n+2){
  clear: both;
}*/
/***** Filter view *****/
.restaurant-search-list {
    position: relative;
}

.filter-head {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.filter-main {
    display: none;
    position: fixed;
    top: 80px;
    right: 1%;
    color: $white;
    height: 100%;
    transition: all .6s;
    padding: 10px;
    padding-bottom: 0px;
    min-height: 100vh;
}

/* Modified 13SEP2019 */
.filter-blur {
     /* filter: blur(1px);
    position: fixed !important;
    margin-left: -45%;
    width: 90%;
    left: 50%;
    top: 50px; */
}

/* Modified 13SEP2019 */
.filter-bg-fixed {
    position: fixed;
    margin-left: -45%;
    width: 90%;
    left: 15%;
}

.mobile-filter-main {
    display: none;
    position: absolute;
    top: -30px;
    right: -10px;
    color: $white;
    height: 100%;
    transition: all .9s;
    padding: 10px;
    padding-left: 0px;
    z-index: 11111;
}

.filter-inside {
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Modified 13SEP2019 */
    /*background-image: url("../images/goDysh-dashboardBG.jpg");*/
}

.filter-inside:before {
    /*background-image: url("../images/goDysh-dashboardBG.jpg");*/
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-position: right;
}

.filter-head-content {
    padding: 13px 0px;
    margin: 0px;
}
.filter-back img {
    width: 15px;
    cursor: pointer;
}
.font-bold.font-12 {
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 6px;
}

.title-font
{
  font-size: $title-head;
  font-family: $bold-font;
  color: $base-color;
  margin-bottom: 5px;
  @include responsive(xsphone) {
      font-size: $title-head - 6px;
  }
} 

p.font-10 {
    font-size: 13px;
    text-align: justify;
}

/* Modified 13SEP2019 */
.filter-done {
     font-size: 16px !important;
    font-weight: 300;
    cursor: pointer;
    margin-top: 10px;
}

/* Modified 13SEP2019 */
.filter-border {
    display: block;
    height: 1px;
    background-color: $white;
    opacity: 0.4;
}

.filter-clear-all {
    cursor: pointer;
    margin-top: 15px;
font-size: 15px;
}

.custom-round-button {
    border-radius: 17px;
    background-color: transparent;
    color: $white;
    font-size: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
}

.filter-button-group {
    padding-left: 25px;
    margin-top: 25px;
}

.filter-button-group li {
    margin-bottom: 15px;
}

.filter-button-group li button:hover,
.filter-button-group li button:focus {
    /* background-color: $primary-color;
  border-color: $primary-color; */
    color: $white;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.blue-button,
.blue-button:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;
}

.blue-button:focus {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: $white !important;
}

.opacity7 {
    opacity: 0.7;
}

/*range slider css*/
/** FF*/
/* .range-slider-main{
  padding-left: 25px;
  margin-top: 9px;
} */
.dish-range-main {
    margin-top: 9px;
}

.edit-profile-modal .photo__options .photo__zoom {
    width: 50%;
    /*margin-top: 1vw;*/
}

.label-rating {
    margin-right: 26px;
}

/* input[type="range"]{
  background-color: transparent;
  display: inline-block;
  width: unset;
} */

/*input[type="range"]::-moz-range-progress {
  background-color: $white;
}
input[type="range"]::-webkit-progress-value {
   background-color: $white;
}
input[type="range"]::-moz-range-track {
  background-color: rgba(255,255,255,0.5);
}*/
/* IE*/
/*input[type="range"]::-ms-fill-lower {
  background-color: $primary-color;
}
input[type="range"]::-ms-fill-upper {
  background-color: rgba(255,255,255,0.5);
}
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: $primary-color;
  z-index: 400;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: blue;
  margin-top: -4px;
  z-index: 400;
}*/
.slider {
    -webkit-appearance: none;
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0.7) 60%);
    outline: none;
    opacity: 1;
    /*-webkit-transition:0.2s;
  transition: opacity 0.2s;*/
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
    margin-top: 9px;

}

/*chrome and opera*/
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: $primary-color;
    border-color: $primary-color;
    border-radius: 50%;
    cursor: pointer;
}

/*mozilla*/
.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: $primary-color;
    border-color: $primary-color;
    border-radius: 50%;
    cursor: pointer;
}

/*edge and ie*/
.slider::-ms-track {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: $primary-color;
    border-color: $primary-color;
    border-radius: 50%;
    cursor: pointer;
}

/* custom style range slider */
.rangeslider {
    background: rgba(255, 255, 255, 0.6);
}

.rangeslider--horizontal {
    height: 4px;
}

.rangeslider__handle {
    width: 15px;
    height: 15px;
    top: -6px !important;
    background-color: $primary-color;
    border-color: $primary-color;
}

.rangeslider_handle:before {
    content: "";
    position: absolute;
    background-color: #CB61CF;
    width: 100%;
    height: 100px;
    right: 0;
}

.rangeslider__fill {
    background-color: $white;
}

.range-slider-row {
    padding-left: 30px;
}

.range-slider-height .rangeslider {
    height: 13px;
    top: -8px;
    background: transparent;
    box-shadow: none;
}

.range-slider-height .rangeslider__fill {
    width: 142.2px;
    background-color: transparent !important;
    box-shadow: none;
}

.range-slider-height .rangeslider__handle {
    background: transparent;
    border: transparent;
}

/*custom style range slider ends */

/*range slider ends*/
.mobile-close-results {
    width: 15px;
    margin-top: 20px;
    cursor: pointer;
}

/***** Filter View ends**/
/***** Restaurant home page ends *****/

.mobile-logo
{
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 3px;
    .restaurant-logo
    {
        max-width: 38px;
    }
}
.mobile-toggle
{
    top: 8px;
}
.mobile-right-nav
{
    text-align: right;
}
.mobile-right-nav-item
{
    list-style-type: none; 
    padding-left: 0px;
    margin-bottom: 0px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 8px;
    li{
        display: inline-block;
        float: left;
        margin: 0px 5px;
        @include responsive(mediumbreak) {
            margin-left: 10px;
        }
        @media (max-width:360px){
            margin-left: 0;
        }
    }
}
.cart-number
{
    @include responsive(xsphone) {
        top: 10px !important;
        left: 0px !important;
    }
}
.go-bag
{
    @include responsive(mediumbreak) {
        width: 30px;
    }
}

.track-order-mobile
{
    margin: 0px !important;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
    display: inline-block;
    text-align: center;
    border: #737373 1px solid !important;
    padding: 0px !important;
    @include responsive(mediumbreak) {
        width: 35px;
        height: 35px;
    }
}
.topNav-strip
{
    border-bottom: #F2F2F2 1px solid;
}
.mobile-go-bag
{
    position: relative;
    a{
        display: inline-block;
        img{
            top: -1px; 
        }
        span.restaurant-cart-number
        {
            top: 14px;
            left: 3px
        }
    }
}
.mobile-search-area
{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.07);
    padding: 10px 30px; 
}
.mobile-res-name
{
    font-size: $base-font;
    font-family: $new-font-medium;
    margin-top: 0px;
    color: $heading-color;
    margin-bottom: 0px; 
}
.mobile-sub-address
{
    color: $heading-color;
    font-size: 18px;
    font-family: $new-font-medium; 
    margin-bottom: 0px;
    margin-top: 0px;
    display: table;
    width: 100%;
    height: 35px;
}

.mobile-search-arrow
{
    position: absolute;
    top: -2px;
    right: 0px; 
    padding: 10px;
}
.mobile-search-map-icon
{
    display: inline-block;
    position: relative;
    top: -6px;
    img{
        width: 14px;
    }
}
.mobile-map-pin-place-area
{
 
}
.mobile-navigation
{
    width: 100%;
    margin: 0px !important; 
}
.mobile-nopadding
{
    padding: 0px;
}
.mobile-search-expand-icon
{
    position: absolute;
    top: 7px;
    right: 20px;
    border: #BDC9B8 1px solid;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    outline: none;
    line-height: 15px;
    img{
        margin: 0px;
        float: none;
    }
}
.no-marginb
{
    // margin-bottom: 0px;
}
.search-btn-expand-list__m{
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #eaeaea;
        right: 8px;
        top: -10px;
    }
}