.privacy_holder {
    padding: 100px 0;
    text-align: left;
}
.privacy_holder{
    p {
        font-size: 16px;
        font-family: $new-font-regular;
        color: $base-color;
        strong {
            font-family: $new-font-medium; 
            font-weight: 700;
        }
        a {
            color: $fadedblack;
            text-decoration: underline;
            &:hover {
                color: $base-color;
                text-decoration: underline !important;
            }
            &:focus {
                color: $base-color;
                text-decoration: underline !important;
            }
        }
    }
    h1 {
        font-family: $new-font-semibold;
    }
    h2 {
        font-family: $new-font-medium;
    }
    &_step {
        margin-bottom: 50px;
    }
    ul {
        margin-bottom: 20px;
        list-style-type: disc;
        padding-inline-start: 18px;
        font-family: $new-font-regular;
        font-size: 16px;
        li {
            strong {
                font-family: $new-font-medium;
                color: $fadedblack;
            }
            a {
                color: $fadedblack;
                text-decoration: underline;
                &:hover {
                    color: $base-color;
                    text-decoration: underline !important;
                }
                &:focus {
                    color: $base-color;
                    text-decoration: underline !important;
                }
            }
        }
    }
}